{% extends 'destinations/base.html' %}
{% load i18n staticfiles %}
{% block title %}{% trans 'User information' %}{% endblock %}
{% block content %}
<div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-md-5">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>{% trans "Profile Detail" %}</h5>
                        <div class="ibox-tools">
                            <a href="{% url 'accounts:user-update' object.pk %}" class="btn btn-success color-white">
                            <i class="fa fa-edit"></i>
                            {% trans "Edit" %}
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content no-padding border-left-right">
                        <center>
                            <img alt="image" class="img-fluid" src="{% if object.avatar %}{{object.avatar.url}}{% else %}{% static 'img/user.png' %}{% endif %}" width="80">
                        </center>
                    </div>
                    <div class="ibox-content profile-content">
                        <h4 class="text-center"><strong>{{ object.get_full_name.capitalize }}</strong></h4>
                        <h5 class="text-left">
                            <strong>
                            {% if object.username != None %}
                            {{ object.username }}
                            {% endif %}
                            </strong>
                        </h5>
                        <br>
                        <p><i class="fa fa-envelope"></i> &nbsp; {{ object.email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-7">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>{% trans "Sessions" %}</h3>
                                <div class="ibox-travel-tools">
                                    <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content ibox-heading">
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'Last login' %}:</dt>
                                    <dd>{{ object.last_login }}</dd>
                                    <dt>{% trans 'Date of registration' %}:</dt>
                                    <dd>{{ object.date_joined }}</dd>
                                    <dt>{% trans 'Phone' %}:</dt>
                                    <dd>
                                        {% if object.phone != None %}
                                        {{ object.phone }}
                                        {% else %}
                                        {% trans "Not registered yet" %}
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>{% trans "Direction" %}</h3>
                                <div class="ibox-travel-tools">
                                    <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content ibox-heading">
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'Country' %}:</dt>
                                    <dd>
                                        {% if object.country != None %}  
                                        {{ object.country }}
                                        {% else %}
                                        {% trans "Not registered yet" %}
                                        {% endif %}
                                    </dd>
                                    <dt>{% trans 'State' %}:</dt>
                                    <dd>
                                        {% if object.state != None %}   
                                        {{ object.state }}
                                        {% else %}
                                        {% trans "Not registered yet " %}
                                        {% endif%}
                                    </dd>
                                    <dt>{% trans 'Postal code' %}:</dt>
                                    <dd>
                                        {% if object.postal_code %}  
                                        {{ object.postal_code }}
                                        {% else %}
                                        {% trans "Not registered yet " %}
                                        {% endif %}
                                    </dd>
                                    <dt>{% trans 'Language' %}:</dt>
                                    <dd>{{ object.get_language_display }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h3>{% trans "Plan" %}</h3>
                                <div class="ibox-travel-tools">
                                    <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content ibox-heading">
                                <dl class="dl-horizontal">
                                    <dt>{% trans 'Plan' %}:</dt>
                                    <dd>
                                        {% if object.plan != None%}
                                            {{ object.plan }}
                                        {% else %}
                                            {% trans "Not registered yet " %}
                                        {% endif %}
                                    
                                    </dd>
                                    <dt>{% trans 'Company name' %}:</dt>
                                    <dd>
                                        {% if object.business_name != None %}
                                            {{ object.business_name }}
                                        {% else %}
                                            {% trans "Not registered yet " %}
                                        {% endif %}
                                    
                                    </dd>
                                    <dt>{% trans 'Company address' %}:</dt>
                                    <dd>
                                        {% if object.business_address != None %}
                                            {{ object.business_address }}
                                        {% else %}
                                            {% trans "Not registered yet " %}
                                        {% endif %}
                                    </dd>
                                    <dt>{% trans 'Position in the company' %}:</dt>
                                    <dd>
                                        {% if object.business_position != None %}
                                            {{ object.business_position }}
                                        {% else %}
                                            {% trans "Not registered yet " %}
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'destinations/footer.html' %}
</div>
{% endblock%}
