{% extends 'destinations/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Cambiar Contraseña' %}{% endblock %}

{% block content %}
  <div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}

    <div class="wrapper wrapper-content">
      <div class="middle-box text-center animated fadeInRight" style="margin-top: 0;">
        <div class="ibox">
          <div class="ibox-content">
            <h3 class="font-bold">{% trans 'Cambiar contraseña' %}</h3>
            <p>
              {% blocktrans %}
                Ingrese la contraseña vieja, la contraseña nueva y la confirmación de la nueva contraseña, para cambiar
                su contraseña.
              {% endblocktrans %}
            </p>
            <div class="row">
              <div class="col-lg-12">
                {% include 'accounts/non_field_errors.html' %}
                <form class="m-t" role="form" method="post">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="form-group">
                      <label class="sr-only" for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field }}
                      {{ field.help_text }}
                      {{ field.errors }}
                    </div>
                  {% endfor %}
                  <button type="submit"
                          class="btn btn-primary block full-width m-b">{% trans 'Cambiar contraseña' %}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'destinations/footer.html' %}
  </div>
{% endblock %}
