{% extends 'destinations/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Change Password' %}{% endblock %}

{% block content %}
  <div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}

    <div class="wrapper wrapper-content">
      <div class="middle-box text-center animated fadeInDown" style="margin-top: 0;">
        <div class="ibox">
          <div class="ibox-content">
            <h3 class="font-bold">{% trans 'Successful password change' %}</h3>
            <div class="error-desc">
              {% blocktrans %}
                His password was successfully changed.
              {% endblocktrans %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'destinations/footer.html' %}
  </div>
{% endblock %}
