{% extends "accounts/base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent u-header--abs-top">
        <div class="u-header__section">
            <div id="logoAndNav" class="container-fluid">
                <!-- Nav -->
                <nav class="navbar navbar-expand u-header__navbar">
                    <!-- White Logo -->
                    <img src="{% static 'img/logo-round-0.5x.png' %}" width="30">
                    <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white" href="index.html" aria-label="{% trans 'Front' %}">
                    <span class="u-header__navbar-brand-text">{% trans 'Travelposting' %}</span>
                    </a>
                    <!-- End White Logo -->
                    <!-- Button -->
                    <div class="ml-auto">
                        <a class="btn btn-sm btn-primary transition-3d-hover" href="/">
                        {% trans 'Go back' %}
                        </a>
                    </div>
                    <!-- End Button -->
                </nav>
                <!-- End Nav -->
            </div>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->
    <!-- ========== MAIN ========== -->
    <main id="content" role="main">
        <!-- Form -->
        <div class="d-flex align-items-center position-relative height-lg-100vh">
            <div class="col-lg-5 col-xl-4 d-none d-lg-flex align-items-center gradient-half-primary-v1 height-lg-100vh px-0">
                <div class="w-100 p-5">
                    <!-- Testimonials Carousel Main -->
                    <div class="mb-4">
                        <center>
                            <img src="{% static 'img/logo-round.png' %}" width="300">
                        </center>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">
                        <!-- Form -->
                        <form class="js-validate mt-5" novalidate="novalidate" method="post" role="form">
                                {% csrf_token %}
                                <!-- Title -->
                                <div class="mb-7">
                                  <h1 class="h3 text-primary font-weight-normal mb-0">
                                    {% blocktrans %}
                                    Forgot your <span class='font-weight-semi-bold'>password?</span>
                                    {% endblocktrans %}
                                  </h1>
                                  <p>{% trans 'Enter your email address below.' %}</p>
                                </div>
                                <!-- End Title -->
                                <!-- Form Group -->
                                <div class="js-form-message form-group">
                                  <label class="form-label" for="signinSrEmail">{% trans 'Email address' %}</label>
                                  <input type="email" class="form-control" name="email" id="signinSrEmail" placeholder="{% trans 'Email address' %}" aria-label="{% trans 'Email address' %}" required="" data-msg="{% trans 'Please enter a valid email address.' %}'" data-error-class="u-has-error" data-success-class="u-has-success">
                                </div>
                                <!-- End Form Group -->
                                <!-- Button -->
                                <div class="row align-items-center mb-5">
                                  <div class="col-4 col-sm-6">
                                    <a class="small link-muted" href="{% url 'accounts:login' %}">{% trans 'Back to sign in' %}</a>
                                  </div>
                                  <div class="col-8 col-sm-6 text-right">
                                    <button type="submit" class="btn btn-primary transition-3d-hover">{% trans 'Request Reset Link' %}</button>
                                  </div>
                                </div>
                                <!-- End Button -->
                              </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form -->
    </main>
    <!-- ========== END MAIN ========== -->
{% endblock %}
