{% extends "accounts/base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block extracss %}
  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/fontawesome-all.min.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/sticky-footer.css' %}">
{% endblock extracss %}
{% block body%}
<body class="gradient-half-primary-body-v1 mb-lg-0">
{% endblock body %}
{% block content %}
  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--bg-transparent u-header--abs-top">
    <div class="u-header__section">
      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="navbar navbar-expand u-header__navbar">
          <!-- Logo -->
          <img src="{% static 'img/logo-round-0.5x.png' %}" width="30">
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white"
             href="index.html" aria-label="{% trans 'Front' %}">
          <span class="u-header__navbar-brand-text">{% trans 'Travelposting' %}</span>
          </a>
          <!-- End Logo -->

          <!-- Button -->
          <div class="ml-auto">
            <a class="btn btn-sm btn-primary transition-3d-hover" href="{% url 'accounts:login' %}">
              {% trans 'Login' %}
            </a>
          </div>
          <!-- End Button -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="d-lg-flex" style="background: url({% static 'assets/img/bg-shapes/bg4.png' %}) no-repeat right;">
      <div class="container d-lg-flex align-items-lg-center min-height-lg-100vh space-bottom-2 space-top-4 space-bottom-lg-3 space-lg-0">
        <div class="w-lg-60 w-xl-50 mt-lg-9">
          <div class="mb-6">
            <h1 class="h2 text-white font-weight-normal"><i class="fas fa-check"></i> {% trans 'Your password has been changed successfully!' %}</h1>
            <p class="text-white-70">{% trans 'Come back to our website and enjoy all our new plans.' %}</p>
          </div>

          <a class="btn btn-white btn-wide text-primary transition-3d-hover" href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->
  </main>
  <!-- ========== END MAIN ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="u-sticky-footer">
    <div class="container space-bottom-1">
      <div class="row justify-content-between align-items-center">
        <div class="col-sm-5 mb-3 mb-sm-0">
          <!-- Copyright -->
          <p class="small text-white-70 mb-0">&copy; Travelposting 2019 All Rights Reserved Site Map Disclaimer. </p>
          <!-- End Copyright -->
        </div>

        <div class="col-sm-6 text-sm-right">
          <!-- Social Networks -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                 href="https://www.facebook.com/travelposting"
                 title="{% trans 'Follow us at Facebook' %}">
                <span class="fab fa-facebook-f btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                 href="https://instagram.com/travelposting24"
                 title="{% trans 'Follow us at Instagram' %}">
                <span class="fab fa-instagram btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                 href="https://twitter.com/travelposting"
                 title="{% trans 'Follow us at Twitter' %}">
                <span class="fab fa-twitter btn-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                 href="https://wa.me/494018203370"
                 title="{% trans 'Contact us via WhatsApp' %}">
                <span class="fab fa-whatsapp btn-icon__inner"></span>
              </a>
            </li>
          </ul>
          <!-- End Social Networks -->
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->


{% endblock %}
{% block extrajs %}

{% endblock %}
