{% extends "accounts/base.html" %}
{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent u-header--abs-top">
    <div class="u-header__section">
        <div id="logoAndNav" class="container-fluid">
            <!-- Nav -->
            <nav class="navbar navbar-expand u-header__navbar">
                <!-- White Logo -->
                <img src="{% static 'img/logo-round-0.5x.png' %}" width="30">
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white" href="/" aria-label="{% trans 'Front' %}">
                <span class="u-header__navbar-brand-text">{% trans 'Travelposting' %}</span>
                </a>
                <!-- End White Logo -->
                <!-- Button -->
                <div class="ml-auto">
                    <a class="btn btn-sm btn-primary transition-3d-hover" href="/" title="{% trans 'Go back' %}">
                    {% trans 'Go back' %}
                    </a>
                </div>
                <!-- End Button -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>
<!-- ========== END HEADER ========== -->
<!-- ========== MAIN ========== -->
<main id="content" role="main">
    <!-- Form -->
    <div class="d-flex align-items-center position-relative height-lg-100vh">
        <div class="col-lg-5  col-md-5 col-xl-4 d-none d-lg-flex align-items-center gradient-half-primary-v1 height-lg-100vh px-0">
            <div class="w-100 p-5">
                <!-- SVG Quote -->
                <center>
                    <img src="{% static 'img/logo-round.png' %}" width="300">
                </center>
                <!-- End SVG Quote -->
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">
                    <!-- Form -->
                    <form class="js-validate mt-5" role="form" method="post"> {% csrf_token %}
                        <!-- Title -->
                        <div class="mb-7">
                            <h1 class="h3 text-primary font-weight-normal mb-0">{% trans 'Welcome to' %}<span class="font-weight-semi-bold"> Travelposting</span></h1>
                            <p>{% trans 'Fill out the form to get started.' %}</p>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-dismissable alert-danger">
                                <ul>
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>
                                                <strong>{{ field.name|upper }}: {{ error|escape }}</strong>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <li>
                                            <strong>{{ error|escape }}</strong>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <!-- End Title -->
                        <!-- Form Group -->
                        <span >{% trans 'Do you have a Coupon?' %}</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <span ><span class="badge badge-success">{% trans 'Yes' %}</span></span>
                            </li>

                            <li class="list-inline-item"> 
                            <!-- Checkbox Switch -->
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                    <label class="custom-control-label" for="customSwitch3">
                                    </label>
                                </div>
                            <!-- End Checkbox Switch -->
                            </li>
                            <li class="list-inline-item">
                                <span class=""></span><span class="badge badge-danger">{% trans 'No' %}</span></span>
                            </li>
                        </ul>
                        {% for field in form %}
                        <!-- Form Group-->
                        <div class="js-form-message form-group">
                            {{ field }}
                            <span class="small u-has-error text-danger">{{ field.errors }}</span>
                            <span class="small u-has-success">{{ field.help_text }}</span>
                        </div>
                        <!-- End Form Group -->
                        {% endfor%}

                        <!-- Button -->
                        <div class="row align-items-center mb-5">
                            <div class="col-5 col-md-5 col-sm-6">
                                <span class="small text-muted">{% trans 'Already have an account?' %}</span>
                                <a class="small" href="{% url 'accounts:login' %}"
                                   title="{% trans 'Login' %}">{% trans 'Login' %}</a>
                            </div>
                            <div class="col-7 col-sm-6 text-right">
                                <button type="submit" class="btn btn-primary transition-3d-hover">{% trans "Create account" %}</button>
                            </div>
                        </div>
                        <!-- End Button -->
                    </form>
                    <!-- End Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Form -->
</main>
<!-- ========== END MAIN ========== -->
{% endblock content %}

{% block extrajs %}

<script src="{% static 'assets/js/components/hs.toggle-state.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of toggle state
        $.HSCore.components.HSToggleState.init('.js-toggle-state');
    });
</script>
{% endblock extrajs%}
