{% extends 'destinations/base.html' %}
{% load static i18n destinations_tags static %}
{% block title %}{% trans 'Mailbox - Travelposting' %}{% endblock %}
{% block extracss %}
<!-- FooTable -->
<link href="{% static 'dashboard/css/plugins/footable/footable.core.css'%}" rel="stylesheet">
<link href="{% static 'dashboard/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
{% endblock extracss%}
{% block content %}
<div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                {% include 'dashboard/mailbox/mailbox_menu_left.html' %}
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                    <h2>
                        {% trans "Sent Message" %}
                    </h2>
                </div>
                {% include "dashboard/mailbox/tablemain_sent.html"%}
            </div>
        </div>
    </div>
    {% include 'destinations/footer.html' %}
</div>

{% endblock content %}
{% block js %}
{{ block.super }}
{{ form.media.js }}
<!-- FooTable -->
<script src="{% static 'dashboard/js/plugins/footable/footable.all.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'dashboard/js/plugins/iCheck/icheck.min.js' %}"></script>
<script>    
    $(document).ready(function () {
     $('.i-checks').iCheck({
         checkboxClass: 'icheckbox_square-green',
             radioClass: 'iradio_square-green',
     });
    });
    
    
    $(document).ready(function () {
     $('.footable').footable();
     $('.footable2').footable();
    });
</script>
{% endblock js %}

