[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-environ = "*"
aldryn-newsblog = "*"
djangocms-column = "*"
djangocms-file = "*"
djangocms-link = "*"
djangocms-picture = "*"
djangocms-style = "*"
djangocms-snippet = "*"
djangocms-googlemap = "*"
djangocms-video = "*"
django-redis = "*"
django-registration = "*"
django-mptt = "*"
psycopg2-binary = "==2.7.7"
django-oauth-toolkit = "*"
django-paypal = "*"
django-rosetta = "*"
django-smtp-ssl = "*"
oauthlib = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
django-impersonate = "*"
ipdb = "*"
django-favicon-plus = "==0.0.8"
django-cors-headers = "*"
django-htmlmin = "*"
psycopg2 = "==2.7.7"
django-startapps-command = "*"
django-modeltranslation = "*"
django-money = "*"
py-moneyed = "*"
easy-thumbnails = "*"
django-bootstrap-datepicker-plus = "*"
django-jet = "*"
paypalrestsdk = "*"
django-nested-admin = "*"
django-summernote = "*"
django-rest-framework = "*"
django-filter = "*"
drf-writable-nested = "*"
html-json-forms = "*"
django-tellme = "*"

[requires]
python_version = "3.7"
