{% extends 'destinations/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Create Itinerary' %}{% endblock %}

{%block extracss%}
<link href="{% static 'dashboard/css/plugins/select2/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
{%endblock extracss%}

{% block content %}
  <div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{% trans "Itinerary" %}</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'dashboard:dashboard-index'%}">{% trans "Home"%}</a>
                </li>
                <li class="breadcrumb-item active">
                    <a>{% trans "List Itinerary" %}</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-title">
                </div>
              <div class="ibox-content">
                <div class="row">
                  <div class="col-sm-5 m-b-xs">
                  </div>
                  <div class="col-sm-4 m-b-xs">
                  </div>
                  <div class="col-sm-3">
                    <a class="btn btn-primary pull-right" href="{% url 'destinations:itinerary-create' %}">{% trans "Create new itinerary"%}</a>
                  </div>
              </div>
                    <div class="table-responsive">
                      <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                              <th>{% trans "Destination's name"%}</th>
                              <th>{% trans "Description"%}</th>
                              <th>{% trans "Details"%}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in itinerary_list %}
                            <tr>  
                                <td>{{ row.destination }}</td>
                                <td> {{ row.short_description }}</td>
                                <td>
                                  <span class="btn btn-danger btn-sm" onClick="delete_itinerary({{ row.id }})"><i class="fa fa-lg fa-trash "></i>{% trans "Delete" %}</span>
                                  <a href="{% url 'destinations:itinerary-edit' row.id %}" class="btn btn-success btn-sm"><i class="fa fa-lg fa-edit"></i>{% trans "Edit" %}</a>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </div>
              </div>
            {% include 'destinations/itinerary/modal_itinerary.html' %}

          </div>
        </div>
      </div>
    </div>
    {% include 'destinations/footer.html' %}
  </div>
{% endblock %}


{% block extrajs %}
  <script src="{% static 'dashboard/js/plugins/dataTables/datatables.min.js' %}"></script>
  <script src="{% static 'dashboard/js/plugins/dataTables/dataTables.bootstrap4.min.js'%}"></script>
  <script src="{% static 'dashboard/js/plugins/select2/select2.full.min.js' %}"></script>
  <script src="{% static 'dashboard/js/plugins/toastr/toastr.min.js' %}"></script>
    <!-- SUMMERNOTE -->
    <script src="{% static 'dashboard/js/plugins/summernote/summernote-bs4.js' %}"></script>
  <script>
    //Delete fuction
    function delete_itinerary(pk_i){
          swal({
              title: "{% trans "Are you sure?" %}",
              text: "{% trans "If you delete this itinerary you will not be able to recover it" %}",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "{% trans "Yes, delete it!" %}",
              closeOnConfirm: false
          }, function () {
            $.ajax({
                  method:'DELETE',
                  url:'{% url 'destinations:delete-itinerary' %}',
                  data:{
                    pk:pk_i,
                  },
                  beforeSend: function(xhr) {
                      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                  },
                  success: function (request) {
                  if(request.status==true){
                    swal("Deleted!", "Itinerary has been deleted.", "success");
                    setTimeout(function(){
                        window.location.href = "{% url 'destinations:itinerary-list' %}";
                    }, 2000);
                  }else{
                      swal("Error!", "{% trans "Has been not deleted"%}", "error");
                  }
                  }
              });
          });
    }

    //Reset the form.
    function resetForm(){
      $("#form-itinerary")[0].reset();
      $("#id_detail_itinerary").summernote("reset")
      $("#update_itinerary").hide()
      $("#create_itinerary").show()
      $("#body_form").css('display', 'none');
      $("#content_itinerary").removeClass('border-bottom');
    }


    function get_itinerary(pk){
      $.ajax({
                  url:'{% url 'destinations:get-itinerary' %}',
                  data:{
                    pk_i:pk,
                  },
                  beforeSend: function(xhr) {
                      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                  },
                  success: function (request) {
                  if(request.status==true){
                    $("#id_detail_itinerary").summernote("code",request.data.content)
                    $("#id_short_description").val(request.data.short_title)
                    $("#pk_i").val(request.data.pk)
                    $("#update_itinerary").show()
                    $("#create_itinerary").hide()
                    $("#body_form").css('display', 'block');
                    $("#content_itinerary").addClass('border-bottom');
                    table_itinerary.ajax.url("{% url 'destinations:get-itinerary' %}?destiny="+$("#select_destiny").val()).load()
                  }else{
                    swal("Error!", "{% trans "Could not load itinerary data for editing"%}", "error");
                  }
                  }
    });

    }



        $("#select_destiny").select2({
          placeholder: "{% trans 'Select a destiny' %}",
           ajax: {
                  url: "{% url 'destinations:get-itinerary' %}",
                  dataType: "json",
                  delay: 250,
                  data: function (params) {
                      return {
                          q: (params.term) ? params.term : "", // search term
                          page: params.page || 1
                      };
                  },
                  processResults: function (response) {
                      return {
                         results: response
                      };
                  },
                  cache: true
              },
              minimumInputLength: 0,
        }
        ).on('select2:select', function (e) {
          resetForm()
          table_itinerary.ajax.url("{% url 'destinations:get-itinerary' %}?destiny="+e.params.data.id).load()
        }); 


        $("#reset_itinerary").on('click', function(event) {
          event.preventDefault();
          resetForm()
        });


        $("#form-itinerary").submit(function( event ) {
            event.preventDefault();
            if($("#create_itinerary").is(":visible")){
                url = '{% url 'destinations:add-itinerary' %}'
                type = "POST"
            }else{
                url= '{% url 'destinations:update-itinerary' %}'
                type="PUT"
            }
            $.ajax({
                url: url,
                type: type,
                dataType: 'json',
                data: $(this).serialize(),
                beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
            })
            .done(function(request) {
                if(request.status ==false){
                    notificationErrorFormLabels(request.error)
                }else{
                    $('#itineraryModal').modal('hide');
                    notification('success',request.msg)
                    setTimeout(function(){
                        window.location.href = "{% url 'destinations:itinerary-list' %}";
                    }, 2000);
                }
            })
            .fail(function() {
                console.log("error");
            })
        });
  </script>
  <script>initSummernote();</script>
{% endblock %}
