{% extends 'destinations/base.html' %}
{% load static i18n %}
{% block title %}{% trans 'Create Itinerary' %}{% endblock %}

{%block css%}
{{ block.super }}
{{ form.media.css }}
<link href="{% static "inspinia/js/plugins/select2/select2.min.css" %}" rel="stylesheet">
<link href="{% static "inspinia/js/plugins/dataTables/datatables.min.css" %}" rel="stylesheet">
<link href="{% static "inspinia/js/plugins/toastr/toastr.min.css" %}" rel="stylesheet">
<link href="{% static "inspinia/js/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
{%endblock css%}

{% block content %}
  <div id="page-wrapper">
    {% include 'destinations/navbar_top.html' %}

        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                            <label class="font-normal">{% trans "Destiny"%}</label>
                    </div>

                    <div id="body_form" class="ibox-content">
                       <form id="form-itinerary" method="POST">
                            <input type="hidden" name="pk_i" id="pk_i" readonly />
                            {% csrf_token %}
                            <div class="form-group">
                                <select data-placeholder="{% trans "Choose a Destiny..."%}" class="chosen-select" name="destination" id="seleciit_destiny" tabindex="2" style ="width:100%" required="required">
                                    {% for destiny in destination_list %}
                                        <option value="{{ destiny.id }}"
                                            {% if destiny == object.destination %}selected="selected"{% endif %}>
                                            {{ destiny.name|capfirst }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="font-normal">
                                    {{form.short_description.label}}
                                </label>
                                {{form.short_description}}
                            </div>
                            <div class="form-group">
                                <label class="font-normal">
                                    {{form.detail_itinerary.label}}
                                </label>
                                {{form.detail_itinerary|safe}}
                            </div>
                            <div class="form-group row">
                                <button id="create_itinerary" class="btn btn-success pull-right" type="submit">{% trans "create a new itinerary"%}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
  </div>
    {% include 'destinations/footer.html' %}
{% endblock %}


{% block js %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static "inspinia/js/plugins/dataTables/datatables.min.js" %}"></script>
  <script src="{% static "inspinia/js/plugins/dataTables/dataTables.bootstrap4.min.js"%}"></script>
  <script src="{% static "inspinia/js/plugins/select2/select2.full.min.js" %}"></script>
  <script src="{% static "inspinia/js/plugins/toastr/toastr.min.js" %}"></script>
  <script src="{% static "inspinia/js/plugins/sweetalert/sweetalert.min.js" %}"></script>
  <script src="{% static "inspinia/js/notifications.js" %}"></script>
  <script>initSummernote();</script>
{% endblock %}
