{% extends 'destinations/base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Lista de Destinos' %}{% endblock %}
{% block css%}
    {{ block.super }}
    <style>
        .dataTables_filter, .dataTables_info { display: none; }
        .dataTables_length{ display: none; }
    </style>
    <link href="{% static "inspinia/js/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
{% endblock%}
{% block content %}
  <div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}

    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="p-w-md m-t-sm">
        <div class="row">
          <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                  <a id="create_map" class="btn btn-success pull-right" href="{% url 'destinations:create' %}">{% trans 'Registrar destino' %}</a>
                </div>
              <div class="ibox-content">
                <div class="table-responsive">
                  <table id ="tabla-destinos" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th data-filter="false">#</th>
                            <th>{% trans "Destination's name"%}</th>
                            <th>SKU</th>
                            <th>{% trans "Quantity Available"%}</th>
                            <th data-type="number">{% trans "Sale Price"%}</th>
                            <th data-filter="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'destinations:update' object.pk %}">{{ object.name }}</a>
                        </td>
                        <td>{{ object.details.inventario.sku }}</td>
                        <td>
                          {% if object.details.inventario.quantity %}
                            <p>
                              <span class="text-navy">{% trans 'Hay existencia' %}</span>
                              <span>({{ object.details.inventario.quantity }})</span>
                            </p>
                          {% endif %}
                        </td>
                        <td>
                          {% if object.details.general.sale_price %}
                            <del><span class="label label-danger">{{ object.details.general.regular_price }}</span></del>
                            <ins><span class="label label-primary">{{ object.details.general.sale_price }}</span></ins>
                          {% else %}
                            <span class="label ">{{ object.details.general.regular_price }}</span>
                          {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-success btn-sm" href="{% url 'destinations:gallery-list' object.pk %}">
                                <i class="fa fa-photo"></i>
                                {% trans 'Galería' %}
                            </a>
                        </td>
                        <td>
                            <span class="btn btn-danger btn-sm" onClick="delete_destination({{ object.id }})"><i class="fa fa-lg fa-trash "></i>{% trans "Delete" %}</span>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% include 'destinations/modal.html' %}
        </div>
      </div>
    </div>
    {% include 'destinations/footer.html' %}
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
   <script src="{% static "inspinia/js/plugins/dataTables/datatables.min.js" %}"></script>
   <script src="{% static "inspinia/js/plugins/dataTables/dataTables.bootstrap4.min.js"%}"></script>
  <script src="{% static "inspinia/js/plugins/sweetalert/sweetalert.min.js" %}"></script>
  <script>
    $(document).ready(function(){
        $('#tabla-destinos thead tr').clone(true).appendTo( '#tabla-destinos thead' );
        $('#tabla-destinos thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            if ($(this).data('filter') != false ){
                if ($(this).data('type')=='number'){
                    $(this).html( '<input class="form-control" type="number" placeholder="Busca '+title+'" />' );
                }else{
                    $(this).html( '<input class="form-control" type="text" placeholder="Busca '+title+'" />' );
                }
            }

            $( 'input', this ).on( 'keyup change', function () {
                if ( tabla_destinos.column(i).search() !== this.value ) {
                    tabla_destinos
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            });
        });

        var tabla_destinos=$('#tabla-destinos').DataTable({
            pageLength: 25,
            responsive: true,
            fixedHeader: true,
        });

    });

    //Delete fuction
    function delete_destination(pk_i){
          const destination_idk = pk_i;
          swal({
              title: "{% trans "Are you sure?" %}",
              text: "{% trans "If you delete this itinerary you will not be able to recover it" %}",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "{% trans "Yes, delete it!" %}",
              closeOnConfirm: false
          }, function () {
            $.ajax({
                  method:'POST',
                  url: "" + destination_idk +"/delete/",
                  beforeSend: function(xhr) {
                      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                  },
                  success: function (request) {
                    swal("Deleted!", "{% trans 'Destination has been deleted.' %}", "success");
                    setTimeout(function(){
                        window.location.href = "{% url 'destinations:list' %}";
                    }, 2000);
                  }
              });
          });
    }
    </script>
  <script type="text/javascript" src="{% static 'destinations/js/modal.js' %}"></script>
{% endblock %}
