{% load i18n %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" style="">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    {% if request.user.avatar %}
                    <img alt="image" class="rounded-circle" src="{{ request.user.avatar.url }}" height="48" width="48">
                    {% else %}
                    <i class="fa fa-user fa-3x" style="color: white;"></i>
                    {% endif %}
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="block m-t-xs font-bold">{{ user.get_full_name }}</span>
                    <span class="text-muted text-xs block">
                      {% if request.user.is_staff %}
                      {% trans 'Admin' %}
                      {% else %}
                      {% trans 'Company' %}
                      {% endif %}
                      <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                      <li>
                        <a href="{% url 'accounts:user-details' request.user.pk %}"
                           title="{% trans 'Information' %}">{% trans 'Information' %}</a>
                      </li>
                      <li>
                        <a href="{% url 'accounts:password-change' %}"
                           title="{% trans 'Change password' %}">{% trans 'Change password' %}</a>
                      </li>
                      <li>
                        <a href="{% url 'accounts:logout' %}"
                           title="{% trans 'Close session' %}">{% trans 'Close session' %}</a>
                      </li>
                    </ul>
                </div>
                <div class="logo-element">
                    T&S
                </div>
            </li>
            {% if request.get_full_path == '/es/dashboard/' or request.get_full_path == '/en/dashboard/' or request.get_full_path == '/de/dashboard/' %}
            <li class="special_link">
            {% else %}
            <li>
            {% endif %}
              <a href="{% url 'dashboard:dashboard-index' %}" title="{% trans 'Home' %}">
                <i class="fa fa-th-large"></i> <span class="nav-label">{% trans 'Home' %}</span>
              </a>
            </li>
              {% if request.get_full_path == '/es/dashboard/mailbox' or request.get_full_path == '/en/dashboard/mailbox' or request.get_full_path == '/de/dashboard/mailbox' %}

                <li class="special_link">
              {% else %}
                <li>
              {% endif %}
                  <a href="{% url 'dashboard:mailbox' %}" title="{% trans 'Mailbox' %}">
                    <i class="fa fa-envelope-o fa-lg"></i>
                    <span class="nav-label">{% trans 'Mailbox' %}</span>
                  </a>
                </li>
            {% if request.user.is_staff %}
            <li class="">
              <a href="/rosetta/" title="{% trans 'Translate site' %}">
                <i class="fa fa-language fa-lg"></i>
                <span class="nav-label">{% trans 'Translate site' %}</span>
              </a>
            </li>
            <li class="">
              <a href="/admin/" title="{% trans 'Admin site' %}">
                <i class="fa fa-user-secret fa-lg"></i>
                <span class="nav-label">{% trans 'Admin site' %}</span>
              </a>
            </li>
            <li class="">
              <a href="#">
                <i class="fa fa-user fa-lg"></i>
                <span class="nav-label">{% trans "Managers" %}</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li class=""><a href="{% url 'dashboard:documents'%}" title="{% trans 'Documents' %}"><i class="fa fa-file-pdf-o"></i>{% trans 'Documents' %}</a></li>
                <li class=""><a href="{% url 'dashboard:requests_manager' %}" title="{% trans 'Pending Requests' %}">{% trans 'Pending Requests' %}</a></li>
                <li class=""><a href="{% url 'dashboard:manager' %}" title="{% trans 'List Managers' %}">{% trans 'List Managers' %}</a></li>
                <li class=""><a href="{% url 'dashboard:manager' %}" title="{% trans 'Add Manager' %}">{% trans 'Add Manager' %}</a></li>
                <li class=""><a href="{% url 'dashboard:agencies' %}" title="{% trans 'Agencies List' %}">{% trans 'Agencies List' %}</a></li>
                <li class=""><a href="{% url 'dashboard:agency-add' %}" title="{% trans 'Add agency' %}">{% trans 'Add agency' %}</a></li>
              </ul>
            </li>
            {% endif %}
            <li class="">
              <a href="#">
                <i class="fa fa-globe fa-lg"></i>
                <span class="nav-label">{% trans 'Destinations' %}</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li class="">
                  <a href="{% url 'dashboard:list' %}" title="{% trans 'Your destinations' %}">{% trans 'Your destinations' %}</a>
                </li>
                <li class="">
                  <a href="{% url 'dashboard:itinerary-list' %}" title="{% trans 'Itinerary' %}">{% trans 'Itinerary' %}</a>
                </li>
                <li class="">
                  <a href="{% url 'dashboard:destination-map' %}" title="{% trans 'Maps' %}">{% trans 'Maps' %}</a>
                </li>
                <li class="">
                  <a href="{% url 'dashboard:social-network' %}" title="{% trans 'Social Network' %}">{% trans 'Social Network' %}</a>
                </li>
              </ul>
            </li>
            <li class="">
              <a href="#">
                <i class="fa fa-buysellads fa-lg"></i>
                <span class="nav-label">{% trans 'Ads' %}</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level collapse" aria-expanded="false">
                <li class="">
                  <a href="{% url 'advertisements:advertisers-list' %}" title="{% trans 'Ad Advertisers' %}">
                    <i class="fa fa-users fa-lg"></i>{% trans 'Ad Advertisers' %}
                  </a>
                </li>
                <li class="">
                  <a href="{% url 'advertisements:categories-list' %}" title="{% trans 'Ad Categories' %}">
                    <i class="fa fa-folder fa-lg"></i>{% trans 'Ad Categories' %}
                  </a>
                </li>
                <li class="">
                  <a href="{% url 'advertisements:ads-list' %}" title="{% trans 'Advertisements' %}">
                    <i class="fa fa-cog fa-lg"></i>{% trans 'Advertisements' %}
                  </a>
                </li>
                <li class="">
                  <a href="{% url 'advertisements:ad-images-list' %}" title="{% trans 'Your Ad Images' %}">
                    <i class="fa fa-image fa-lg"></i>{% trans 'Your Ad Images' %}
                  </a>
                </li>
              </ul>
            </li>
            <li class="">
              <a href="#">
                <i class="fa fa-book fa-lg"></i>
                <span class="nav-label">{% trans 'Reservations' %}</span>
                <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                <li class="">
                  <a href="{% url 'dashboard:booking-list' %}" title="{% trans 'Your reservations' %}">{% trans 'Your reservations' %}</a></li>
              </ul>
            </li>
            {% if not request.user.is_superuser %}
            <li class="">
              {% if not perms.accounts.manager_country and not perms.accounts.manager  %}
                <a href="{% url 'destinations:requests' %}" title="{% trans 'Requests' %}">
              {% else %}
                <a href="{% url 'destinations:requests_manager' %}" title="{% trans 'Requests' %}">
              {% endif %}
                <i class="fa fa-book fa-lg"></i>
                <span class="nav-label">{% trans 'Requests' %}</span>
              </a>
            </li>
            {% endif %}
            {% if not request.user.is_staff %}
            <li class="">
                <a href="{% url 'dashboard:files-documents' %}" title="{% trans 'Documents' %}">
                <i class="fa fa-file-pdf-o"></i>
                <span class="nav-label">{% trans 'Documents' %}</span>
              </a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>
