{% extends 'destinations/base.html' %}
{% load i18n staticfiles %}
{% block title %}{% trans 'Add Maps for Tour' %}{% endblock %}

{% block css %}
  {{ block.super }}
  {{ form.media.css }}
  <link href="{% static "inspinia/js/plugins/select2/select2.min.css" %}" rel="stylesheet">
  <link href="{% static "inspinia/js/plugins/dataTables/datatables.min.css" %}" rel="stylesheet">
  <link href="{% static "inspinia/js/plugins/toastr/toastr.min.css" %}" rel="stylesheet">
  <link href="{% static "inspinia/js/plugins/sweetalert/sweetalert.css" %}" rel="stylesheet">
  <link href="{% static "inspinia/css/style-product.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="page-wrapper" class="gray-bg">
{% include 'destinations/navbar_top.html' %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">{% trans "Add Maps for yours tours"%}</button>
                </div>
                <div class="ibox-content">
                    <table id ="table-map" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Destination's name"%}</th>
                                <th>{% trans "Description"%}</th>
                                <th>{% trans "Map"%}</th>
                                <th data-filter="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'destinations/footer.html' %}
</div>

<div id="modal-map" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="BookModalLabel">{% trans "Add Maps for yours tours"%}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">

                  <form id="form-map">
                    <div class="row">
                      <input type="hidden" name="pk_i" id="pk_i" readonly />
                      {% csrf_token %}
                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="font-normal">{% trans "Destiny"%}</label>
                              <select data-placeholder="{% trans "Choose a Destiny..."%}" class="chosen-select" name="destination" id="select_destiny" tabindex="2" style ="width:100%" required="required">
                              </select>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="font-normal">{% trans "Description Map"%}</label>
                              {{form_map.description_map}}
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="font-normal">{% trans "Generate  your map"%}</label>
                              {{form_map.media}}
                              {{form_map.map_destinie}}
                          </div>
                      </div>
                    </div>
          </div>
          <div class="modal-footer">
              <button id="reset_maps" class="btn btn-warning" type="button">{% trans "Reset"%}</button>
              <button id="create_map" class="btn btn-success" type="submit">{% trans "Add new map"%}</button>
              <button style="display:none;" id="update_map" class="btn btn-success" type="submit">{% trans "Update Map"%}</button>
          </div>
        </form>

    </div>
  </div>
</div>
</div>
{% endblock content %}


{% block js %}
  {{ block.super }}
  {{ form.media.js }}
  <script src="{% static "inspinia/js/plugins/dataTables/datatables.min.js" %}"></script>
  <script src="{% static "inspinia/js/plugins/dataTables/dataTables.bootstrap4.min.js"%}"></script>
  <script src="{% static "inspinia/js/plugins/select2/select2.full.min.js" %}"></script>
  <script src="{% static "inspinia/js/plugins/toastr/toastr.min.js" %}"></script>
  <script src="{% static "inspinia/js/plugins/sweetalert/sweetalert.min.js" %}"></script>
  <script src="{% static "inspinia/js/notifications.js" %}"></script>
  <script>
    function delete_map(pk_i){
          swal({
              title: "{% trans "Are you sure?" %}",
              text: "{% trans "If you delete this map you will not be able to recover it" %}",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "{% trans "Yes, delete it!" %}",
              closeOnConfirm: false
          }, function () {
            $.ajax({
                  method:'DELETE',
                  url:'{% url 'destinations:delete-map' %}',
                  data:{
                    pk:pk_i,
                  },
                  beforeSend: function(xhr) {
                      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                  },
                  success: function (request) {
                  if(request.status==true){
                    swal("Deleted!", "Map has been deleted.", "success");
                    table_map.ajax.url("{% url 'destinations:list-maps' %}?destiny="+$("#select_destiny").val()).load()
                  }else{
                      swal("Error!", "{% trans "Has been not deleted"%}", "error");
                  }
                  }
              });
          });
    }
    function resetForm(){
      $("#form-map")[0].reset();
      $("#update_map").hide()
      $("#create_map").show()
    }
    var table_map=$('#table-map').DataTable({
            pageLength: 10,
            responsive: true,
            fixedHeader: true,
            ajax: {
              processing: false,
              url: '{% url 'destinations:list-maps' %}',
              'dataSrc':'',
            },
            columns: [
              { data: null, 'render': function(data, type, full, meta)
                {
                  return data.fields.destination
                }
              },
              { data: null, 'render': function(data, type, full, meta)
                {
                return data.fields.description
                }
              },
              { data: null, 'render': function(data, type, full, meta)
                {
                return data.fields.map
                }
              },
              { data: null, 'render': function(data, type, full, meta)
                {
                  var buttons;
                  buttons = '<span><i onClick="delete_map('+data.fields.id+')" class="fa fa-lg fa-trash mr-10"></i></span>'
                  buttons += '<span><i onClick="get_map('+data.fields.id+')" class="fa fa-lg fa-edit mr-10"></i></span>'
                  return buttons;
                }
              }
            ]

        });

    $("#select_destiny").select2({
          placeholder: "{% trans 'Select a destiny' %}",
           ajax: {
                  url: "{% url 'destinations:get-itinerary' %}",
                  dataType: "json",
                  delay: 250,
                  data: function (params) {
                      return {
                          q: (params.term) ? params.term : "", // search term
                          page: params.page || 1
                      };
                  },
                  processResults: function (response) {
                      return {
                         results: response
                      };
                  },
                  cache: true
              },
              minimumInputLength: 0,
        }
        ).on('select2:select', function (e) {
         resetForm()
         table_map.ajax.url("{% url 'destinations:list-maps' %}?destiny="+e.params.data.id).load()
        });
    $("#form-map").submit(function( event ) {
          event.preventDefault();
          if($("#create_map").is(":visible")){
            url = '{% url 'destinations:add-map' %}'
            type = "POST"
          }else{
            url= '{% url 'destinations:update-map' %}'
            type="PUT"
          }
          $.ajax({
            url: url,
            type: type,
            dataType: 'json',
            data: $(this).serialize(),
            beforeSend: function(xhr) {
                      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
          })
          .done(function(request) {
            if(request.status ==false){
              notificationErrorFormLabels(request.error)

            }else{
              notification('success',request.msg)
              resetForm()
              $("#modal-map").modal("hide")
              table_map.ajax.url("{% url 'destinations:list-maps' %}?destiny="+$("#select_destiny").val()).load()
            }
          })
          .fail(function() {
            console.log("error");
          })
        });

  </script>
{%endblock%}
