{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{% block title %}{% trans '400 Bad Request Error' %}{% endblock title %}
{% block extracss %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <style>
        * {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
        }

        body {
          padding: 0;
          margin: 0;
        }

        #badrequest {
          position: relative;
          height: 100vh;
        }

        #badrequest .badrequest {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
        }

        .badrequest {
          max-width: 620px;
          width: 100%;
          line-height: 1.4;
          text-align: center;
        }

        .badrequest .badrequest-400 {
          position: relative;
          height: 200px;
          margin: 0px auto 20px;
          z-index: -1;
        }

        .badrequest .badrequest-400 h1 {
          font-family: 'Montserrat', sans-serif;
          font-size: 236px;
          font-weight: 200;
          margin: 0px;
          color: #211b19;
          text-transform: uppercase;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
        }

        .badrequest .badrequest-400 h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 28px;
          font-weight: 400;
          text-transform: uppercase;
          color: #211b19;
          background: #fff;
          padding: 10px 5px;
          margin: auto;
          display: inline-block;
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
        }

        .badrequest a {
          font-family: 'Montserrat', sans-serif;
          display: inline-block;
          font-weight: 700;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          padding: 13px 23px;
          background: #ff6300;
          font-size: 18px;
          -webkit-transition: 0.2s all;
          transition: 0.2s all;
        }

        .badrequest a:hover {
          color: #ff6300;
          background: #211b19;
        }

        @media only screen and (max-width: 767px) {
          .badrequest .badrequest-400 h1 {
            font-size: 148px;
          }
        }

        @media only screen and (max-width: 480px) {
          .badrequest .badrequest-400 {
            height: 148px;
            margin: 0px auto 10px;
          }
          .badrequest .badrequest-400 h1 {
            font-size: 86px;
          }
          .badrequest .badrequest-400 h2 {
            font-size: 16px;
          }
          .badrequest a {
            padding: 7px 15px;
            font-size: 14px;
          }
        }
    </style>
{% endblock extracss %}

{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}
{% block content %}
    <!-- Start Server Error Message -->
    <div id="badrequest">
        <div class="badrequest">
            <div class="badrequest-400">
                <h1>{% trans 'Error!' %}</h1>
                <h2>{% trans '400 Bad Request, server cannot response!' %}</h2>
            </div>
            <a href="javascript:history.back()"
               title="{% trans 'Back to previous page' %}">{% trans 'Back to previous page' %}</a>
        </div>
    </div>
    <!-- End Server Error Message -->
{% endblock %}

{% block extrajs %}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock extrajs %}
