{% load cms_tags menu_tags sekizai_tags favtags staticfiles i18n %}
<!DOCTYPE html>
<html class="has-fixed-top" lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="manifest" href="{% static "manifest.json" %}">
        {% block feed %}
        {% endblock feed %}
        <meta name="description" content="Travelposting">
        <meta name="author" content="Travelposting">
        <meta name="keywords" content="HTML,CSS,JavaScript">
        <meta name="theme-color" content="#2F3BA2" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="TRAVELPOSTING">
        {% block meta %}{% endblock %}
        <!-- Favicon -->
        {% placeFavicon %}
        {% render_block "css" %}
        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/animate.css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/fancybox/jquery.fancybox.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/cubeportfolio/css/cubeportfolio.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/hs-bg-video/hs-bg-video.css' %}">
        <link rel="stylesheet" href="{% static 'assets/vendor/slick-carousel/slick/slick.css' %}">
        {% block extracss %} {% endblock extracss %}
        <!-- CSS Front Template -->
        <link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
        <!-- CSS Extras -->
        <link href="{% static 'css/flag-icon.min.css'%}" rel="stylesheet">

        <style>
          .cookiealert {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              margin: 0 !important;
              z-index: 9999;
              opacity: 0.4;
              border-radius: 0;
              transform: translateY(-100%);
              transition: all 500ms ease-out;
              color: #ecf0f1;
              background: #212327;
          }

          .cookiealert.show {
              opacity: 0.8;
              transform: translateY(0%);
              transition-delay: 1000ms;
          }

          .cookiealert a {
              text-decoration: underline
          }

          .cookiealert .acceptcookies {
              margin-left: 10px;
              vertical-align: baseline;
          }        
        </style>
    </head>
    {% block body %} <body> {% endblock body %}
          <!-- Cookies alert -->
          <div class="alert alert-dismissible text-center cookiealert" role="alert">
              <div class="cookiealert-container">
                <b>{% trans 'Do you like cookies?'%}</b> &#x1F36A; {% trans "We use cookies to ensure you get the best experience on our website." %} <a href="http://cookiesandyou.com/" target="_blank">{% trans "Learn more" %}</a>
  
                <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
                    {% trans "I agree" %}
                </button>
              </div>
            </div>
        {% cms_toolbar %}


        {% block navbar %}
        <header id="header" class="u-header">
          {% include 'menu/navbar.html' %}
        </header>
        {% endblock navbar %}
        <main id="content" role="main">
            {% block content %}{% endblock content %}
            <a class="js-go-to u-go-to animated js-animation-was-fired slideInUp" href="#" data-position="{&quot;bottom&quot;: 15, &quot;right&quot;: 15 }" data-type="fixed" data-offset-top="400" data-compensation="#header" data-show-effect="slideInUp" data-hide-effect="slideOutDown" style="display: inline-block; position: fixed; bottom: 15px; right: 15px;">
            <span class="fas fa-arrow-up u-go-to__inner"></span>
            </a>
        </main>
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock footer %}
        {% render_block "js" %}
        {% block extrajsinit %}
        <!-- JS Global Compulsory -->
        <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/vendor/popper.js/popper.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
        <!-- JS Implementing Plugins -->
        <script src="{% static 'assets/vendor/fancybox/jquery.fancybox.min.js' %}"></script>
        <script src="{% static 'assets/vendor/hs-bg-video/hs-bg-video.js' %}"></script>
        <script src="{% static 'assets/vendor/hs-bg-video/vendor/player.min.js' %}"></script>
        <script src="{% static 'assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-validate/jquery.validate.min.js' %}"></script>
        <script src="{% static 'assets/vendor/slick-carousel/slick/slick.js' %}"></script>
        <script src="{% static 'assets/vendor/svg-injector/svg-injector.min.js' %}"></script>
        <script src="{% static 'assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
        <script src="{% static 'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <!-- JS Front -->
        <script src="{% static 'assets/js/hs.core.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.bg-video.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.cubeportfolio.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.fancybox.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.focus-state.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.go-to.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.header.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.slick-carousel.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.sticky-block.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.svg-injector.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.unfold.js' %}"></script>
        <script src="{% static 'assets/js/components/hs.validation.js' %}"></script>
        <!-- JS Plugins Init. -->
        <script>
            $(window).on('load', function () {
              // initialization of HSMegaMenu component
              $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 767.98,
                hideTimeOut: 0
              });

              // initialization of svg injector module
              $.HSCore.components.HSSVGIngector.init('.js-svg-injector');


            });

              // initialization of header
              $.HSCore.components.HSHeader.init($('#header'));

              // initialization of unfold component
              $.HSCore.components.HSUnfold.init($('[data-unfold-target]'));

              // initialization of video on background
              $.HSCore.components.HSBgVideo.init('.js-bg-video');

              // initialization of form validation
              $.HSCore.components.HSValidation.init('.js-validate');

              // initialization of fancybox
              $.HSCore.components.HSFancyBox.init('.js-fancybox');

              // initialization of slick carousel
              $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

              // initialization of cubeportfolio
              $.HSCore.components.HSCubeportfolio.init('.cbp');

              // initialization of sticky blocks
              $.HSCore.components.HSStickyBlock.init('.js-sticky-block');

              // initialization of go to
              $.HSCore.components.HSGoTo.init('.js-go-to');

            </script>

            <script>
                //Script para el customer user
                (function(w,d,u){
                  var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                  var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
                })(window,document,'https://cdn.bitrix24.de/b9199691/crm/site_button/loader_3_ws0259.js');
            </script>
            <script>
              // Cookie functions from w3schools
              function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
                var expires = "expires=" + d.toUTCString();
                document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
              }
              function getCookie(cname) {
                var name = cname + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(";");
                for (var i = 0; i < ca.length; i++) {
                  var c = ca[i];
                  while (c.charAt(0) === " ") {
                    c = c.substring(1);
                  }
                  if (c.indexOf(name) === 0) {
                    return c.substring(name.length, c.length);
                  }
                }
                return "";
              }

              var cookieAlert = document.querySelector(".cookiealert");
              var acceptCookies = document.querySelector(".acceptcookies");

              // If cant find the "acceptCookies" cookie , show message
              if (!getCookie("acceptCookies")) {
                cookieAlert.classList.add("show");
              }

              acceptCookies.addEventListener("click", function() {
                setCookie("acceptCookies", true, 1); // Create a 1 day cookie
                cookieAlert.classList.remove("show");
              });
            
            </script>
          {% endblock extrajsinit %}


        {% block extrajs %} {% endblock extrajs %}
    </body>
</html>
