{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{% block title %}{% trans 'About us' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}
{% block content %}
<main id="content" role="main">
    <!-- Terms Content Section -->
    <div class="container space-1 space-top-md-4 space-bottom-md-3">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div id="intro" class="space-bottom-1">
                    <!-- Title -->
                    <div class="border-bottom pb-10 mb-10">
                        <h1 class="text-primary"><span class="font-weight-semi-bold">{% trans 'Datenschutzerklärung'%}</span></h1>
                    </div>
                    <!-- End Title -->
                    {% static_placeholder 'datenshutz'%}
                </div>
            </div>
        </div>
    </div>
    <!-- End Terms Content Section -->
    <div id="stickyBlockEndPoint"></div>
</main>
{% endblock content %}
{% block extrajs %}
<script>
    // initialization of HSScrollNav component
    $.HSCore.components.HSScrollNav.init($('.js-scroll-nav'), {
      duration: 700
    });
    
    $(document).on('ready', function () {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#header'));
    
    // initialization of unfold component
    $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
      afterOpen: function () {
        $(this).find('input[type="search"]').focus();
      }
    });
    
    // initialization of malihu scrollbar
    $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));
    
    // initialization of show animations
    $.HSCore.components.HSShowAnimation.init('.js-animation-link');
    
    // initialization of form validation
    $.HSCore.components.HSValidation.init('.js-validate', {
      rules: {
        confirmPassword: {
          equalTo: '#signupPassword'
        }
      }
    });
    
    // initialization of forms
    $.HSCore.components.HSFocusState.init();
    
    });
    
</script>
{% endblock extrajs %}