{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{% block title %}{% trans 'About us' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}
{% block content %}
<main id="content" role="main">
    <!-- Hero Section -->
    <div class="gradient-overlay-half-primary-v1 bg-img-hero"
        style="background-image: url({% static 'assets/img/1920x800/img14.jpg' %});">
        <div class="container space-2 space-top-md-5 space-bottom-md-3">
            <div class="w-md-80 w-lg-60 text-center mx-auto">
                <!-- Title -->
                <div class="mb-5">
                    <h1 class="display-4 font-size-md-down-5 text-white mb-0">{% trans "How can we" %} <span
                            class="font-weight-semi-bold">{% trans "help?" %}</span></h1>
                </div>
                <!-- End Title -->
                <!-- Text/Links -->
                <p class="text-white-70">
                    {% trans "Popular help topics:" %}
                    <a class="link-light" href="/pricing/">{% trans "pricing" %},</a>
                    <a class="link-light ml-1" href="/category/all">{% trans "destinations" %},</a>
                    <a class="link-light ml-1" href="{% url 'accounts:login' %}">{% trans "community" %}</a>
                </p>
                <!-- End Text/Links -->
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <hr class="my-0">
    <!-- FAQ Topics Section -->
    <div class="container space-2 space-md-3">
        <div class="row">
            <div id="stickyBlockStartPoint" class="col-lg-3 mb-7 mb-lg-0" style="">
                <!-- Nav -->
                <nav class="js-sticky-block card border-0 bg-primary" data-offset-target="#logoAndNav"
                    data-parent="#stickyBlockStartPoint" data-sticky-view="lg" data-start-point="#stickyBlockStartPoint"
                    data-end-point="#stickyBlockEndPoint" data-offset-top="24" data-offset-bottom="24" style="">
                    <ul
                        class="js-scroll-nav list-group list-group-transparent list-group-white list-group-flush list-group-borderless py-3 px-5">
                        <li class="active">
                            <a class="list-group-item list-group-item-action py-3" href="#basics">Travelposting</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Nav -->
            </div>
            <div class="col-lg-9">
                <div id="basics" class="space-bottom-2 active">
                    <!-- Title -->
                    <div class="mb-3">
                        <h3 class="text-primary font-weight-semi-bold">{% trans "Frequently Asked Questions!" %}</h3>
                    </div>
                    <!-- End Title -->
                    <!-- Basics Accordion -->
                    <div id="basicsAccordion">
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link btn-block d-flex justify-content-between card-btn p-3"
                                        data-toggle="collapse" data-target="#basicsCollapseOne" aria-expanded="true"
                                        aria-controls="basicsCollapseOne">
                                        {% trans "What is Travelposting?" %}
                                        <span class="card-btn-arrow">
                                            <span class="fas fa-arrow-down small"></span>
                                        </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseOne" class="collapse show" aria-labelledby="basicsHeadingOne"
                                data-parent="#basicsAccordion">
                                <div class="card-body">
                                    {% blocktrans %}
                                    Travelposting is a portal designed on the first line to provide hotels, travel agencies and tour operators with
                                    any size, an advertising window so you can present your current offers.
                                    {% endblocktrans%}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingTwo">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                                        data-toggle="collapse" data-target="#basicsCollapseTwo" aria-expanded="false"
                                        aria-controls="basicsCollapseTwo">
                                        {% trans "What is the concept of travelposting?" %}
                                        <span class="card-btn-arrow">
                                            <span class="fas fa-arrow-down small"></span>
                                        </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseTwo" class="collapse" aria-labelledby="basicsHeadingTwo"
                                data-parent="#basicsAccordion">
                                <div class="card-body">
                                    {% blocktrans %}
                                    The concept of travelposting is to "First of all" create a worldwide community of travelers who help each other with
                                    others and take advantage of the offers and quality excellence in the sites recommended by other travelers who have lived
                                    experience in these recreation sites.
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingThree">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                                        data-toggle="collapse" data-target="#basicsCollapseThree" aria-expanded="false"
                                        aria-controls="basicsCollapseThree">
                                        {% trans "Who is travelposting.com advertising designed for?" %}
                                        <span class="card-btn-arrow">
                                            <span class="fas fa-arrow-down small"></span>
                                        </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseThree" class="collapse" aria-labelledby="basicsHeadingThree"
                                data-parent="#basicsAccordion">
                                <div class="card-body">
                                    {% blocktrans %}
                                    Travelposting is designed for Travel Agencies, Hotels, Recreational sites, Restaurants near Hotels,
                                    Laundry services near Hotels, Car Rentals, Diving Schools, Museums, information center or
                                    any other service that is useful to the traveller can be presented and offered directly from its portal
                                    website or directly at your physical address.
                                    {% endblocktrans%}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                        <!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingFour">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                                        data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                                        aria-controls="basicsCollapseFour">
                                        {% trans "What is the advantage of registering my travel agency or recreational site on travelposting.com?" %}
                                        <span class="card-btn-arrow">
                                            <span class="fas fa-arrow-down small"></span>
                                        </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour"
                                data-parent="#basicsAccordion">
                                <div class="card-body">
                                    {% blocktrans %}
                                    The great advantage of registering your agency, hotel or recreational site now is variable, first of all:
                                    1 - Between March 1st and March 30th. August 2017 you will be able to register your company for the Basic price and enjoy a fixed rate
                                    for 36 months indisputably if our price increases or not.
                                    
                                    2 - Your company will be featured in all online and print publications until July 2018.
                                    
                                    3 - You will have a special place in the publicity of the Event "ARTURISMOS" that we will be making in March / July of
                                    2018, event that will present different regions of Colombia and Latin America exalting their tourist sites and great
                                    courage.
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
<!-- Card -->
                        <div class="card mb-3">
                            <div class="card-header card-collapse" id="basicsHeadingFour">
                                <h5 class="mb-0">
                                    <button
                                        class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                                        data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                                        aria-controls="basicsCollapseFour">
                                        {% trans "What is the advantage of registering my travel agency or recreational site on travelposting.com?" %}
                                        <span class="card-btn-arrow">
                                            <span class="fas fa-arrow-down small"></span>
                                        </span>
                                    </button>
                                </h5>
                            </div>
                            <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour"
                                data-parent="#basicsAccordion">
                                <div class="card-body">
                                    {% blocktrans %}
                                    The great advantage of registering your agency, hotel or recreational site now is variable, first of all:
                                    1 - Between March 1st and March 30th. August 2017 you will be able to register your company for the Basic price and enjoy a fixed rate
                                    for 36 months indisputably if our price increases or not.
                                    
                                    2 - Your company will be featured in all online and print publications until July 2018.
                                    
                                    3 - You will have a special place in the publicity of the Event "ARTURISMOS" that we will be making in March / July of
                                    2018, event that will present different regions of Colombia and Latin America exalting their tourist sites and great
                                    courage.
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
<!-- Card -->
<div class="card mb-3">
    <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                aria-controls="basicsCollapseFour">
                {% trans "How do I register my agency, hotel or recreational site with travelposting.com?" %}
                <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                </span>
            </button>
        </h5>
    </div>
    <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body">
            {% blocktrans %}
            You can register by emailing inscribir@travelposting.com or directly on our website at
            of the Company Registry
            {% endblocktrans %}
        </div>
    </div>
</div>
<!-- End Card -->
<!-- Card -->
<div class="card mb-3">
    <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                aria-controls="basicsCollapseFour">
                {% trans "What is the value of renting advertising space on the travelposting.com portal?" %}
                <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                </span>
            </button>
        </h5>
    </div>
    <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body">
            {% blocktrans %}
To make registration easier and to enable everyone to register their company regardless of size, we have
created a Basic plan: Per homepage 3,55- EUR per day = 1.296,- EUR included:

<br>• Your destination in the English language

<br>• Gallery with 5 Photos

<br>• Gallery with 5 Videos

<br>• 1 Main page and 4 individual tabs.

<br>• Subdomain Eplo: suhotel.travelposting.com
            {% endblocktrans %}
        </div>
    </div>
</div>
<!-- End Card -->
<!-- Card -->
<div class="card mb-3">
    <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                aria-controls="basicsCollapseFour">
                {% trans "I'd like to have a new website." %}
                <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                </span>
            </button>
        </h5>
    </div>
    <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body">
            {% blocktrans %}
We work hand in hand with the company Xposting-Service in Germany, having its servers in the city of
Frankfurt with a 99.9% guarantee on its hosting, the creation price is 850,- ?.
per page and 600 € for annual maintenance, example: www.yourname.com or you can choose between, .net, .org. travel. in this
the price includes the update of all the necessary plugins for the correct functioning of your website
<br>
Please note that the prices shown here are without the tax. The tax will be charged separately and will
added at the time of the invoice.
<br>
To improve your publication we have created a series of modules that may be of interest to you:
<br>
M1- Translation: German / English. Prices according to the amount of text to be translated.
<br>
M2 - Extra photo gallery: up to 5 photos. 60 per year / 10 Photos. 100 € per year / 25 Photos 200 € per year. The photos owe us
to be sent in JPG or PNG format with a resolution of at least 72 dpi for online presentation and at least 300 dpi
for printing and a size of at least 1200 pixels wide by 800 pixels high, the photos will be used both in their
own advertising as well as in our advertising Sliders.
<br>
It is important to note that once you send us the photos you are also authorizing us to use these
photos publicly for the benefit of your advertising as well as for the advertising of our portal.
<br>
M3 - Extra video gallery: up to 5 videos. 90 per year / 10 videos. 150 € per year / 25 videos 250 € per year. The videos we
can be sent in original format, if not in a portal such as Youtube or Vimeo, we will take care of
place them and present them inside the portal. It is important to note that once you send us the video
you are also authorizing us to use these videos publicly for the benefit of your own advertising as well as
the advertising of our portal.
<br>
M4 - Your own website: As travelposting.com is a portal of Xposting-Service Germany, you have the
facility to obtain for a quite reasonable price your own web page and your own domain ( www.yourcompany.com ) on
domain will remain yours even if you do not continue with our advertising.
<br>
M5 - Subdomain: In case you don't want a website we can give you your own subdomain which you can use for
to publicise your online advertising example: yourcompany.travelposting.com for a price of 240 € per year, this subdomain
allows you to use 3 pages on our website: 1st Home Page, 2nd Information Page 3rd Your Data Page
contact including a digital map.
<br>
M6 - Feedback: For a price of only 300 € per year you will be able to interact with your customers and know exactly what
they think about their company. Take the opportunity to improve your services through the feedback your
clients send you personally, with myfeedback you can ask your clients direct questions and they will deliver the
comment directly in your mailbox, you decide whether or not you want to make public what the customer downloaded
"Anonymity" about his service told him.
            {% endblocktrans %}
        </div>
    </div>
</div>
<!-- End Card -->
<!-- Card -->
<div class="card mb-3">
    <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                aria-controls="basicsCollapseFour">
                {% trans "Can I change the advertising module when I need more, or less, advertising?" %}
                <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                </span>
            </button>
        </h5>
    </div>
    <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body">
            {% blocktrans %}
Our purpose is not to bind anyone in our portal, however and for organizational reasons all modules contracted will be a minimum of one year, the publication of its modules may be modified during that year so that their campaigns can grow according to their needs.
            {% endblocktrans %}
        </div>
    </div>
</div>
<!-- End Card -->
<!-- Card -->
<div class="card mb-3">
    <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                aria-controls="basicsCollapseFour">
                {% trans "How do I pay for my subscription or modules?" %}
                <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                </span>
            </button>
        </h5>
    </div>
    <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body">
            {% blocktrans %}
The payment of your subscription or modules can be made via Paypal or by credit card. At the moment we only have
account in Germany, we will soon have an account in Colombia.
            {% endblocktrans %}
        </div>
    </div>
</div>
<!-- End Card -->
<!-- Card -->
<div class="card mb-3">
    <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                aria-controls="basicsCollapseFour">
                {% trans "How long do I have to subscribe to the Basic subscription for my ad space and/or modules?" %}
                <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                </span>
            </button>
        </h5>
    </div>
    <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body">
            {% blocktrans %}
The Basic subscription to the advertising spaces will be for a minimum of 24 months and will be automatically renewed for 12 months if you do not make a waiver at least three months in advance.
            {% endblocktrans %}
        </div>
    </div>
</div>
<!-- End Card -->
<!-- Card -->
<div class="card mb-3">
    <div class="card-header card-collapse" id="basicsHeadingFour">
        <h5 class="mb-0">
            <button class="btn btn-link btn-block d-flex justify-content-between card-btn collapsed p-3"
                data-toggle="collapse" data-target="#basicsCollapseFour" aria-expanded="false"
                aria-controls="basicsCollapseFour">
                {% trans "If I have problems with my subscription, payment, or advertising update, who should I contact?" %}
                <span class="card-btn-arrow">
                    <span class="fas fa-arrow-down small"></span>
                </span>
            </button>
        </h5>
    </div>
    <div id="basicsCollapseFour" class="collapse" aria-labelledby="basicsHeadingFour" data-parent="#basicsAccordion">
        <div class="card-body">
            {% blocktrans %}
For any additional questions or concerning the above please send an email to pregunta@travelposting.com let us know your question or concern and we will gladly respond as soon as possible.
            {% endblocktrans %}
        </div>
    </div>
</div>
<!-- End Card -->
</div>
                    <!-- End Basics Accordion -->
                </div>
                <hr class="my-0">
                    <!-- End Privacy Accordion -->
            </div>
        </div>
    </div>
    <!-- End FAQ Topics Section -->
    <!-- Sticky Block End Point -->
    <div id="stickyBlockEndPoint"></div>
    <hr class="my-0">
    <!-- Contacts Section -->
    <div class="container">
        <div class="row space-2">
            <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0">
                <!-- Contacts Info -->
                <div class="media pr-lg-9">
                    <figure id="icon15" class="ie-height-56 w-100 max-width-8 mr-4" style="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;"
                            xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#icon15">
                            <style type="text/css">
                                .icon-15-0 {
                                    fill: none;
                                    stroke: #BDC5D1;
                                }

                                .icon-15-1 {
                                    fill: #BDC5D1;
                                }

                                .icon-15-2 {
                                    fill: #377DFF;
                                }

                                .icon-15-3 {
                                    fill: none;
                                    stroke: #FFFFFF;
                                }

                                .icon-15-4 {
                                    fill: none;
                                    stroke: #377DFF;
                                }
                            </style>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="25.2"
                                y1="66.2" x2="35.9" y2="66.2"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="44.3"
                                y1="76.4" x2="33.2" y2="76.4"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="27.8"
                                y1="76.5" x2="22.3" y2="76.5"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="6.4" y1="85.8"
                                x2="11.8" y2="85.8"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.1"
                                y1="85.8" x2="33.1" y2="85.8"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.1"
                                y1="76.5" x2="1.8" y2="76.5"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="19" y1="66.2"
                                x2="15.4" y2="66.2"></line>
                            <path class="icon-15-1 fill-gray-400" opacity=".5"
                                d="M115.7,114.2H38.7c-2.4,0-4.3-2-4.3-4.3v-48c0-2.4,2-4.3,4.3-4.3h76.9c2.4,0,4.3,2,4.3,4.3v48  C120,112.2,118,114.2,115.7,114.2z">
                            </path>
                            <path class="icon-15-2 fill-primary"
                                d="M106.1,102.9H29.2c-2.4,0-4.3-2-4.3-4.3v-48c0-2.4,2-4.3,4.3-4.3h76.9c2.4,0,4.3,2,4.3,4.3v48  C110.4,100.9,108.5,102.9,106.1,102.9z">
                            </path>
                            <g>
                                <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-miterlimit="10" x1="78.4" y1="81.6" x2="109.6"
                                    y2="101.5"></line>
                                <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-miterlimit="10" x1="56.9" y1="81.6" x2="25.6"
                                    y2="101.5"></line>
                                <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-miterlimit="10" x1="25.6" y1="47.9" x2="67.6"
                                    y2="78.6"></line>
                                <line class="icon-15-3 fill-none stroke-white" stroke-width="3" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-miterlimit="10" x1="109.6" y1="47.9" x2="67.6"
                                    y2="78.6"></line>
                            </g>
                            <path class="icon-15-4 fill-none stroke-primary" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10"
                                d="M106.1,102.9H29.2c-2.4,0-4.3-2-4.3-4.3v-48c0-2.4,2-4.3,4.3-4.3h76.9c2.4,0,4.3,2,4.3,4.3v48  C110.4,100.9,108.5,102.9,106.1,102.9z">
                            </path>
                            <line class="icon-15-3 fill-none stroke-white" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="70" y1="95.1"
                                x2="55.8" y2="95.1"></line>
                            <line class="icon-15-3 fill-none stroke-white" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="76.2"
                                y1="95.1" x2="82.6" y2="95.1"></line>
                            <path class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10" d="M89.9,107.9"></path>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="72.5"
                                y1="36.3" x2="90.4" y2="36.3"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="108.7"
                                y1="27.9" x2="103.4" y2="27.9"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="98" y1="27.9"
                                x2="82.1" y2="27.9"></line>
                            <line class="icon-15-0 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="97" y1="36.2"
                                x2="112.4" y2="36.2"></line>
                            <path class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10"
                                d="M5,41.6V14.7c0-2.1,1.8-3.9,3.9-3.9h77.8c2.2,0,3.9,1.7,3.9,3.9v5.5"></path>
                            <g>
                                <line class="icon-15-0 fill-none stroke-gray-400" stroke-width="3"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.5"
                                    y1="20.3" x2="47.4" y2="39.2"></line>
                                <line class="icon-15-0 fill-none stroke-gray-400" stroke-width="3"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78"
                                    y1="20" x2="47.6" y2="39.2"></line>
                            </g>
                            <path class="icon-15-0 fill-none stroke-gray-400" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10" d="M25.2,5.8"></path>
                        </svg>
                    </figure>
                    <div class="media-body">
                        <h3 class="h5">{% trans "Can't find your answer?" %}</h3>
                        <p class="mb-1">
                            {% blocktrans %}
                            We want to answer all of your queries. Get in touch and we'll get back to you as
                            soon as we can.
                            {% endblocktrans %}
                        </p>
                        <a class="font-size-1" href="mailto://pregunta@travelposting.com">{% trans "Email us" %} <span
                                class="fas fa-angle-right align-middle ml-2"></span></a>
                    </div>
                </div>
                <!-- End Contacts Info -->
            </div>
            <div class="col-lg-6">
                <!-- Contacts Info -->
                <div class="media pl-lg-9">
                    <figure id="icon4" class="ie-height-56 w-100 max-width-8 mr-4" style="">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" viewBox="0 0 120 120" style="enable-background:new 0 0 120 120;"
                            xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#icon4">
                            <style type="text/css">
                                .icon-4-0 {
                                    fill: none;
                                    stroke: #377DFF;
                                }

                                .icon-4-1 {
                                    fill: none;
                                    stroke: #BDC5D1;
                                }

                                .icon-4-2 {
                                    fill: none;
                                    stroke: #FFFFFF;
                                }

                                .icon-4-3 {
                                    fill: #BDC5D1;
                                }

                                .icon-4-4 {
                                    fill: #377DFF;
                                }
                            </style>
                            <path class="icon-4-0 fill-none stroke-primary" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10"
                                d="M27.8,37.1c0,1.5-1.3,2.8-2.8,2.8c-1.5,0-2.8-1.2-2.8-2.8c0-1.5,1.3-2.8,2.8-2.8C26.6,34.3,27.8,35.5,27.8,37.1  z">
                            </path>
                            <path class="icon-4-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                d="M41,37.1c0,1.5-1.2,2.8-2.8,2.8c-1.5,0-2.8-1.2-2.8-2.8c0-1.5,1.2-2.8,2.8-2.8C39.8,34.3,41,35.5,41,37.1z">
                            </path>
                            <path class="icon-4-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                d="M54.2,37.1c0,1.5-1.3,2.8-2.8,2.8c-1.5,0-2.8-1.2-2.8-2.8c0-1.5,1.3-2.8,2.8-2.8C53,34.3,54.2,35.5,54.2,37.1z">
                            </path>
                            <path class="icon-4-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                d="M105.8,61.7c0.8,1.4,1.4,2.9,1.9,4.5"></path>
                            <path class="icon-4-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                d="M76.8,48c9.7-1.8,19.3,1.7,25.4,8.6"></path>
                            <path class="icon-4-1 fill-none stroke-gray-400" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                d="M72.2,41.2C74.6,23.3,62.6,6.4,44.6,3C26-0.6,8,11.7,4.5,30.3c-1.8,9.6,0.6,19,5.8,26.4L5.3,71.8l16.1-5.2  c3.2,1.8,6.7,3.1,10.4,3.8c5.5,1,10.9,0.7,15.9-0.8">
                            </path>
                            <path class="icon-4-3 fill-gray-400" opacity=".5"
                                d="M74.3,50.5c18.6-3.5,36.6,8.7,40.1,27.3c1.8,9.6-0.6,19-5.8,26.4l5.1,15.1l-16.1-5.2c-3.2,1.8-6.7,3.1-10.4,3.8  c-18.6,3.5-36.6-8.7-40.1-27.3C43.4,72,55.7,54.1,74.3,50.5z">
                            </path>
                            <path class="icon-4-4 fill-primary"
                                d="M75.4,40.4c18.6-3.5,36.6,8.7,40.1,27.3c1.8,9.6-0.6,19-5.8,26.4l5.1,15.1l-16.1-5.2c-3.2,1.8-6.7,3.1-10.4,3.8  c-18.6,3.5-36.6-8.7-40.1-27.3C44.5,61.9,56.8,44,75.4,40.4z">
                            </path>
                            <circle class="icon-4-2 fill-none stroke-white" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="95" cy="74.5"
                                r="2.8"></circle>
                            <circle class="icon-4-2 fill-none stroke-white" opacity=".5" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="81.8"
                                cy="74.5" r="2.8"></circle>
                            <circle class="icon-4-2 fill-none stroke-white" stroke-width="3" stroke-linecap="round"
                                stroke-linejoin="round" stroke-miterlimit="10" cx="68.6" cy="74.5" r="2.8"></circle>
                        </svg>
                    </figure>
                    <div class="media-body">
                        <h3 class="h5">{% trans "Technical questions" %}</h3>
                        <p class="mb-1">{% trans "Have some technical questions? Hit us on community page or just say hello." %}</p>
                        <a class="font-size-1" href="mailto://pregunta@travelposting.com">Email us <span
                                class="fas fa-angle-right align-middle ml-2"></span></a>
                    </div>
                </div>
                <!-- End Contacts Info -->
            </div>
        </div>
        <hr class="my-0">
    </div>
    <!-- End Contacts Section -->
</main>
{% endblock %}
