{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}
<footer class="gradient-half-primary-v1">
    <div class="container space-top-2 space-bottom-1">
        <div class="row justify-content-lg-start mb-7">
            <div class="col-sm-9 col-lg-5 mb-5">
                <!-- Logo -->
                <a class="d-inline-flex align-items-center mb-3" href="/" aria-label="{% trans 'Travelposting' %}">

                    <span class="brand brand-light">{% trans 'Travelposting' %}</span>
                </a>
                <!-- End Logo -->
                <p class="small text-white-70" style="text-align: justify; text-justify: inter-word;">
                    {% blocktrans %}
                        We are Travelposting.com a web portal owned by Xposting-Service, International Marketing and Digital Promotion Company,
                        opened on March 1, 2009 with its headquarters in the city of Hamburg, Germany.
                    {% endblocktrans%}
                </p>
                <hr>    
                <p class="small text-white-70" style="text-align: justify; text-justify: inter-word;">
                    <b>{% trans 'Tourist warning.' %}</b>
                    {% blocktrans %}
                    In development of the provisions of article 17 of Law 679 of 2001, the Agency warns the tourist that the exploitation and sexual abuse of minors in the country are criminally and administratively sanctioned, in accordance with current laws.
                    {% endblocktrans %}
                </p>
            </div>

            <!-- Currecy converter -->
            <div class="col-sm-9 col-lg-5 mb-5">
                <script>
                    var fm = "EUR";
                    var to = "USD";
                    var tz = "timezone";
                    var sz = "1x1";
                    var lg = "es";
                    var st = "primary";
                    var lr = "0";
                    var rd = "1";
                </script>

                <a href="https://currencyrate.today/converter-widget" title="{% trans 'Currency Converter' %}">
                    <script src="//currencyrate.today/converter"></script>
                </a>
            </div>
            <!-- End Currency converter -->

            <div class="col-6 col-sm-4 col-lg-2 ml-lg-auto mb-2">
                <h3 class="h6 text-white">{% trans 'Travelposting' %}</h3>
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                    {% show_menu 0 100 100 100 "menu/menu_footer.html" %}
                </ul>
                <!-- End List Group -->
            </div>


        </div>
        <div class="row align-items-center">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <!-- Social Networks -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="list-group-item-action text-white-70" style="font-size: 10px;" href="#">
                            {% trans 'HOTEL IN:' %}&nbsp;&nbsp;
                        </a>    
                    </li>    
                    <li class="list-inline-item">
                        <a class="list-group-item-action text-white-70" style="font-size: 10px;" href="/hotel-germany/">
                            {% trans 'GERMANY' %}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="list-group-item-action text-white-70" style="font-size: 10px;" href="/hotel-usa/">
                            {% trans 'USA' %}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="list-group-item-action text-white-70" style="font-size: 10px;" href="/hotel-china/">
                            {% trans 'CHINA' %}
                        </a>
                    </li> 
                    <li class="list-inline-item">
                        <a class="list-group-item-action text-white-70" style="font-size: 10px;" href="/word-mundo/">
                            {% trans 'OTHER CITY' %}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="list-group-item-action text-white-70" style="font-size: 10px;" href="https://www.zanox-affiliate.de/ppc/?27897555C209579734T">
                            {% trans 'FLIGHTS' %}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="list-group-item-action text-white-70" style="font-size: 10px;" href="/make-pay/">
                            {% trans 'MAKE YOUR PAY' %}
                        </a>
                    </li>                         
                    <br>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                           href="https://www.facebook.com/travelposting"
                           title="{% trans 'Follow us at Facebook' %}">
                           <span class="fab fa-facebook-f btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                           href="https://instagram.com/travelposting24"
                           title="{% trans 'Follow us at Instagram' %}">
                           <span class="fab fa-instagram btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                           href="https://twitter.com/travelposting"
                           title="{% trans 'Follow us at Twitter' %}">
                           <span class="fab fa-twitter btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent"
                           href="https://wa.me/491788338735"
                           title="{% trans 'Contact us via WhatsApp' %}">
                           <span class="fab fa-whatsapp btn-icon__inner"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
     
            <div class="col-sm-6 text-sm-right">
                <!-- Copyright -->
                <ul class="list-inline list-group-flush list-group-borderless mb-0">
                    <li class="list-inline-item pl-3">
                        <a class="list-group-item-action font-size-1 text-white-70 " href="/cookies/">{% trans 'Cookies' %}</a>
                    </li>
                    <li class="list-inline-item pl-3">
                            <a class="list-group-item-action font-size-1 text-white-70 " href="/faq/">{% trans 'FAQs' %}</a>
                    </li>
                    <li class="list-inline-item pl-3">
                        <a class="list-group-item-action font-size-1 text-white-70 " href="/policy/">{% trans 'Use policies' %}</a>
                    </li>
                </ul> <br>
                <p class="small text-white-70 mb-0">&copy; {% trans 'Travelposting 2020 All Rights Reserved Site Map Disclaimer.' %}</p>

                <!-- End Copyright -->
            </div>

        </div>
    </div>
</footer>
