{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}
<footer class="gradient-half-primary-v1">
    <div class="container space-top-2 space-bottom-1">
        <div class="row justify-content-lg-start mb-7">
            <div class="col-sm-9 col-lg-4 mb-7">
                <!-- Logo -->
                <a class="d-inline-flex align-items-center mb-3" href="../home/index.html" aria-label="Front">

                    <span class="brand brand-light">Travelposting</span>
                </a>
                <!-- End Logo -->
                <p class="small text-white-70" style="text-align: justify; text-justify: inter-word;">
                    {% blocktrans %}
                        We are Travelposting.com a web portal owned by Xposting-Service, International Marketing and Digital Promotion Company,
                        opened on March 1, 2009 with its headquarters in the city of Hamburg, Germany.
                    {% endblocktrans%}
                </p>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 ml-lg-auto mb-4">
                <h3 class="h6 text-white">Traveland</h3>
                <!-- List Group -->
                <ul class="list-group list-group-transparent list-group-white list-group-flush list-group-borderless mb-0">
                    {% show_menu 0 100 100 100 "menu/menu_footer.html" %}
                </ul>
                <!-- End List Group -->
            </div>


        </div>
        <div class="row align-items-center">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <!-- Social Networks -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://www.facebook.com/travelposting">
                        <span class="fab fa-facebook-f btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://instagram.com/travelposting24">
                        <span class="fab fa-instagram btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://twitter.com/travelposting">
                        <span class="fab fa-twitter btn-icon__inner"></span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-sm btn-icon btn-soft-light btn-bg-transparent" href="https://wa.me/494018203370">
                        <span class="fab fa-whatsapp btn-icon__inner"></span>
                        </a>
                    </li>
                </ul>
                <!-- End Social Networks -->
            </div>
            <div class="col-sm-6 text-sm-right">
                <!-- Copyright -->
                <p class="small text-white-70 mb-0">&copy; Travelposting 2019 All Rights Reserved Site Map Disclaimer. </p>
                <!-- End Copyright -->
            </div>
            
        </div>
    </div>
</footer>