{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles destinations_tags %}
{% block title %}{% trans 'About us' %}{% endblock title %}
{% block extracss %}

<link rel="stylesheet" href="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.css' %}">
{% endblock extracss %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}

{% block content %}
<br><br><br><br>
<main id="content" role="main">
      <div id="SVGwave1bottomSM" class="position-relative gradient-half-primary-v1 space-top-2 space-bottom-3" style="">
            <div class="container">
                  <h1 class="text-white font-weight-semi-bold">{% trans "Live the adventure" %}</h1>
                  <p class="text-white-70">Do you want to know more (<a class="text-light" href="/about-us/">about us?</a>)</p>

                  <!-- SVG Bottom Shape -->
                  <figure class="position-absolute right-0 bottom-0 left-0">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              preserveAspectRatio="none" x="0px" y="0px" width="100%" height="140px" viewBox="0 0 300 100"
                              style="margin-bottom: -8px; enable-background:new 0 0 300 100;" xml:space="preserve"
                              class="injected-svg js-svg-injector" data-parent="#SVGwave1bottomSM">
                              <style type="text/css">
                                    .wave-bottom-1-sm-0 {
                                          fill: #FFFFFF;
                                    }
                              </style>
                              <g>
                                    <defs>
                                          <rect id="waveBottom1SMID1" width="300" height="100"></rect>
                                    </defs>
                                    <clipPath id="waveBottom1SMID2">
                                          <use xlink:href="#waveBottom1SMID1" style="overflow:visible;"></use>
                                    </clipPath>
                                    <path class="wave-bottom-1-sm-0 fill-white" opacity=".4"
                                          clip-path="url(#waveBottom1SMID2)"
                                          d="M10.9,63.9c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7C293.7,41,315,61.2,315,61.2v54.4H10.9V63.9z">
                                    </path>
                                    <path class="wave-bottom-1-sm-0 fill-white" opacity=".4"
                                          clip-path="url(#waveBottom1SMID2)"
                                          d="M-55.7,64.6c0,0,42.9-34.5,87.5-14.2c77.3,35.1,113.3-2,146.6-4.7c48.7-4.1,69.9,16.2,69.9,16.2v54.4H-55.7     V64.6z">
                                    </path>
                                    <path class="wave-bottom-1-sm-0 fill-white" opacity=".4" fill-opacity="0"
                                          clip-path="url(#waveBottom1SMID2)"
                                          d="M23.4,118.3c0,0,48.3-68.9,109.1-68.9c65.9,0,98,67.9,98,67.9v3.7H22.4L23.4,118.3z">
                                    </path>
                                    <path class="wave-bottom-1-sm-0 fill-white" clip-path="url(#waveBottom1SMID2)"
                                          d="M-54.7,83c0,0,56-45.7,120.3-27.8c81.8,22.7,111.4,6.2,146.6-4.7c53.1-16.4,104,36.9,104,36.9l1.3,36.7l-372-3     L-54.7,83z">
                                    </path>
                              </g>
                        </svg>
                  </figure>
                  <!-- End SVG Bottom Shape Section -->
            </div>
      </div>
      <div class="container2">
            <div class="border-top border-bottom py-4 mb-5">
                  <div class="row align-items-md-center">
                        <div class="col-md-7 mb-5 mb-md-0">

                        </div>
                        <div class="col-md-5">
                              <div class="d-md-flex justify-content-md-end align-items-md-center">
                                    <h2 class="text-secondary font-size-1 font-weight-medium text-uppercase mb-0">{% trans 'Follow us' %}:</h2>

                                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
                                          href="https://www.facebook.com/travelposting">
                                          <span class="fab fa-facebook-f btn-icon__inner"></span>
                                    </a>
                                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
                                          href="https://twitter.com/travelposting">
                                          <span class="fab fa-twitter btn-icon__inner"></span>
                                    </a>
                                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
                                          href="https://instagram.com/travelposting24">
                                          <span class="fab fa-instagram btn-icon__inner"></span>
                                    </a>
                                    <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent rounded-circle ml-2"
                                          href="https://wa.me/491788338735">
                                          <span class="fab fa-whatsapp btn-icon__inner"></span>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <!-- End Hero Section -->
      <div class="container2">
            {% placeholder 'iframe para seccion' %}
      </div>
<br>
<!-- CTA -->
<div class="gradient-overlay-half-primary-v1 bg-img-hero"
      style="background-image: url({% static 'assets/img/1920x400/community.jpg'%});">
      <div class="container space-2">
            <div class="row align-items-md-center">
                  <div class="col-md-8 mb-7 mb-md-0">
                        <!-- Content -->
                        <div class="media">
                              <span class="btn btn-lg btn-icon btn-soft-light rounded-circle mr-4">
                                    <span class="fas fa-user-friends btn-icon__inner"></span>
                              </span>
                              <div class="media-body">
                                    <h2 class="text-white font-weight-semi-bold">{% trans 'What Happened to' %} <span
                                                class="text-warning">{% trans 'Community'%}?</span></h2>
                                    <p class="text-white-70 mb-0"><strong class="text-white">Our Community</strong> – Discover new destinations that can seduce you and you will want to return to them.</p>
                              </div>
                        </div>
                        <!-- End Content -->
                  </div>

                  <div class="col-md-4 text-md-right">
                        <!-- Button Link -->
                        <a class="btn btn-warning transition-3d-hover" href="/community/login/">
                              {% trans "Register on our community" %}
                              <span class="fas fa-angle-right ml-2"></span>
                        </a>
                        <!-- End Button Link -->
                  </div>
            </div>
      </div>
</div>
<!-- End CTA -->
</main>
{% endblock %}
{% block extrajs %}
<script src="{% static 'assets/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
<script src="{% static 'assets/vendor/typed.js/lib/typed.min.js' %}"></script>
<script>
      // initialization of text animation (typing)
      var typed = new Typed(".u-text-animation.u-text-animation--typing", {
        strings: ["{% trans 'modern' %}", "{% trans 'creative' %}", "{% trans 'professional' %}"],
        typeSpeed: 70,
        loop: true,
        backSpeed: 40,
        backDelay: 2000
      });
</script>
{% endblock %}