{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{%load destinations_tags%}
{% block title %}{% trans 'Travelposting' %}{% endblock title %}
{% block extracss %} 
<link rel="stylesheet" href="{% static 'css/destinations.css' %}">
{% endblock extracss %}

{% block content %}
{% include "pages/show_header.html" %}


<!--START SECTION LIST DESTIANTIONS-->
{% destinations_list%}
<!--END SECTION LIST DESTIANTIONS-->
<!--START SECTION LIST CATEGORIES-->
{% categories_list %}
<!--END SECTION LIST CATEGORIES-->
<!-- start SECTION LIST TESTIMONIAL -->
{% testimonials_list %}
<!-- END SECTION LIST TESTIMONIAL-->
<!-- CONTACT -->
<div class="bg-img-hero" style="background-image: url({% static 'assets/img/1920x1080/img8.jpg'%});">
    <div class="container space-2 space-md-3">
        <div class="row justify-content-end">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <!-- Content -->
                <div class="card border-0 shadow-sm">
                    <div class="card-body p-7">
                        <div class="mb-4">
                            <h2 class="font-weight-normal mb-0">{% trans 'Contact us' %}</h2>
                        </div>
                        <!-- Form Group -->
                        <i class="fa fa-map-marker-alt"></i> {% placeholder 'contact_ubication' %}<br><br>
                        <i class="fa fa-phone"></i> {% placeholder 'contact_phone' %}<br><br>
                        <i class="fab fa-whatsapp"></i> {% placeholder 'contact_whatsapp' %}<br><br>
                        <i class="fa fa-envelope widget-contact-info__item__icon__email"></i> {% placeholder 'contact_email'%}<br><br>
                        <i class="fab fa-skype"></i> {% placeholder 'contact_skype' %}
                        <!-- End Form Group -->
                    </div>
                </div>
            </div>
            <!-- End Content -->
        </div>
    </div>
</div>
</div>
<!-- ENDCONTACT-->
<!-- Subscribe Section -->
<div class="container space-2 space-md-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto">
        <div class="mb-9">
            <span class="btn btn-xs btn-soft-primary btn-pill mb-2">Subscribe</span>
            <h2 class="font-weight-normal">{% trans "Stay in the know" %}</h2>
            <p class="mb-0">{% trans "Subscribe now and get special offers on the latest developments from Travelposting." %}</p>
        </div>
    </div>
    <!-- End Title -->
    <!-- Form -->
    <form class="js-validate w-lg-75 mx-lg-auto">
        <div class="form-row">
            <div class="col-sm-4 mb-2 mb-sm-0">
                <div class="js-form-message">
                    <label class="sr-only" for="signupSrName">Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" id="signupSrName" placeholder="{% trans 'Name' %}" aria-label="Name" required
                            data-msg="Name must contain only letters.">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-2 mb-sm-0">
                <div class="js-form-message">
                    <label class="sr-only" for="signupSrEmail">Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="{% trans 'Email'%}" aria-label="Email" required data-msg="Please enter a valid email address.">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-block btn-primary transition-3d-hover">{% trans "Suscribe" %}</button>
            </div>
        </div>
    </form>
    <!-- End Form -->
</div>
<!-- End Subscribe Section -->

<div class="row justify-content-between text-center">
    <div class="col-4 col-lg-2 mb-5 mb-lg-0">
        <div class="mx-4">
            {% placeholder 'sponsor01' %}
        </div>
    </div>
    <div class="col-4 col-lg-2 mb-5 mb-lg-0">
        <div class="mx-4">
            {% placeholder 'sponsor02' %}
        </div>
    </div>
    <div class="col-4 col-lg-2 mb-5 mb-lg-0">
        <div class="mx-4">
            {% placeholder 'sponsor03' %}
        </div>
    </div>
    <div class="col-4 col-lg-2">
        <div class="mx-4">
            {% placeholder 'sponsor04' %}
        </div>
    </div>
    <div class="col-4 col-lg-2">
        <div class="mx-4">
            {% placeholder 'sponsor05' %}
        </div>
    </div>
    <div class="col-4 col-lg-2">
        <div class="mx-4">
            {% placeholder 'sponsor06' %}
        </div>
    </div>
</div>
<br><br>
<div id="SVGctaSection" class="position-relative gradient-half-primary-v1 text-center z-index-2 overflow-hidden" style="">
    <div class="container space-2">
        <h3 class="h2 text-info font-weight-semi-bold mb-3">{% trans 'Ready to get started?' %}</h3>
        <p class="lead text-white mb-5">
            <span class="font-weight-semi-bold">{% trans 'Visit all our tour and travel available.' %}</span>
        </p>
        <a class="btn btn-white btn-wide transition-3d-hover" href="{% url 'accounts:login' %}">{% trans 'Login' %}</a>
    </div>
    <!-- SVG Component -->
    <figure class="position-absolute top-0 left-0 w-100 max-width-27 z-index-n1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 384.1 283.3" style="enable-background:new 0 0 384.1 283.3;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGctaSection">
            <style type="text/css">
                .abstract-shapes-8-0{fill:#00DFFC;}
                .abstract-shapes-8-1{fill:#FFC107;}
                .abstract-shapes-8-2{fill:none;stroke:#00DFFC;}
            </style>
            <g>
                <defs>
                    <rect id="abstractShapesID8_1" width="384.1" height="283.3"></rect>
                </defs>
                <clipPath id="abstractShapesID8_2">
                    <use xlink:href="#abstractShapesID8_1" style="overflow:visible;"></use>
                </clipPath>
                <path class="abstract-shapes-8-0 fill-info" clip-path="url(#abstractShapesID8_2)" d="M-160.5-53c29.5-3.9,58.5-7.9,82.9-27.9c17.7-14.4,29.8-35.1,34.1-57.5c5.6-29.4-3.4-64.4,15.2-90.2   c10-13.8,25.8-21.8,42.9-21.7c44.3,0.4,61.3,41.3,67.3,79.1c7.1,44.4,5.2,93,45.4,122.6c23.8,17.5,60.1,21.9,77.9,47.6   c26.1,37.6-18.6,74.7-48.2,91.9c-26.8,15.5-53.5,29.6-82.8,39.9c-15.2,5.4-31.6,8.8-47.5,5.9c-39-7.1-38.9-47.7-58.5-74.4   c-10.4-14.2-25.3-23.6-42.4-27.7c-31-7.6-63.8-3-95.2-0.6c-30,2.3-70.1-16.7-59.5-53.5c4.8-16.8,20.8-25.3,36.9-28.6   C-181.6-50.2-171-51.6-160.5-53z"></path>
                <path class="abstract-shapes-8-1 fill-warning" clip-path="url(#abstractShapesID8_2)" d="M369.1,21.5c-14.7-73.5-31.3-154.9-83.3-212.2c-65.3-72-161.9-133.7-254.4-163.2c-47-15-86,2.5-110.9,44.3   c-16,27-22.7,58.9-40.6,84.6c-15.9,22.8-39.2,42.2-46.9,69.9c-8.5,30.5,9.6,62.6,30.7,83.4c17.8,17.6,39.5,29.4,64.9,30.3   c8.4,0.3,17.5-0.9,27-2.6c42-7.5,90.3-24.9,102.6,33.2c5,23.8-6.2,42.3-17.3,62.5c-13.7,24.7-22.3,55.9-14.8,83.9   c7.5,28.2,36.2,56.4,66.7,40.8c35.1-18,43.6-64.2,82.1-79.3c24.1-9.4,45.7,1.1,63,18.9c11,11.4,19.3,25.2,26.5,39.4   c16.5,32.6,49.9,60.7,86.9,35.6C404.6,155,379.3,72.1,369.1,21.5z"></path>
                <circle class="abstract-shapes-8-2 fill-none stroke-info" stroke-width="3" stroke-miterlimit="10" clip-path="url(#abstractShapesID8_2)" cx="193.8" cy="257.8" r="14.4"></circle>
                <circle class="abstract-shapes-8-2 fill-none stroke-info" stroke-width="2" stroke-miterlimit="10" clip-path="url(#abstractShapesID8_2)" cx="202.8" cy="220" r="5.4"></circle>
            </g>
        </svg>
    </figure>
    <!-- End SVG Component -->
    <!-- SVG Component -->
    <figure class="position-absolute bottom-0 right-0 w-100 max-width-27 z-index-n1">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 385.3 279.2" style="enable-background:new 0 0 385.3 279.2;" xml:space="preserve" class="injected-svg js-svg-injector" data-parent="#SVGctaSection">
            <style type="text/css">
                .abstract-shapes-5-0{fill:#00DFFC;}
                .abstract-shapes-5-2{fill:#FFFFFF;}
                .abstract-shapes-5-3{fill:#FFC107;}
                .abstract-shapes-5-4{fill:none;stroke:#00DFFC;}
            </style>
            <g>
                <defs>
                    <rect id="abstractShapesID5_1" width="385.3" height="279.2"></rect>
                </defs>
                <clipPath id="abstractShapesID5_2">
                    <use xlink:href="#abstractShapesID5_1" style="overflow:visible;"></use>
                </clipPath>
                <path class="abstract-shapes-5-0 fill-info" clip-path="url(#abstractShapesID5_2)" d="M247.1,109.8c7.3,20.4,16.6,50.8,8,70.9c-6.6,15.6-19,38.4-34.6,35.3c-13.1-16.9-39.8-52.2-57-66   c-14.2-11.4-36-23.2-49.8-35.6C79.5,83.6,66.3,41.8,47.3,0C81.9,3.5,116.1,10,150,19.4c21.8,6.2,44.3,14.2,60.8,29.4   C229.1,64.5,239.5,87,247.1,109.8z"></path>
                <g clip-path="url(#abstractShapesID5_2)">
                    <g>
                        <path class="abstract-shapes-5-2 fill-white" d="M49.4,1.8C89.7,21,126.8,46,158.5,76.9c34.4,34,57.5,73.9,83.3,113.8c0.4,1.2,2.7,0,1.6-1.2     C199.2,107,137,37.4,49.4,0.6C49.4,0.7,48.6,1.1,49.4,1.8L49.4,1.8z"></path>
                    </g>
                    <g>
                        <path class="abstract-shapes-5-2 fill-white" d="M72.8,54.3c27.8-1.6,52-0.4,76.3,14.9c1.6,1.2,3.1-1.6,1.6-2.7c-21.5-14.1-52.8-22.7-78.2-14.1     C71.7,53.1,71.7,54.3,72.8,54.3L72.8,54.3z"></path>
                    </g>
                    <g>
                        <path class="abstract-shapes-5-2 fill-white" d="M116.2,100.4c13.3,0,26.2-0.4,39.1,2.7c11.7,2.7,23.1,7,34.8,11.3c1.6,0.4,2-1.6,0.4-2.7     c-23.5-8.6-50.1-18.8-75.1-12.5C115.9,100,115.9,100.4,116.2,100.4L116.2,100.4z"></path>
                    </g>
                    <g>
                        <path class="abstract-shapes-5-2 fill-white" d="M167.9,141.5c9,0.4,18.8,1.6,27.8,3.1c10.6,2,17.6,7.4,24.6,15.6c1.2,1.2,3.1-0.4,2-2     c-6.3-7.4-12.9-12.9-23.1-15.6c-10.2-2-21.1-2.7-31.7-2C167.5,140.3,167.5,141.5,167.9,141.5L167.9,141.5z"></path>
                    </g>
                    <g>
                        <path class="abstract-shapes-5-2 fill-white" d="M129.9,22.2c0.4,10.2,5.9,20.3,9.8,29.7c2.7,5.9,4.7,16,12.5,17.2c0.4,0,1.2-0.4,0.4-1.2     c-12.9-10.6-13.3-31.7-21.9-45.8C130.7,21.4,129.9,21.4,129.9,22.2L129.9,22.2z"></path>
                    </g>
                    <g>
                        <path class="abstract-shapes-5-2 fill-white" d="M171.8,34.3c2.7,27.8,11.3,55.1,21.1,81c0.4,1.2,2.7,0.4,2-0.4c-10.2-26.2-15.6-53.2-21.9-80.6     C172.6,33.9,171.8,33.9,171.8,34.3L171.8,34.3z"></path>
                    </g>
                    <g>
                        <path class="abstract-shapes-5-2 fill-white" d="M216.8,93c0,23.5,5.9,47.7,9.8,70.8c0.4,1.6,3.1,1.2,2.7-0.4c-4.3-23.5-7.4-46.5-11.3-70.4     C217.9,91.8,216.8,91.8,216.8,93L216.8,93z"></path>
                    </g>
                </g>
                <path class="abstract-shapes-5-3 fill-warning" clip-path="url(#abstractShapesID5_2)" d="M366.9,378.4c-33.4-4.4-66.3-9-94-31.6c-20-16.3-33.8-39.8-38.6-65.1c-6.4-33.3,3.8-73-17.3-102.3   c-11.3-15.7-29.2-24.8-48.6-24.6c-50.2,0.5-69.4,46.8-76.3,89.6c-8,50.3-5.9,105.4-51.5,138.9c-26.9,19.8-68.1,24.9-88.3,54   C-77.2,480-26.6,522,7,541.4c30.4,17.6,60.7,33.5,93.9,45.2c17.3,6.1,35.9,9.9,53.9,6.7c44.3-8.1,44.1-54.1,66.3-84.3   c11.8-16.1,28.7-26.7,48-31.4c35.2-8.6,72.4-3.4,107.9-0.7c34,2.6,79.4-19,67.5-60.6c-5.5-19.1-23.6-28.7-41.9-32.4   C390.8,381.6,378.8,380,366.9,378.4z"></path>
                <linearGradient id="abstractShapesID5_3" gradientUnits="userSpaceOnUse" x1="1924.1892" y1="147.9113" x2="2331.603" y2="147.9113" gradientTransform="matrix(-0.7976 0.6032 -0.6032 -0.7976 2013.4222 -797.0972)">
                    <stop class="stop-color-primary" offset="2.474398e-07" style="stop-color:#377DFF"></stop>
                    <stop class="stop-color-indigo" offset="1" style="stop-color:#2D1582"></stop>
                </linearGradient>
                <path class="abstract-shapes-5-4 fill-none stroke-info" fill="url(#abstractShapesID5_3)" clip-path="url(#abstractShapesID5_2)" d="M226.1,178.5c60.5-44.6,146.8-0.3,143.9,74.9c0,1-0.1,2-0.1,2.9c-5.7,95,128.3,111.4,51.9,156.6   s5.1,77-71.6,107.4c-76.8,30.4-120.3,93.2-214.1-12.1C50.7,412.3-13.8,450.3,2.5,368.6c3-15.2,4.9-30.7,4.9-46.2   c0.1-25.7,12.8-71.2,95.6-89.1C157.1,221.7,197.8,199.3,226.1,178.5z"></path>
                <linearGradient id="abstractShapesID5_4" gradientUnits="userSpaceOnUse" x1="1924.1892" y1="147.9113" x2="2331.603" y2="147.9113" gradientTransform="matrix(-0.7976 0.6032 -0.6032 -0.7976 2013.4222 -797.0972)">
                    <stop class="stop-color-primary" offset="2.474398e-07" style="stop-color:#377DFF"></stop>
                    <stop class="stop-color-indigo" offset="1" style="stop-color:#2D1582"></stop>
                </linearGradient>
                <path fill="url(#abstractShapesID5_4)" clip-path="url(#abstractShapesID5_2)" d="M226.1,178.5c60.5-44.6,146.8-0.3,143.9,74.9c0,1-0.1,2-0.1,2.9c-5.7,95,128.3,111.4,51.9,156.6   s5.1,77-71.6,107.4c-76.8,30.4-120.3,93.2-214.1-12.1C50.7,412.3-13.8,450.3,2.5,368.6c3-15.2,4.9-30.7,4.9-46.2   c0.1-25.7,12.8-71.2,95.6-89.1C157.1,221.7,197.8,199.3,226.1,178.5z"></path>
                <path class="abstract-shapes-5-4 fill-none stroke-info" stroke-width="3" stroke-miterlimit="10" clip-path="url(#abstractShapesID5_2)" d="M340,48.2c-0.1-1.9-1-3.6-2.5-4.7c-2.3-1.7-6.1-2.2-11.4,5.5c-8.4,12.2-0.5,11.7,0.6,11.6c0.1,0,0.2,0,0.3,0   l7.3-0.5c3.5-0.2,6.2-3.3,6-6.8L340,48.2z"></path>
            </g>
        </svg>
    </figure>
    <!-- End SVG Component -->
</div>
{% endblock content %}
{% block extrajs %}
<script src="{% static 'js/destinations.js' %}"></script>
{% endblock extrajs %}
