{% extends 'destinations/base.html' %}
{% load static i18n destinations_tags %}
{% block title %}{% trans 'Welcome to your Dashboard' %}{% endblock %}

{% block content %}
  <div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}
    <div class="wrapper wrapper-content">
      {% filter_dashboard_index user as dashboard_list %}
      <div class="row">
        <div class="col-lg-3">
          <div class="ibox ">
            <div class="ibox-title">
              <div class="ibox-tools">
                  <span class="float-right">
                    <span style="font-size: 1.5em; color: #23c6c8;">
                      <i class="fa fa-plane"></i>
                    </span>
              </div>
              <h5>{% trans "Destinations" %}</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{ dashboard_list.destination_count }}</h1>
              <small>
                <a href="{% url 'destinations:list' %}" class="label label-info">
                  {% trans "Show Destinations" %}
                </a>
              </small>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox ">
            <div class="ibox-title">
              <div class="ibox-tools">
                <span class="float-right">
                  <span style="font-size: 1.5em; color: #1c84c6;">
                    <i class="fa fa-credit-card"></i>
                  </span>
                </span>

              </div>
              <h5>{% trans "Booking" %}</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{ dashboard_list.booking_count }}</h1>
              <small>
                <a href="{% url 'destinations:booking-list' %}" class="label label-success">
                  {% trans "Show Bookings" %}
                </a>
              </small>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox ">
            <div class="ibox-title">
              <div class="ibox-tools">
                <span class="label label-primary float-right">Today</span>
              </div>
              <h5>{% trans "User Connected" %}</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{ dashboard_list.user_last }}</h1>
              <div class="stat-percent font-bold text-navy"><i class="fa fa-level-up"></i></div>
              <small>{% trans "Number of users connected" %}</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox ">
            <div class="ibox-title">
              <div class="ibox-tools">
                <span class="label label-danger float-right">Low value</span>
              </div>
              <h5>User activity</h5>
            </div>
            <div class="ibox-content">
              <h4 class="no-margins">{{ request.user.last_login }}</h4><br>
              <div class="stat-percent font-bold text-success"> <i class="fa fa-level-up"></i></div>
              <small>{% trans "Last Visit" %}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'destinations/footer.html' %}
  </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="{% static 'js/booking_charts.js' %}"></script>
{% endblock %}
