{% extends 'destinations/base.html' %}
{% load static i18n destinations_tags %}
{% block title %}{% trans 'Welcome to your Dashboard' %}{% endblock %}

{% block content %}
  <div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}
                    
    <div class="wrapper wrapper-content">
      {% filter_dashboard_index user as dashboard_list %}
      {% include 'dashboard/widgets.html' %}
    </div>
    {% include 'destinations/footer.html' %}
  </div>
{% endblock %}

{% block js %}
    {{ block.super }}

{% endblock %}
