{% load i18n static charts%}
<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <span class="float-right">
                    <span style="font-size: 1.5em; color: #23c6c8;">
                    <i class="fa fa-plane"></i>
                    </span>
                </div>
                <h5>{% trans "Destinations" %}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ dashboard_list.destination_count }}</h1>
                <small>
                <a href="{% url 'destinations:list' %}" class="label label-info">
                {% trans "Show Destinations" %}
                </a>
                </small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <span class="float-right">
                    <span style="font-size: 1.5em; color: #1c84c6;">
                    <i class="fa fa-credit-card"></i>
                    </span>
                    </span>
                </div>
                <h5>{% trans "Booking" %}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ dashboard_list.booking_count }}</h1>
                <small>
                <a href="{% url 'destinations:booking-list' %}" class="label label-success">
                {% trans "Show Bookings" %}
                </a>
                </small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <span class="label label-primary float-right">Today</span>
                </div>
                <h5>{% trans "User Connected" %}</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ dashboard_list.user_last }}</h1>
                <div class="stat-percent font-bold text-navy"><i class="fa fa-level-up"></i></div>
                <small>{% trans "Number of users connected" %}</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <div class="ibox-tools">
                    <span class="label label-danger float-right">Low value</span>
                </div>
                <h5>User activity</h5>
            </div>
            <div class="ibox-content">
                <h4 class="no-margins">{{ request.user.last_login }}</h4>
                <br>
                <div class="stat-percent font-bold text-success"> <i class="fa fa-level-up"></i></div>
                <small>{% trans "Last Visit" %}</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{% trans "Visitor by Destinations"%}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                    <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content table-responsive">
                <table class="table table-hover no-margins">
                    <thead>
                        <tr>
                            <th>{% trans "Destinations"%}</th>
                            <th>{% trans "Last Visit"%}</th>
                            <th>{% trans "Number visits"%}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for statis_destine in statis_destinies%}
                        <tr>
                            <td><small>{{ statis_destine.name }}</small></td>
                            <td>{{ statis_destine.last_visit|default_if_none:"" }}</td>
                            <td><span class="label label-primary">{{ statis_destine.visitor_count|default_if_none:"" }}</span></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>{% trans "Number of visits per country"%}</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                    <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-5">
                        <table class="table table-hover margin bottom">
                            <thead>
                                <tr>
                                    <th class="text-center">{% trans "IP Address" %}</th>
                                    <th>{% trans "Location" %}</th>
                                    <th class="text-center">{% trans "Total visits from country" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for visits in last_visits %}
                                <tr>
                                    <td class="text-center">{{ visits.last_ip }}</td>
                                    <td> {{ visits.location|default:'Unknown' }} </td>
                                    <td class="text-center"> {% total_visits visits.location %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-7">
                        <div id="world-map" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
