{%load i18n static %}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-globe fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> {% trans "Destinations" %} </span>
                                <h2 class="font-bold">{{ dashboard_list.destination_count }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-envelope-o fa-5x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> {% trans "Bookings" %} </span>
                            <h2 class="font-bold">{{ dashboard_list.booking_count }}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox ">

                    <div class="ibox-content">

                        <div>
                <div class="chat-activity-list">
                    <div class="chat-element ">
                        <div class="media-body ">
                            <p class="m-b-xs">
                                {% trans "If you have any questions or comments, do not hesitate to send us a message" %}
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                        <div class="chat-form">
                            <form role="form" action="{% url 'destinations:send_message' %}" method="POST">{% csrf_token %}
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="{% trans 'Message' %}"></textarea>
                                </div>
                                <div class="text-right">
                                    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>{% trans "Send message" %}</strong></button>
                                </div>
                            </form>
                        </div>
                        {% if reply %}
                        <br><br>
                        <div class="alert alert-success alert-dismissable">
                          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                          {{ reply }} <a class="alert-link" href="#"></a>.
                        </div>
                        {% endif %}
                </div>
                </div>
            </div>
        </div>
   </div>
