{% load i18n %}
{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="{{ form.categorie.id }}">
                        {{ form.categorie.label }}:
                </label>
                {{ form.categorie }}
                <span class="help-block m-b-none">
                    {{ field.categorie.help_text|safe }}
                </span>
                {{ form.categorie.error|safe }}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <label class="control-label" for="{{ form.name.id }}">
            {{ form.name.label }}:
            </label>
            {{ form.name }}
            <span class="help-block m-b-none">
                {{ field.name.help_text|safe }}
            </span>
            {{ form.name.error|safe }}
        </div>
    </div>



<div class="form-group" id="date_tour" style="display:none">
    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.departure_date.id }}">
                        {{ form.departure_date.label }}:
                </label>
                {{form.departure_date}}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.arrival_date.id }}">
                        {{ form.arrival_date.label }}:
                </label>
                {{form.arrival_date}}
            </div>
        </div>
    </div>
</div>

<div class="form-group" id="time_tour" style="display:none">
    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.departure_time.id }}">
                        {{ form.departure_time.label }}:
                </label>
                {{form.departure_time}}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.arrival_time.id }}">
                        {{ form.arrival_time.label }}:
                </label>
                {{form.arrival_time}}
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="{{ form.short_description.id }}">
                {{ form.short_description.label }}:
                </label>
                {{ form.short_description }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="{{ form.description.id }}">
                {{ form.description.label }}:
                </label>
                {{ form.description }}
            </div>
        </div>
    </div>
</div>

<div class="form-group" id="tour_yes_no_include">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="select_include">
                {% trans "Include / Doesn't Include" %}:
                </label>
                <select class="form-control" name="select_include" id="select_include">
                    <option value="include">{% trans "Include" %}</option>
                    <option value="no_include">{% trans "Doesn't Include" %}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <label for="description_include">
                {% trans "Description Tour Include/Doesn't Include" %}:
                </label>
                <div class="input-group">
                    <input class="form-control" type="text" name="description_include" value="" placeholder="{% trans 'Food' %}">
                    <span class="product-input-group-addon">
                    <i class="btn btn-primary fa fa-plus" id="add"></i>
                    <i class="btn btn-danger fa fa-trash"  id="remove"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
