{% load i18n %}
{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="{{ form.categorie.id }}">
                        {{ form.categorie.label }}:
                </label>
                {{ form.categorie }}
                <span class="help-block m-b-none">
                    {{ field.categorie.help_text|safe }}
                </span>
                {{ form.categorie.error|safe }}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <label class="control-label" for="{{ form.name.id }}">
            {{ form.name.label }}:
            </label>
            {{ form.name }}
            <span class="help-block m-b-none">
                {{ field.name.help_text|safe }}
            </span>
            {{ form.name.error|safe }}
        </div>
    </div>



<div class="form-group" id="date_tour" style="display:none">
    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.departure_date.id }}">
                        {{ form.departure_date.label }}:
                </label>
                {{form.departure_date}}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.arrival_date.id }}">
                        {{ form.arrival_date.label }}:
                </label>
                {{form.arrival_date}}
            </div>
        </div>
    </div>
</div>

<div class="form-group" id="time_tour" style="display:none">
    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.departure_time.id }}">
                        {{ form.departure_time.label }}:
                </label>
                {{form.departure_time}}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.arrival_time.id }}">
                        {{ form.arrival_time.label }}:
                </label>
                {{form.arrival_time}}
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="{{ form.short_description.id }}">
                {{ form.short_description.label }}:
                </label>
                {{ form.short_description }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="{{ form.description.id }}">
                {{ form.description.label }}:
                </label>
                {{ form.description }}
            </div>
        </div>
    </div>
</div>

<!--
<div class="form-group" id="tour_yes_no_include">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="select_include">
                {% trans "Include / Doesn't Include" %}:
                </label>
                <select class="form-control" name="select_include" id="select_include">
                    <option value="include">{% trans "Include" %}</option>
                    <option value="no_include">{% trans "Doesn't Include" %}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <label for="description_include">
                {% trans "Description Tour Include/Doesn't Include" %}:
                </label>
                <div class="input-group">
                    <input class="form-control" type="text" name="description_include" value="" placeholder="{% trans 'Food' %}">
                    <span class="product-input-group-addon">
                    <i class="btn btn-primary fa fa-plus" id="add"></i>
                    <i class="btn btn-danger fa fa-trash"  id="remove"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
-->

<div class="form-group" id="tour_yes_no_include">
    <div class="row">
        <div class="col-lg-5 col-md-6">
            <div class="form-check">
                <input type="checkbox" name="has_wifi" id="has_wifi" class="form-check-input" value="">
                <label class="form-check-label" for="has_wifi">{% trans "Destination has Wifi?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_breakfast_incluided" id="has_breakfast_incluided" class="form-check-input" value="">
                <label class="form-check-label" for="has_breakfast_incluided">{% trans "Destination has Breakfast included?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_gym" id="has_gym" class="form-check-input" value="">
                <label class="form-check-label" for="has_gym">{% trans "Destination has Gym?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_air_conditioning" id="has_air_conditioning" class="form-check-input" value="">
                <label class="form-check-label" for="has_air_conditioning">{% trans "Destination has Air conditioning?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_restaurant" id="has_restaurant" class="form-check-input" value="">
                <label class="form-check-label" for="has_restaurant">{% trans "Destination has Restaurant?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_bar" id="has_bar" class="form-check-input" value="">
                <label class="form-check-label" for="has_bar">{% trans "Destination has Bar?" %}</label>
            </div>
        </div>
        <div class="col-lg-7 col-md-6">
            <div class="form-check">
                <input type="checkbox" name="has_housekeeping" id="has_housekeeping" class="form-check-input" value="">
                <label class="form-check-label" for="has_housekeeping">{% trans "Destination has Housekeeping service?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_room_service" id="has_room_service" class="form-check-input" value="">
                <label class="form-check-label" for="has_room_service">{% trans "Destination has Room service?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_business_services" id="has_business_services" class="form-check-input" value="">
                <label class="form-check-label" for="has_business_services">{% trans "Destination has Business services?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_hob_tub" id="has_hob_tub" class="form-check-input" value="">
                <label class="form-check-label" for="has_hob_tub">{% trans "Destination has Hob Tub?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_front_desk" id="has_front_desk" class="form-check-input" value="">
                <label class="form-check-label" for="has_front_desk">{% trans "Destination has 25/7 Front Desk?" %}</label>
            </div>
            <div class="form-check">
                <input type="checkbox" name="has_laundry" id="has_laundry" class="form-check-input" value="">
                <label class="form-check-label" for="has_laundry">{% trans "Destination has Laundry service?" %}</label>
            </div>
        </div>

    </div>

</div>
