{% load i18n %}
{% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
{% endfor %}

<!-- Start categorie and name destination -->
    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="{{ form.categorie.id }}">
                        {{ form.categorie.label }}:
                </label>
                {{ form.categorie }}
                <span class="help-block m-b-none">
                    {{ field.categorie.help_text|safe }}
                </span>
                {{ form.categorie.error|safe }}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <label class="control-label" for="{{ form.name.id }}">
            {{ form.name.label }}:
            </label>
            {{ form.name }}
            <span class="help-block m-b-none">
                {{ field.name.help_text|safe }}
            </span>
            {{ form.name.error|safe }}
        </div>
    </div>
<!-- End categorie and name destination -->

<!-- Start departure and arrival dates -->
<div class="form-group" id="date_tour" style="display:none">
    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.departure_date.id }}">
                        {{ form.departure_date.label }}:
                </label>
                {{form.departure_date}}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.arrival_date.id }}">
                        {{ form.arrival_date.label }}:
                </label>
                {{form.arrival_date}}
            </div>
        </div>
    </div>
</div>
<!-- End departure and arrival dates -->

<!-- Start short and large descriptions -->
<div class="form-group" id="time_tour" style="display:none">
    <div class ="row">
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.departure_time.id }}">
                        {{ form.departure_time.label }}:
                </label>
                {{form.departure_time}}
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="form-group">
                <label for="{{ form.arrival_time.id }}">
                        {{ form.arrival_time.label }}:
                </label>
                {{form.arrival_time}}
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="{{ form.short_description.id }}">
                {{ form.short_description.label }}:
                </label>
                {{ form.short_description }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="{{ form.description.id }}">
                {{ form.description.label }}:
                </label>
                {{ form.description }}
            </div>
        </div>
    </div>
</div>
<!-- End short and large descriptions -->
<!--
<div class="form-group" id="tour_yes_no_include">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="select_include">
                {% trans "Include / Doesn't Include" %}:
                </label>
                <select class="form-control" name="select_include" id="select_include">
                    <option value="include">{% trans "Include" %}</option>
                    <option value="no_include">{% trans "Doesn't Include" %}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="form-group">
                <label for="description_include">
                {% trans "Description Tour Include/Doesn't Include" %}:
                </label>
                <div class="input-group">
                    <input class="form-control" type="text" name="description_include" value="" placeholder="{% trans 'Food' %}">
                    <span class="product-input-group-addon">
                    <i class="btn btn-primary fa fa-plus" id="add"></i>
                    <i class="btn btn-danger fa fa-trash"  id="remove"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
-->

<!-- Destionation Include/Doesn't Include -->
<div class="form-group" id="destination_yes_no_includes">
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">{% trans "Destionation Include/Doesn't Include" %}</legend>
            <div class="col-lg-5 col-md-6">
                <div class="form-check">
                    {{form.has_wifi}}&nbsp;&nbsp;
                    <label class="form-check-label" for="{{ form.has_wifi.id }}">
                        {{ form.has_wifi.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_breakfast_incluided}}&nbsp;&nbsp;
                    <label for="{{ form.has_breakfast_incluided.id }}">
                            {{ form.has_breakfast_incluided.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_gym}}&nbsp;&nbsp;
                    <label for="{{ form.has_gym.id }}">
                            {{ form.has_gym.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_air_conditioning}}&nbsp;&nbsp;
                    <label for="{{ form.has_air_conditioning.id }}">
                            {{ form.has_air_conditioning.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_restaurant}}&nbsp;&nbsp;
                    <label for="{{ form.has_restaurant.id }}">
                            {{ form.has_restaurant.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_bar}}&nbsp;&nbsp;
                    <label for="{{ form.has_bar.id }}">
                            {{ form.has_bar.label }}.
                    </label>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="form-check">
                    {{form.has_housekeeping}}&nbsp;&nbsp;
                    <label for="{{ form.has_housekeeping.id }}">
                            {{ form.has_housekeeping.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_room_service}}&nbsp;&nbsp;
                    <label for="{{ form.has_room_service.id }}">
                            {{ form.has_room_service.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_business_services}}&nbsp;&nbsp;
                    <label for="{{ form.has_business_services.id }}">
                            {{ form.has_business_services.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_hob_tub}}&nbsp;&nbsp;
                    <label for="{{ form.has_hob_tub.id }}">
                            {{ form.has_hob_tub.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_front_desk}}&nbsp;&nbsp;
                    <label for="{{ form.has_front_desk.id }}">
                            {{ form.has_front_desk.label }}.
                    </label>
                </div>
                <div class="form-check">
                    {{form.has_laundry}}&nbsp;&nbsp;
                    <label for="{{ form.has_laundry.id }}">
                            {{ form.has_laundry.label }}.
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<!-- End Destionation Include/Doesn't Include -->
