

{% load staticfiles i18n destinations_tags %}
<!-- Hero Section -->
<div class="gradient-overlay-half-primary-video-v1">
    <!-- Video Background -->
    <div class="js-bg-video d-none d-md-block position-absolute w-100 h-100"
        data-hs-bgv-type=""
        data-hs-bgv-id=""
        data-hs-bgv-loop="true">
        <img src="{%  static image %}{% background_image %}" class="img-responsive">
    </div>
    <!-- End Video Background -->
    <div class="position-relative z-index-2">
        <!-- Content -->
        <div class="d-md-flex">
            <div class="container d-md-flex align-items-md-center min-height-md-100vh text-center space-3 space-top-md-4 space-top-lg-3">
                <div class="row justify-content-md-center w-100">
                    <div class="col-md-12">
                        <!-- Fancybox -->
                        <!-- End Fancybox -->
                        <!-- Info -->
                        <div class="mt-4 mb-7">
                            <h2 class="display-4 text-white font-weight-normal">{% trans 'Travel and share your adventure' %}</h2>
                        </div>
                        <!-- End Info -->
                        <!-- CARDS -->
                        <div class="d-flex justify-content-center">
                        <div class="js-slick-carousel text-center u-slick u-slick--gutters-3 z-index-2 slick-initialized slick-slider slick-dotted" data-slides-show="5" data-slides-scroll="1" data-pagi-classes="d-lg-none text-center u-slick__pagination mt-7 mb-0" data-responsive="[{
                            &quot;breakpoint&quot;: 1200,
                            &quot;settings&quot;: {
                            &quot;slidesToShow&quot;: 4
                            }
                            }, {
                            &quot;breakpoint&quot;: 992,
                            &quot;settings&quot;: {
                            &quot;slidesToShow&quot;: 3
                            }
                            }, {
                            &quot;breakpoint&quot;: 768,
                            &quot;settings&quot;: {
                            &quot;slidesToShow&quot;: 2
                            }
                            }, {
                            &quot;breakpoint&quot;: 480,
                            &quot;settings&quot;: {
                            &quot;slidesToShow&quot;: 1
                            }
                            }]">
                            <div class="slick-list draggable">
                                <div> 
                                    <div class="js-slide mt-1 slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 198px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01">
                                        <!-- Icon Block -->
                                        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
                                            <div class="card-body bg-danger rounded-top p-5">
                                                <div class="u-avatar bg-white rounded p-2 mx-auto">
                                                    <i class="fas fa-book"></i>
                                                </div>
                                            </div>
                                            <div class="card-body p-4">
                                                <div class="mb-3">
                                                    <h2 class="h6 mb-0">{% trans 'Search by' %}</h2>
                                                </div>
                                                <a class="btn btn-sm btn-block btn-primary" href="#categories_list" tabindex="0">{% trans 'Categories' %}</a>
                                            </div>
                                        </article>
                                        <!-- End Icon Block -->
                                    </div>
                                    <div class="js-slide mt-1 slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 198px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02">
                                        <!-- Icon Block -->
                                        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
                                            <div class="card-body bg-warning rounded-top p-5">
                                                <div class="u-avatar bg-white rounded p-2 mx-auto">
                                                    <i class="fas fa-search"></i>
                                                </div>
                                            </div>
                                            <div class="card-body p-4">
                                                <div class="mb-3">
                                                    <h2 class="h6 mb-0">{% trans 'Search by' %}</h2>
                                                </div>
                                                <a class="btn btn-sm btn-block btn-primary" href="/category/all/" tabindex="0">{% trans 'Destinations' %}</a>
                                            </div>
                                        </article>
                                        <!-- End Icon Block -->
                                    </div>
                                    <div class="js-slide mt-1 slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 198px; height: auto;" tabindex="0" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03">
                                        <!-- Icon Block -->
                                        <article class="card border-0 shadow-sm transition-3d-hover mb-3">
                                            <div class="card-body bg-success rounded-top p-5">
                                                <div class="u-avatar bg-white rounded p-2 mx-auto">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                            </div>
                                            <div class="card-body p-4">
                                                <div class="mb-3">
                                                    <h2 class="h6 mb-0" style="font-size: 14px;">{% trans 'No time for search?' %}</h2>
                                                </div>
                                                <a class="btn btn-sm btn-block btn-primary" href="#" tabindex="0">{% trans 'Request' %}</a>
                                            </div>
                                        </article>
                                        <!-- End Icon Block -->
                                    </div>
                                </div>
                            </div>
                            <ul class="js-pagination d-lg-none text-center u-slick__pagination mt-7 mb-0" role="tablist">
                                <li class="slick-active slick-current" role="presentation"><span></span></li>
                            </ul>
                        </div>
                    </div>
                        <!-- END CARDS -->
                        <!-- Form -->
                        <div id="SearchForm" style="display: none;">
                            <form id="PersonSearch" class="js-validate" action="safe/" method="POST">
                                {% csrf_token %}
                                <p class="lead text-white" style="font-size: 17px;">{% trans 'Where would you like to travel this time?'%}</p>
                                <div class="form-row mb-2">
                                    <div class="col-sm-6 col-lg mb-2">
                                        <div class="">
                                            <label class="sr-only">{% trans 'Name / Last Name' %}</label>
                                            <div class="input-group input-group-borderless">
                                                <input type="text" class="form-control" name="name" placeholder="{% trans 'Name / Last Name' %}" required="" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg mb-2">
                                        <div class="js-form-message">
                                            <label class="sr-only" >{% trans 'Country / City' %}</label>
                                            <div class="input-group input-group-borderless">
                                                <input type="text" class="form-control" name="city"  placeholder="{% trans 'Country / City' %}"  required="" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg mb-2">
                                        <div class="js-form-message">
                                            <label class="sr-only" for="signupSrEmail">{% trans 'E-mail' %}</label>
                                            <div class="input-group input-group-borderless">
                                                <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="{% trans 'E-mail' %}" aria-label="City" required="" data-msg="{% trans 'Please enter a valid email address.' %}'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg mb-2">
                                        <div class="">
                                            <label class="sr-only" for="signupSrEmail">{% trans 'Whatsapp' %}</label>
                                            <div class="input-group input-group-borderless">
                                                <input type="text" class="form-control" name="whatsapp"  placeholder="{% trans 'Whatsapp' %}" aria-label="Whatsapp">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-sm-6 col-lg mb-2">
                                        <button type="submit" class="btn btn-block btn-white transition-3d-hover">{% trans 'Send' %}</button>
                                    </div>
                                </div>
                                <p class="lead text-white" style="font-size: 17px;">  <input type="checkbox" name="answer_option" value="yes" checked> {% trans "Leave us your personal data if you want us to send you information regarding the destinations of your interest. Do you agree that we send you information to your email of the destinations you are looking for?" %}</p>
                            </form>
                        </div>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Content -->
        <div class="position-absolute right-0 bottom-0 left-0 mb-4">
            <div class="container text-center">
                <!-- Button -->
                <button type="button" class="btn btn-xs btn-soft-white btn-wide text-left mr-1">
                <span class="media align-items-center">
                <span class="fab fa-apple fa-2x mr-3" style="color: black;"></span>
                <span class="media-body">
                <a href="/es/coming-soon/" style="color: black;">
                <span class="d-block">Download on the</span>
                <strong class="font-size-1">App Store</strong></a>
                </span>
                </span>
                </button>
                <!-- End Button -->
                <!-- Button -->
                <button type="button" class="btn btn-xs btn-soft-white btn-wide text-left ml-1">
                <span class="media align-items-center">
                <span class="fab fa-google-play fa-2x mr-3" style="color: black;"></span>
                <span class="media-body">
                <a href="/es/coming-soon/" style="color: black;">
                <span class="d-block">Get it on</span>
                <strong class="font-size-1">Google Play</strong>
                </a>
                </span>
                </span>
                </button>
                <!-- End Button -->
            </div>
        </div>
    </div>
    <div class="d-lg-none position-absolute top-0 right-0 bottom-0 left-0 bg-img-hero" style="background-image: url({%  static image %}{% background_image %});"></div>
</div>
<!-- End Hero Section -->

