{%load i18n%}
<!-- Contact Us Modal Window -->
<div id="ContactUsModal" class="js-modal-window svg-preloader u-modal-window position-relative" style="width: 600px;">
  <!-- Modal Close Button -->
  <button type="button" class="close close-light position-absolute top-0 right-0 z-index-2 p-2" aria-label="{% trans 'Close' %}" onclick="Custombox.modal.close();">
  	<span aria-hidden="true">×</span>
  </button>
  <!-- End Modal Close Button -->

  <div class="card border-0 bg-primary text-white text-center py-5 px-md-5">
    <div class="card-body">
      <!-- Title -->
      <div class="mb-4">
        <h4 class="h1 font-weight-semi-bold mb-1">{% trans "Thanks for Contact Us" %}</h4>
        <p class="text-white-70 mb-0">{% trans "Here another Message" %}</p>
      </div>
      <!-- End Title -->

      <!-- SVG Icon -->
      <figure class="w-80 mx-auto mb-1 ie-subscribe-2-flat-icons">
        <img class="js-svg-injector" src="../../assets/svg/flat-icons/subscribe-2.svg"
             alt="{% trans 'Image Description' %}" data-parent="#ContactUsModal">
      </figure>
      <!-- End SVG Icon -->
    </div>

    <!-- SVG Background Shape -->
    <div class="w-100 content-centered-y z-index-n1">
      <figure class="ie-bg-elements-1">
        <img class="js-svg-injector" src="../../assets/svg/components/bg-elements-1.svg"
             alt="{% trans 'Image Description' %}" data-parent="#ContactUsModal">
      </figure>
    </div>
    <!-- End SVG Background Shape -->
  </div>
</div>
<!-- End Subscribe Modal Window -->
