{% extends 'destinations/base.html' %}
{% load static i18n destinations_tags static %}
{% block title %}{% trans 'Agencies - Travelposting' %}{% endblock %}
{% block extracss %}
<!-- FooTable -->
<link href="{% static 'dashboard/css/plugins/footable/footable.core.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
{% endblock extracss%}
{% block content %}
<div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h3>{% trans "Agencies List"%}</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/es/dashboard/">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url "dashboard:manager" %}">{% trans "Managers"%}</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>{% trans "Agencies"%}</strong>
                </li>
            </ol>
        </div>
    </div>
    <!-- Vista interna-->
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> {% trans "Travelposting Leaders" %} </span>
                            <h2 class="font-bold">
                                {{ conteo }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-users fa-4x"></i>
                        </div>
                        <div class="col-8 text-right">
                            <span> {% trans "Registered Agencies" %} </span>
                            <h2 class="font-bold">
                                {{ conteo_agency }}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 animated fadeInRight">

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{% trans "Manager Plataform"%}</h5>
                        <div class="ibox-tools">
                            <div class="btn-group">
                                <button onclick="window.location.href='{% url "dashboard:manager" %}'"   class="btn btn-outline btn-primary" type="button"><i class="fa fa-see"></i> <b class="color:white;">{% trans "See manager"%}</b></button>
                                <button class="btn btn-outline btn-primary" type="button"  data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i> <b class="color:white;">{% trans "add agency"%}</b></button>
                                <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title">{% trans "Choose an option" %}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="text-center">
                                                            <a href="{% url 'dashboard:agency-add' %}" class="text-info">
                                                                <i class="fa fa-plus fa-5x"></i>
                                                                <p class="font-bold"> 
                                                                    {% trans "Add new Agency" %}
                                                                </p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="text-center">
                                                            <a href="{% url 'dashboard:agency-add-existing' %}" class="text-info">
                                                                <i class="fa fa-address-card fa-5x"></i>




                                                                <p class="font-bold">{% trans "Add existing user" %}</p>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                                <a class="btn  btn-danger" href=""><i class="fa fa-plus"></i><b class="color:white;"> {% trans "add new Manager"%}</b></a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                            placeholder="{% trans 'Search manager country' %}">
                        <table class="table table-striped" data-page-size="8" data-filter=#filter>
                            <thead>
                                <tr>
                                    <th>{% trans "Full Name" %}</th>
                                    <th>{% trans "Email" %}</th>
                                    <th>{% trans "Country" %}</th>
                                    <th>{% trans "Phone" %}</th>
                                    <th>{% trans "Actions "%}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for users in users_agency %}
                                <tr class="gradeA">
                                    <td>{{users.get_full_name }}</td>
                                    <td>{{ users.email}}</td>

                                    <td>
                                        {{ users.get_country_display}}
                                    </td>
                                    <td>
                                        {% trans "It does not have" as nophone %}    
                                        {{ users.mobile|default_if_none:nophone }}    
                                    </td>

                                    <td>
                                        <a href="{% url 'accounts:user-details' users.id %}" class="btn btn-outline btn-primary  btn-xs"> {% trans "See" %}
                                        </a>
                                        <a href="{% url 'accounts:user-update' users.id %}" class="btn btn-outline btn-primary btn-xs ">
                                            {% trans "Edit" %}
                                        </a>
                                        <button class="btn btn-outline btn-danger btn-xs" type="button"  data-toggle="modal" data-target="#myModalDelete"><i class="fa fa-minus"></i> <b class="color:white;">{% trans "Delete" %}</b></button>
                                <div class="modal inmodal" id="myModalDelete" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content animated bounceInRight">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                <h4 class="modal-title">{{ users }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                  {% blocktrans %}
                                                    Are you sure you want to delete the agency {{ users}}?
                                                  {% endblocktrans %}
                                                </p>
                                            </div>
                                        <div class="modal-footer">
                                                    <form method="post"
                                                          action="{% url 'dashboard:agency-delete' users.pk %}">{% csrf_token %}
                                                            <button type="submit"  class="btn btn-danger ">
                                                                    {% trans "Yes" %}
                                                            </button>
                                                            <button  data-dismiss="modal" class="btn">
                                                                {% trans "No" %}
                                                            </button>
                                                </form>
                                        </div>
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Fin vista interna-->
    {% include 'destinations/footer.html' %}
</div>
{% endblock %}
