{% extends 'destinations/base.html' %}
{% load static i18n destinations_tags static %}

{% block content %}
<div id="page-wrapper" class="gray-bg">
    {% include 'destinations/navbar_top.html' %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <form method="post"
                  action="{% url 'destinations:requests_delete' object.pk %}">{% csrf_token %}
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">{% trans 'Close' %}</span></button>
                <h4 class="modal-title">{{ object }}</h4>
                <!-- <small class="font-bold">Delete this contract</small> -->
              </div>
              <div class="modal-body">
                <p>
                  {% blocktrans %}
                    Are you sure you want to delete the request {{ object }}?
                  {% endblocktrans %}
                </p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                <a href="{% url 'dashboard:requests' %}" type="button" class="btn btn-white" data-dismiss="modal">{% trans 'Close' %}</a>
              </div>
            </form>
        </div>
    </div>
{% endblock %}
