<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.6/venobox.min.css">


<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.6/venobox.min.js"></script>






{% load cms_tags staticfiles i18n %}


          <div class="gallery-container">

            <!-- Gallery filters -->
            <div class="filters-container text-center">
              <select name="" class="year-select">
                <option data-filter="*" selected="selected">{% trans "Default Order" %}</option>
                <option data-filter="2017">{% trans "Sort by popularity" %}</option>
                <option data-filter="2016">{% trans "Sort by average ranking"%}</option>
                <option data-filter="2015">{% trans "Sort by last"%}</option>
                <option data-filter="2016">{% trans "Sort by price: Low to High"%}</option>
                <option data-filter="2015">{% trans "Sort by price: High to Low"%}</option>
              </select>
            </div>
            <!-- /Gallery filters -->

            <hr>

            <div class="row gallery-items onyx-pagination" items-count="9" items-count-resp="4">
{% for i in "x"|rjust:"20" %}
            <!-- Gallery item -->
            <div class="col-sm-6 col-md-4 mb-5 gallery-item-outer" 
                data-filter="2017"
                data-popularity=""
                data-predetermined=""
                data-averagerate=""
                data-last =""
                data-lowtohigh=""
                data-hightolow=""
                >
                <!-- Card Info -->
                <div class="card border-0 shadow-soft h-100 gallery-item press">
                  <img class="card-img-top" src="{% static 'img/blank.gif' %}" data-original="{% static 'assets/img/1920x1080/img20.jpg' %}" alt="Image Description">
                  <div class="card-body p-5">
                    <h4 class="text-primary" class="mb-0">
                      <span class="font-weight-semi-bold">Dervins{{destination.name}}</span>
                    </h4>
                  </div>
                  <div class="card-footer bg-light border-0 py-4 px-5">
                    <a href="#">{% trans "See more" %} <small class="fas fa-arrow-right ml-1"></small></a>
                  </div>
                </div>
                <!-- End Card Info -->
              </div>
{% endfor %}
            <!-- end Gallery item -->
            </div>

          </div>

                  <div class="pagination">
                      <a href="#" class="active"><i class="fa fa-arrow-back"></i></a>
                      <a href="#" class="active">1</a>
                      <a href="#">2</a>
                      <a href="#">3</a>
                      <a href="#"><i class="ion-ios-arrow-forward"></i></a>
                  </div>
