 {%load i18n destinations_tags staticfiles %}
 <!-- categories Section -->
    <div class="container space-top-md-1 space-bottom-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-4">
        <h2 class="text-primary">{% trans "Our"%} <span class="font-weight-semi-bold">{% trans "Categories"%}</span></h2>
      </div>
      <!-- End Title -->
      <!-- Cubeportfolio -->
      <div class="u-cubeportfolio">
        <!-- Filter -->
        <ul id="filterControls" class="list-inline cbp-l-filters-alignRight text-center">
          <li class="list-inline-item cbp-filter-item cbp-filter-item-active u-cubeportfolio__item" data-filter="*">{% trans "All" %}</li>
          {% for categorie in list%}
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".{{categorie.alias}}">{{categorie.name}}</li>
          {%endfor%}          
        </ul>
        <!-- End Filter -->

        <!-- Content -->
        <div class="cbp"
              data-controls="#filterControls"
              data-animation="quicksand"
              data-x-gap="15"
              data-y-gap="15"
              data-media-queries='[
                {"width": 1500, "cols": 4},
                {"width": 1100, "cols": 4},
                {"width": 800, "cols": 3},
                {"width": 480, "cols": 2},
                {"width": 300, "cols": 1}
              ]'>
           {% for categorie in list%}
            <!-- Item -->
              <div class="cbp-item rounded {{categorie.alias}}">
              <a class="cbp-caption" href="{{categorie.alias}}">
                <div class="cbp-caption-defaultWrap">
                  <img src="/main/media/{{ categorie.image }}" alt="{{categorie.name}}">
                </div>
                <div class="cbp-caption-activeWrap bg-primary">
                  <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                      <h4 class="h6 text-white mb-0">{{categorie.name}}</h4>
                      <p class="small text-white-70 mb-0">
                        {{categorie.short_description}}
                      </p>
                    </div>
                  </div>
                  <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0"></h4>
                    </div>
                  </div>
                  <div class="cbp-l-caption-alignRight">
                    <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">{%trans "See more"%} <span class="ml-2 fa fa-arrow-right"></span></h4>
                    </div>
                  </div>
                 
                </div>
              </a>
            </div>
          <!-- End Item -->
           {%endfor%}
        </div>
        <!-- End Content -->
      </div>
      <!-- End Cubeportfolio -->
    </div>
<!-- End Portfolio Section -->
