 {%load i18n destinations_tags staticfiles %}
 <!-- categories Section -->
    <div class="container space-top-md-1 space-bottom-2">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-4">
        <h2 class="text-primary">{% trans "Our"%} <span class="font-weight-semi-bold">{% trans "Categories"%}</span></h2>
      </div>
      <!-- End Title -->
      <!-- Cubeportfolio -->
      <div class="u-cubeportfolio">
        <!-- Filter -->
        <ul id="filterControls" class="list-inline cbp-l-filters-alignRight text-center">
          <li class="list-inline-item cbp-filter-item cbp-filter-item-active u-cubeportfolio__item" data-filter="*">{% trans "All" %}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".branding">{% trans "Adventure" %}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".walks">{% trans "Walks"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".graphic">{% trans "Congresses & +"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".famtrip">{% trans "Famtrip"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".lodging">{% trans "Lodging"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".backpackers">{% trans "Backpackers"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".countries">{% trans "Countries"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".beaches">{% trans "Beaches"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".tours">{% trans "Tours"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".uncategorized">{% trans "Uncategorized"%}</li>
        </ul>
        <!-- End Filter -->

        <!-- Content -->
        <div class="cbp"
              data-controls="#filterControls"
              data-animation="quicksand"
              data-x-gap="15"
              data-y-gap="15"
              data-media-queries='[
                {"width": 1500, "cols": 4},
                {"width": 1100, "cols": 4},
                {"width": 800, "cols": 3},
                {"width": 480, "cols": 2},
                {"width": 300, "cols": 1}
              ]'>
           <!-- Item -->
          <div class="cbp-item rounded branding">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/adventure.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Adventure</h4>
                    <p class="small text-white-70 mb-0">
                      
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded backpackers">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/backpackers.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Backpackers</h4>
                    <p class="small text-white-70 mb-0">
                      
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded beaches">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/beaches.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Beaches</h4>
                    <p class="small text-white-70 mb-0">
                      Vaitāpē, French Polynesia 
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/congress.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Congresses</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration countries">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/countries.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Countries</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded famtrip ">
            <a class="cbp-caption" href="">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/fam-trip.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Fam Trip</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic lodging">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/lodging.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Lodging</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic walks">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/walks.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Walks</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="cbp-item rounded tours lodging">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/tour.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Walks</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->  
        </div>
        <!-- End Content -->
      </div>
      <!-- End Cubeportfolio -->
    </div>
<!-- End Portfolio Section -->
