<li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".branding">{% trans "Adventure" %}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".walks">{% trans "Walks"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".graphic">{% trans "Congresses & +"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".famtrip">{% trans "Famtrip"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".lodging">{% trans "Lodging"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".backpackers">{% trans "Backpackers"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".countries">{% trans "Countries"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".beaches">{% trans "Beaches"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".tours">{% trans "Tours"%}</li>
          <li class="list-inline-item cbp-filter-item u-cubeportfolio__item" data-filter=".uncategorized">{% trans "Uncategorized"%}</li>









           <!-- Item -->
          <div class="cbp-item rounded backpackers">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/backpackers.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Backpackers</h4>
                    <p class="small text-white-70 mb-0">
                     
                    </p>
                  </div>
                </div>
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                  <h4 class="h6 text-white mb-0">{% found_categorie "backparkers" %} {% trans "Found"%}</h4>
                  </div>
                </div>
                <div class="cbp-l-caption-alignRight">
                  <div class="cbp-l-caption-body">
                  <h4 class="h6 text-white mb-0">{%trans "See more"%} <span class="ml-2 fa fa-arrow-right"></span></h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded beaches">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/beaches.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Beaches</h4>
                    <p class="small text-white-70 mb-0">
                      
                    </p>
                  </div>
                </div>
                <div class="cbp-l-caption-alignLeft">
                  <div class="cbp-l-caption-body">
                  <h4 class="h6 text-white mb-0">{% found_categorie "beaches" %} {% trans "Found"%}</h4>
                  </div>
                </div>
                <div class="cbp-l-caption-alignRight">
                  <div class="cbp-l-caption-body">
                  <h4 class="h6 text-white mb-0">{%trans "See more"%} <span class="ml-2 fa fa-arrow-right"></span></h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/congress.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Congresses</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic illustration countries">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/countries.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Countries</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded famtrip ">
            <a class="cbp-caption" href="">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/fam-trip.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Fam Trip</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic lodging">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/lodging.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Lodging</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->

          <!-- Item -->
          <div class="cbp-item rounded graphic walks">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/walks.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Walks</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->
          <!-- Item -->
          <div class="cbp-item rounded tours lodging">
            <a class="cbp-caption" href="#">
              <div class="cbp-caption-defaultWrap">
                <img src="{% static "img/categories/tour.jpg"%}" alt="Image Description">
              </div>
              <div class="cbp-caption-activeWrap bg-primary">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <h4 class="h6 text-white mb-0">Walks</h4>
                    <p class="small text-white-70 mb-0">
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- End Item -->  