{%load i18n destinations_tags staticfiles %}
{% if comment %}
<div id="reviewSection" class="container space-bottom-2 space-bottom-lg-3">
    <div class="row">

        <div class="col-lg-12">
            <div class="pl-lg-12">
                {% for comment in comment %}
                <!-- Review -->
                <div class="border-bottom pb-4 mb-4">
                    <!-- Review Rating -->
                    <div class="d-flex justify-content-between align-items-center text-secondary font-size-1 mb-3">
                        <div class="text-warning">
                        </div>
                        <span>{{ comment.created }} 
                            
                        </span>
                    </div>
                    <!-- End Review Rating -->

                    <h4 class="h6 font-weight-semi-bold text-uppercase">{{ comment.name }}</h4>
                    <p>
                        {{ comment.body }}
                    </p>

                    <!-- Reviewer -->
                    <div class="text-secondary font-size-1 mb-2">
                        <strong class="text-dark">{{ comment.user_comment.get_full_name}}</strong>
                        <span>- {% trans "Verified Purchase" %}</span>
                    </div>
                    <!-- End Reviewer -->

                    <!-- Helpful -->
                    <div class="font-size-1">
                        <span>{% trans 'Was this helpful?' %}</span>
                        
                        <span class="ml-2">
                            <a class="" href="javascript:;" id="safe_heart"><i class="far fa-heart"></i></a>
                        </span>
                        <span class="ml-2">
                            <a  href="" data-toggle="modal" data-target=".answer-modal">
                                <i class="far fa-comments"></i>
                            </a>
                            <!-- Modal-->
                            <div class="modal fade answer-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="BookModalLabel">{% trans "Let us your comment" %}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form name="comment" action="{% url 'make-rw' %}" method="POST">{% csrf_token %}
                                                <div class="form-row">
                                                    <input type="hidden" id="user_id" name="user_id" value="{{ comment.user_comment.pk }}">
                                                </div>
                                                <div class="form-row">
                                                    <input type="hidden" id="destination_id" name="destination_id" value="{{ comment.post.pk }}">
                                                </div>
                                                <div class="form-row">
                                                    <input type="hidden" id="parent_id" name="parent_id" value="{{ comment.pk }}">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">{% trans "Title" %}</span>
                                                    </div>
                                                    <input type="text" readonly class="form-control" required name="name" value="Rw: {{comment.name }}"placeholder="{% trans 'Title' %}"
                                                        aria-label="{% trans 'Amount (to the nearest dollar)' %}">
                                                </div>

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">{% trans "Body" %}</span>
                                                    </div>
                                                    <textarea class="form-control" name="body" placeholder='{% trans "Please let us your message" %}'
                                                        aria-label="{% trans 'With textarea' %}"></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">{% trans 'Close' %}</button>
                                                    <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Fin Modal-->
                        </span>

                    </div>
                    <!-- End Helpful -->
                </div>
                <!-- End Review -->
                {% endfor %}

                <div class="d-sm-flex justify-content-sm-end">
                    <a class="btn btn-soft-primary btn-pill transition-3d-hover px-5 mb-2 mr-3" href="#">{% trans "Read More" %}</a>
                    <button class="btn btn-primary btn-pill transition-3d-hover px-5 mb-2"
                            type="button">{% trans "Write a Review" %}</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}

