{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles destinations_tags %}
{% block extracss %} 
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/ion-rangeslider/css/ion.rangeSlider.css' %}">
{% endblock extracss %}
{% block content %}
  

    <!-- Categories & Filters Section -->
    <div class="container space-3 space-md-3 space-lg-3 space-bottom-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
        <h2 class="text-primary"><span class="font-weight-semi-bold">{{categorie}}</span></h2>
      </div>
      <!-- End Title -->
      <div class="row">
        <div class="col-lg-9">
          <!-- Sorting -->
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 mb-3 mb-lg-0">
              <span class="text-secondary font-size-1 font-weight-normal ml-1">
                {{lista_destinos.count}} {% trans "Destinations"%}
              </span>
            </div>

            <div class="col-lg-6 align-self-lg-end text-lg-right">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <!-- Select -->
                  <select style="width:100%" class="js-select selectpicker dropdown-select"
                          data-size="40"
                          data-width="fit"
                          data-style="btn-soft-secondary btn-md show-menu-arrow">
                    <option data-filter="*" selected="selected" >{% trans "Default Order" %}</option>
                    <option data-filter="2017">{% trans "Sort by popularity" %}</option>
                    <option data-filter="2016">{% trans "Sort by average ranking"%}</option>
                    <option data-filter="2015">{% trans "Sort by last"%}</option>
                    <option data-filter="2016">{% trans "Sort by price: Low to High"%}</option>
                    <option data-filter="2015">{% trans "Sort by price: High to Low"%}</option>
                  </select>
                  <!-- End Select -->
                </li>
              </ul>
            </div>
          </div>
          <!-- End Sorting -->

          <!-- Products -->
          <div class="row mx-n2 mb-2">
            {%for destino in lista_destinos %}
            <div class="col-md-6 col-lg-4 mb-3">
            <!-- Destino Card -->
            <article class="card shadow h-100">
              <img class="card-img-top" src="{{destino.first_pic}}" alt="{{destino.name}}">
              <div class="card-body p-5">
                <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">{{destino.name}}</a>
                <h2 class="h5 font-weight-medium">
                  <a href="single-article.html">{{destino.categorie.name}}</a>
                </h2>
                {{destino.short_description}}
                <div class="d-block">
                        <span class="font-weight-medium">{{destino.generaldetail.regular_price}}</span>
                </div>
              </div>

              <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
                <div class="media align-items-center">
                  <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">{% trans "See"%}</button>
                </div>
              </div>
            </article>
            <!-- End Blog Card -->
          </div>
          {% endfor%}
        </div>
        <!-- End Destinies -->
        <div class="py-3"></div>
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-between align-items-center">
              <li class="page-item ml-0">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo; Prev</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <div class="d-flex align-items-center">
                  <span class="d-none d-sm-inline-block text-secondary">Page:</span>
                  <select class="custom-select custom-select-sm w-auto mx-2">
                    <option value="quantity1">1</option>
                    <option value="quantity2">2</option>
                  </select>
                  <span class="d-none d-sm-inline-block text-secondary">of 8</span>
                </div>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">{% trans "Next" %} &raquo;</span>
                  <span class="sr-only">{% trans "Next" %}</span>
                </a>
              </li>
            </ul>
        </nav>
          <!-- End Pagination -->

          <!-- Divider -->
          <div class="d-lg-none">
            <hr class="my-11">
          </div>
          <!-- End Divider -->
        </div>

        <!-- Filters -->
        <div class="col-lg-3">
          <form>
            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">{% trans "Price" %}</h4>

              <!-- Range Slider -->
              <input class="js-range-slider" type="text"
                     data-extra-classes="u-range-slider u-range-slider-indicator u-range-slider-grid"
                     data-type="double"
                     data-grid="true"
                     data-hide-from-to="false"
                     data-prefix="$"
                     data-min="0"
                     data-max="{{range_max}}"
                     data-from="{{range_min}}"
                     data-to="{{range_max}}"
                     data-result-min="#rangeSliderExample3MinResult"
                     data-result-max="#rangeSliderExample3MaxResult">
              <div class="d-flex justify-content-between mt-4">
                <input type="text" class="form-control form-control-sm max-width-10" id="rangeSliderExample3MinResult">
                <input type="text" class="form-control form-control-sm max-width-10 mt-0" id="rangeSliderExample3MaxResult">
              </div>
              <!-- End Range Slider -->
            </div>

            <div class="border-bottom pb-4 mb-4">
              <h4 class="h6 mb-3">{% trans "Category"%}</h4>
              {% simple_list_categorie as list_categories%}
              {% for categorie in list_categories%}
                <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="category{{categorie.alias}}" checked>
                    <label class="custom-control-label text-lh-md" for="category{{categorie.alias}}">{{categorie.name}}</label>
                  </div>
                  <small>{% found_categorie categorie.alias %}</small>
                </div>
                {% if forloop == 5 %}
                  <div class="collapse" id="collapseCategory">
                {% endif%}

                {% if forloop > 5 %}
                  <div class="form-group d-flex align-items-center justify-content-between font-size-1 text-lh-md text-secondary mb-1">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="category{{categorie.alias}}" checked>
                      <label class="custom-control-label text-lh-md" for="category{{categorie.alias}}">{{categorie.name}}</label>
                    </div>
                    <small>{% found_categorie categorie.alias %}</small>
                  </div>
                {%endif%}
              {% endfor%}
             </div>
              <!-- Link -->
              <a class="link link-collapse small font-size-1" data-toggle="collapse" href="#collapseCategory" role="button" aria-expanded="false" aria-controls="collapseCategory">
                <span class="link-collapse__default">{% trans "View more" %}</span>
                <span class="link-collapse__active">{% trans "View less" %}</span>
                <span class="link__icon ml-1">
                  <span class="link__icon-inner">+</span>
                </span>
              </a>
              <!-- End Link -->
            </div>
          </form>
        </div>
        <!-- End Filters -->
      </div>
    </div>
    <!-- End Products & Filters Section -->

 {% endblock content %}

{% block extrajs %}
<script src="{% static 'assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/vendor/ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'assets/js/components/hs.selectpicker.js' %}"></script>
<script src="{% static 'assets/js/components/hs.range-slider.js' %}"></script>
<script>
  $.HSCore.components.HSRangeSlider.init('.js-range-slider');
  $.HSCore.components.HSSelectPicker.init('.js-select');
</script>
{% endblock extrajs %}
 