    <!-- Blog Card Section -->
    <div class="container space-2 space-bottom-lg-3">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img18.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Product</a>
              <h2 class="h5 font-weight-medium">
                <a href="single-article.html">InVision design forward fund</a>
              </h2>
              <p>Clark Valberg is the founder and CEO of InVision.</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Nataly Gaga">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
                </div>
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="Emily Milda">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img13.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Business</a>
              <h3 class="h5 font-weight-medium">
                <a href="single-article.html">What CFR (Conversations, Feedback, Recognition) really is about</a>
              </h3>
              <p>For a lot of people these days, Measure What Matters.</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Aaron Larsson">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img19.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Business</a>
              <h3 class="h5 font-weight-medium">
                <a href="single-article.html">Enjoy $1,000 worth of perks with Front for Business</a>
              </h3>
              <p>There are many reasons people choose to join Front for Business.</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img11.jpg" alt="Image Description">
                </div>
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="John O'nolan">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img12.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>

        <div class="col-md-6 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img24.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Business</a>
              <h3 class="h5 font-weight-medium">
                <a href="single-article.html">Front accounts - let's work together</a>
              </h3>
              <p>Are you an accountant? Are you a company formation advisor? Would you like to partner with one of the world's most popular and fastest-growing Fintech startups?</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img11.jpg" alt="Image Description">
                </div>
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="John O'nolan">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img12.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>

        <div class="col-md-6 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img25.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Community</a>
              <h3 class="h5 font-weight-medium">
                <a href="single-article.html">Do millennials care about saving?</a>
              </h3>
              <p>Over the last few years, numerous studies have appeared to confirm a troubling pattern – millennials don't save, they don't care about their financial futures.</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Nataly Gaga">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img17.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Community</a>
              <h3 class="h5 font-weight-medium">
                <a href="single-article.html">Let's revolutionise global payments. Together</a>
              </h3>
              <p>Front is changing the way money moves around the world.</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Aaron Larsson">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
                </div>
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="Hanna Wolfe">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img11.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img26.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Front insider</a>
              <h3 class="h5 font-weight-medium">
                <a href="single-article.html">Should Product Owners think like entrepreneurs?</a>
              </h3>
              <p>Front is a financial technology company. We build products. We do it fast and we do it well..</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Emily Milda">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
                </div>
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle ml-n2" data-toggle="tooltip" data-placement="top" title="John O'nolan">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img12.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <!-- Blog Card -->
          <article class="card shadow h-100">
            <img class="card-img-top" src="../../assets/img/500x280/img21.jpg" alt="Image Description">
            <div class="card-body p-5">
              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href="#">Front academy</a>
              <h3 class="h5 font-weight-medium">
                <a href="single-article.html">What is KYC and why do we need it</a>
              </h3>
              <p>You've read about our app, it came up on your news feed and your mate sent you an invite to sign up.</p>
            </div>

            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
              <div class="media align-items-center">
                <div class="u-sm-avatar u-sm-avatar--bordered rounded-circle" data-toggle="tooltip" data-placement="top" title="Emily Milda">
                  <img class="img-fluid rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
                </div>
                <div class="media-body d-flex justify-content-end text-muted font-size-1 ml-2">
                  July 15
                </div>
              </div>
            </div>
          </article>
          <!-- End Blog Card -->
        </div>
      </div>

      <div class="space-bottom-2"></div>

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination mb-0">
          <li class="page-item mr-auto">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="d-none d-sm-inline-block ml-1">Prev</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item ml-auto">
            <a class="page-link" href="#" aria-label="Next">
              <span class="d-none d-sm-inline-block mr-1">Next</span>
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Pagination -->
    </div>
    <!-- End Blog Card Section -->




 