{%load i18n%}
<!-- Search Section -->
<div class="bg-light col-12 mb-3">
  <div class="container space-1">
    <div class="row mx-gutters-2">
      <div class="col-lg mb-3 mb-lg-3">
        <!-- Search Property Input -->
        <div class="js-focus-state">
          <label class="sr-only" for="searchPropertySr">{%trans "Publicate from"%}</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="searchProperty">
                <span class="fas calendar-alt"></span>
              </span>
            </div>
            <input type="text" class="form-control" name="text" id="searchPropertySr" placeholder="{%trans "Publicate from"%}" aria-label="{%trans "Publicate from"%}" aria-describedby="searchProperty" value="">
          </div>
        </div>
        <!-- End Search Property Input -->
      </div>

      <div class="col-sm-auto ml-md-auto mb-3 mb-lg-0">
        <!-- Filter -->
        <div class="position-relative">
          <a id="filter2DropdownInvoker" class="btn btn-block btn-sm btn-soft-secondary dropdown-toggle" href="javascript:;" role="button"
             aria-controls="filter2Dropdown"
             aria-haspopup="true"
             aria-expanded="false"
             data-unfold-event="click"
             data-unfold-target="#filter2Dropdown"
             data-unfold-type="css-animation"
             data-unfold-duration="300"
             data-unfold-delay="300"
             data-unfold-animation-in="slidefadeIn"
             data-unfold-animation-out="fadeOut">
            <span class="fas fa-filter dropdown-item-icon"></span>
            {% trans "Sort by"%}
          </a>

          <div id="filter2Dropdown" class="dropdown-menu dropdown-unfold dropdown-menu-lg-right dropdown-menu-size-md p-5" aria-labelledby="filter2DropdownInvoker">
            <div class="row">
              <div class="col-sm-6 u-ver-divider u-ver-divider--none-sm mb-4 mb-sm-0">
                <!-- Radio Checkbox -->
                <div class="custom-control custom-radio mb-2">
                  <input type="radio" class="custom-control-input" id="propertyRadioChechbox1" name="propertyRadioChechbox" checked>
                  <label class="custom-control-label" for="propertyRadioChechbox1">
                    {% trans "Show all" %}
                  </label>
                </div>
                <!-- End Radio Checkbox -->

                <!-- Radio Checkbox -->
                <div class="custom-control custom-radio mb-2">
                  <input type="radio" class="custom-control-input" id="propertyRadioChechbox2" name="propertyRadioChechbox">
                  <label class="custom-control-label" for="propertyRadioChechbox2">
                    {%trans "Another Filter"%}
                  </label>
                </div>
                <!-- End Radio Checkbox -->
              </div>

              <div class="col-sm-6">
                <!-- Radio Checkbox -->
                <div class="custom-control custom-radio mb-2">
                  <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox1" name="propertyAddedTimeRadioChechbox" checked>
                  <label class="custom-control-label" for="propertyAddedTimeRadioChechbox1">
                    {% trans "Added anytime" %}
                  </label>
                </div>
                <!-- End Radio Checkbox -->

                <!-- Radio Checkbox -->
                <div class="custom-control custom-radio mb-2">
                  <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox2" name="propertyAddedTimeRadioChechbox">
                  <label class="custom-control-label" for="propertyAddedTimeRadioChechbox2">
                    {% trans "Last 24 hours" %}
                  </label>
                </div>
                <!-- End Radio Checkbox -->

                <!-- Radio Checkbox -->
                <div class="custom-control custom-radio mb-2">
                  <input type="radio" class="custom-control-input" id="propertyAddedTimeRadioChechbox3" name="propertyAddedTimeRadioChechbox">
                  <label class="custom-control-label" for="propertyAddedTimeRadioChechbox3">
                   {%trans "Another time"%}
                  </label>
                </div>
                <!-- End Radio Checkbox -->
              </div>
            </div>
          </div>
        </div>
        <!-- End Filter -->
      </div>

      <div class="col-sm-auto mb-3 mb-lg-0">
        <!-- Filter -->
        <div class="position-relative">
          <a id="filter3DropdownInvoker" class="btn btn-block btn-sm btn-soft-secondary dropdown-toggle" href="javascript:;" role="button"
             aria-controls="filter3Dropdown"
             aria-haspopup="true"
             aria-expanded="false"
             data-unfold-event="click"
             data-unfold-target="#filter3Dropdown"
             data-unfold-type="css-animation"
             data-unfold-duration="300"
             data-unfold-delay="300"
             data-unfold-animation-in="slidefadeIn"
             data-unfold-animation-out="fadeOut">
            <span class="fas fa-money-bill-wave dropdown-item-icon"></span>
            {%trans "Budget &&"%}
          </a>

          <div id="filter3Dropdown" class="dropdown-menu dropdown-unfold dropdown-menu-sm-right dropdown-menu-size-lg p-5" aria-labelledby="filter3DropdownInvoker">
            <div class="row">
              <div class="col-lg-7 u-ver-divider u-ver-divider--none-lg mb-5 mb-lg-0">
                <div class="pr-lg-2">
                  <label class="form-label mb-2">{% trans "Price range" %}</label>

                  <!-- Area Charts -->
                  <div class="position-relative overflow-hidden mb-2" style="height: 80px;">
                    <div class="js-area-chart position-absolute w-100"
                         data-height="80px"
                         data-high="1500"
                         data-low="0"
                         data-offset-x="0"
                         data-offset-y="0"
                         data-is-show-area="true"
                         data-is-show-line="false"
                         data-is-show-point="false"
                         data-is-full-width="true"

                         data-is-stack-bars="true"
                         data-is-show-axis-x="false"
                         data-is-show-axis-y="false"
                         data-is-show-tooltips="false"
                         data-fill-opacity="1"
                         data-fill-colors='["#e7eaf3"]'
                         data-stroke-color="#e7eaf3"
                         data-text-color-x="#77838f"
                         data-text-offset-top-x="0"

                         data-text-size-y=".75rem"
                         data-text-color-y="#77838f"
                         data-points-colors='["#e7eaf3"]'
                         data-series='[
                           [
                             {"value": 289},
                             {"value": 100},
                             {"value": 700},
                             {"value": 500},
                             {"value": 1500},
                             {"value": 200},
                             {"value": 855},
                             {"value": 321},
                             {"value": 75}
                           ]
                         ]'></div>

                      <div id="foregroundAreaChartDoubleResult" class="position-absolute h-100 overflow-hidden">
                        <div class="js-area-chart position-absolute"
                             data-height="80px"
                             data-high="1500"
                             data-low="0"
                             data-offset-x="0"
                             data-offset-y="0"
                             data-is-show-area="true"
                             data-is-show-line="false"
                             data-is-show-point="false"
                             data-is-full-width="true"

                             data-is-stack-bars="true"
                             data-is-show-axis-x="false"
                             data-is-show-axis-y="false"
                             data-is-show-tooltips="false"
                             data-fill-opacity="1"
                             data-fill-colors='["#377dff"]'
                             data-stroke-color="#377dff"
                             data-text-color-x="#77838f"
                             data-text-offset-top-x="0"

                             data-text-size-y=".75rem"
                             data-text-color-y="#77838f"
                             data-points-colors='["#377dff"]'
                             data-series='[
                               [
                                 {"value": 289},
                                 {"value": 100},
                                 {"value": 700},
                                 {"value": 500},
                                 {"value": 1500},
                                 {"value": 200},
                                 {"value": 855},
                                 {"value": 321},
                                 {"value": 75}
                               ]
                             ]'></div>
                      </div>
                  </div>
                  <!-- End Area Charts -->

                  <!-- Range Slider -->
                  <input class="js-range-slider" type="text"
                         data-extra-classes="u-range-slider"
                         data-type="double"
                         data-prefix="$"
                         data-foreground-target="#foregroundAreaChartDoubleResult"
                         data-min="0"
                         data-max="{{range_max.regular_price__max|floatformat:0}}"
                         data-from="{{range_min.regular_price__min|floatformat:0}}"
                         data-to="{{range_max.regular_price__max|floatformat:0}}"
                         data-result-min="#rangeSliderExample7MinResult"
                         data-result-max="#rangeSliderExample7MaxResult">

                  <div class="d-flex justify-content-between align-items-center mt-6">
                    <div>
                      <span class="text-muted">{% trans "Min price" %}:</span>
                      <span id="rangeSliderExample7MinResult" class="text-muted"></span>
                    </div>
                    <div>
                      <span class="text-muted">{% trans "Max price" %}:</span>
                      <span id="rangeSliderExample7MaxResult" class="text-muted"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-5">
                <div class="pl-lg-2">
                  <label class="form-label mb-2">{% trans "Status" %}</label>

                  <!-- Button Group -->
                  <div class="btn-group btn-group-toggle d-flex mb-5" data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-secondary btn-custom-toggle-primary flex-fill active">
                      <input type="radio" name="options" id="option1" checked>
                        {% trans "last minute"%}
                    </label>
                    <label class="btn btn-sm btn-outline-secondary btn-custom-toggle-primary flex-fill">
                      <input type="radio" name="options" id="option2">
                        {% trans "another status"%}
                    </label>
                  </div>
                  <!-- End Button Group -->

                  <!-- Rooms -->
                  <div class="row mx-gutters-2">
                    <div class="col-6">
                      <label class="form-label mb-2">{% trans "Beds"%}</label>

                      <!-- Select -->
                      <select class="js-select selectpicker dropdown-select"
                              data-size="10"
                              data-width="100%"
                              data-style="btn-soft-secondary btn-sm">
                        <option value="bedValueAll" selected>All</option>
                        <option value="bedValueMin1">1</option>
                        <option value="bedValueMin2">2</option>
                        <option value="bedValueMin3">3</option>
                        <option value="bedValueMin4">4</option>
                        <option value="bedValueMin5">5</option>
                        <option value="bedValueMin6">6</option>
                        <option value="bedValueMin7">7</option>
                        <option value="bedValueMin8">8</option>
                        <option value="bedValueMin9">9</option>
                        <option value="bedValueMin10">10</option>
                      </select>
                      <!-- End Select -->
                    </div>

                    <div class="col-6">
                      <!-- Select -->
                      <label for="bathLabel" class="form-label mb-2">{% trans "Baths" %}</label>

                      <select id="bathLabel" class="js-select selectpicker dropdown-select"
                              data-size="10"
                              data-width="100%"
                              data-style="btn-soft-secondary btn-sm">
                        <option value="bedValueAll" selected>All</option>
                        <option value="bedValueMax1">1</option>
                        <option value="bedValueMax2">2</option>
                        <option value="bedValueMax3">3</option>
                        <option value="bedValueMax4">4</option>
                        <option value="bedValueMax5">5</option>
                        <option value="bedValueMax6">6</option>
                        <option value="bedValueMax7">7</option>
                        <option value="bedValueMax8">8</option>
                        <option value="bedValueMax9">9</option>
                        <option value="bedValueMax10">10</option>
                      </select>
                      <!-- End Select -->
                    </div>
                  </div>
                  <!-- End Rooms -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Filter -->
      </div>

      <div class="col-sm-auto">
        <button type="submit" class="btn btn-sm btn-primary">{% trans "Filter"%}</button>
      </div>
    </div>
  </div>
</div>
<!-- End Search Section -->
