<!-- Gallery Section -->
<div class="container-fluid position-relative p-2 mb-3">
  <div class="row mx-gutters-1">
    <div class="col-md-8 col-lg-6">
      <!-- Gallery -->
      <a class="js-fancybox u-media-viewer" href="javascript:;"
         data-src="../../assets/img/1920x1080/img36.jpg"
         data-fancybox="fancyboxGallery6"
         data-caption="Front in frames - image #01"
         data-speed="700"
         data-is-infinite="true">
        <img class="img-fluid" src="../../assets/img/900x455/img1.jpg" alt="Image Description">

        <div class="position-absolute bottom-0 right-0 pb-3 pr-3">
          <span class="d-md-none btn btn-sm btn-white">
            <span class="fas fa-expand mr-2"></span>
            View Photos
          </span>
        </div>
      </a>
      <!-- End Gallery -->
    </div>

    <div class="col-md-4 col-lg-3 d-none d-md-inline-block">
      <!-- Gallery -->
      <a class="js-fancybox u-media-viewer mb-2" href="javascript:;"
         data-src="../../assets/img/1920x1080/img37.jpg"
         data-fancybox="fancyboxGallery6"
         data-caption="Front in frames - image #02"
         data-speed="700"
         data-is-infinite="true">
        <img class="img-fluid" src="../../assets/img/450x225/img1.jpg" alt="Image Description">
      </a>
      <!-- End Gallery -->

      <!-- Gallery -->
      <a class="js-fancybox u-media-viewer" href="javascript:;"
         data-src="../../assets/img/1920x1080/img38.jpg"
         data-fancybox="fancyboxGallery6"
         data-caption="Front in frames - image #03"
         data-speed="700"
         data-is-infinite="true">
        <img class="img-fluid" src="../../assets/img/450x225/img2.jpg" alt="Image Description">

        <div class="position-absolute bottom-0 right-0 pb-3 pr-3">
          <span class="d-sm-inline-block d-lg-none btn btn-sm btn-white">
            <span class="fas fa-expand mr-2"></span>
            View Photos
          </span>
        </div>
      </a>
      <!-- End Gallery -->
    </div>

    <div class="col-lg-3 d-none d-lg-inline-block">
      <!-- Gallery -->
      <a class="js-fancybox u-media-viewer mb-2" href="javascript:;"
         data-src="../../assets/img/1920x1080/img39.jpg"
         data-fancybox="fancyboxGallery6"
         data-caption="Front in frames - image #04"
         data-speed="700"
         data-is-infinite="true">
        <img class="img-fluid" src="../../assets/img/450x225/img3.jpg" alt="Image Description">
      </a>
      <!-- End Gallery -->

      <!-- Gallery -->
      <a class="js-fancybox u-media-viewer" href="javascript:;"
         data-src="../../assets/img/1920x1080/img40.jpg"
         data-fancybox="fancyboxGallery6"
         data-caption="Front in frames - image #04"
         data-speed="700"
         data-is-infinite="true">
        <img class="img-fluid" src="../../assets/img/450x225/img4.jpg" alt="Image Description">

        <div class="position-absolute bottom-0 right-0 pb-3 pr-3">
          <span class="d-none d-lg-inline-block btn btn-sm btn-white">
            <span class="fas fa-expand mr-2"></span>
            View Photos
          </span>
        </div>
      </a>
      <!-- End Gallery -->

      <img class="js-fancybox d-none" alt="Image Description"
           data-fancybox="fancyboxGallery6"
           data-src="../../assets/img/1920x1080/img41.jpg"
           data-caption="Front in frames - image #05"
           data-speed="700"
           data-is-infinite="true">
      <img class="js-fancybox d-none" alt="Image Description"
           data-caption="Front in frames - image #06"
           data-src="../../assets/img/1920x1080/img42.jpg"
           data-fancybox="fancyboxGallery6"
           data-speed="700"
           data-is-infinite="true">
    </div>
  </div>
</div>