{%load i18n destinations_tags staticfiles %}
<!-- Testimonials Section -->
<div class="bg-light">
    <div class="container space-2">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
            <span class="btn btn-xs btn-soft-primary btn-pill mb-2">{% trans 'Testimonials' %}</span>
            <h2 class="h5 font-weight-normal">{% trans 'Know our audiencie' %}</h2>
        </div>
        <!-- End Title -->
        <!-- Slick Carousel -->
        <div class="js-slick-carousel u-slick u-slick-zoom u-slick--gutters-3"
            data-slides-show="3"
            data-center-mode="true"
            data-autoplay="true"
            data-speed="5000"
            data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
            data-responsive='[{
            "breakpoint": 992,
            "settings": {
            "slidesToShow": 2
            }
            }, {
            "breakpoint": 768,
            "settings": {
            "slidesToShow": 1
            }
            }]'>
            {% for testimony in list %}
            <div class="js-slide my-4">
                <!-- Testimonials -->
                <div class="u-slick-zoom__slide text-center">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body p-7">
                            <p class="mb-0">{{ testimony.comment }}</p>
                        </div>
                    </div>
                    <div class="position-relative z-index-2 mt-n5 mb-3">
                        <div class="u-avatar mx-auto">
                            <img class="img-fluid rounded-circle" src="/main/media/{{ testimony.photo }}" alt="Image Description">
                        </div>
                    </div>
                    <h4 class="h6 mb-0">{{ testimony.author }}</h4>
                    <p class="small">{{ testimony.place }}</p>
                </div>
                <!-- End Testimonials -->
            </div>
            {% endfor %}
        </div>
        <!-- End Slick Carousel -->
    </div>
</div>
<!-- End Testimonials Section -->

