{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ num }}"
         aria-expanded="false"
         class="collapsed text-uppercase">
        {% trans "Additional tab" as default_tab %}
        {% if form.instance.pk %}
          {{ form.instance.option_tab.name }}
        {% else %}
          {{ default_tab }}
        {% endif %}
      </a>
      <a class="pull-right" href="#" onclick="deleteTabData(event, this);">
        <i class="fa fa-remove fa-lg text-danger"></i> {% trans 'Delete' %}
      </a>
    </h5>
  </div>
  <div id="collapse{{ num }}" class="panel-collapse collapse" aria-expanded="false"
       style="height: 0px;">
    <div class="panel-body">
      {% for field in form %}
        {% if not field.is_hidden %}
          <div class="form-group">
            <label class="col-lg-3 control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
            <div class="col-lg-9">
              {{ field }}
              <span class="help-block m-b-none">{{ field.help_text|safe }}</span>
              {{ field.errors }}
            </div>
          </div>
        {% else %}
          {{ field }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>