{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{%load destinations_tags%}
{% block title %}{% trans 'Community' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}

{% block content %}
<br><br><br><br>
<main id="content" role="main">
    <!-- Login Form -->
    <div class="container space-2">
        <form class="js-validate w-md-75 w-lg-50 mx-md-auto" novalidate="novalidate">
            <!-- Title -->
            <div class="mb-7">
                <h1 class="h3 text-primary font-weight-normal mb-0">{% trans 'Forgot your' %} <span
                        class="font-weight-semi-bold">{% trans 'password?' %}</span></h1>
                <p>{% trans "Enter your email address below and we'll get you back on track." %}</p>
            </div>
            <!-- End Title -->

            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="form-label" for="signinSrEmail">{% trans 'Email address' %}</label>
                <input type="email" class="form-control" name="email" id="signinSrEmail" placeholder="{% trans 'Email address' %}"
                    aria-label="{% trans 'Email address' %}" required="" data-msg="{% trans 'Please enter a valid email address.' %}'"
                    data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
            <!-- End Form Group -->

            <!-- Button -->
            <div class="row align-items-center mb-5">
                <div class="col-4 col-sm-6">
                    <a class="small link-muted" href="{% url 'login-community' %}">{% trans 'Back to sign in' %}</a>
                </div>

                <div class="col-8 col-sm-6 text-right">
                    <button type="submit" class="btn btn-primary transition-3d-hover">{% trans 'Request Reset Link' %}</button>
                </div>
            </div>
            <!-- End Button -->
        </form>
    </div>
    <!-- End Login Form -->
</main>
{% endblock %}
