{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{%load destinations_tags%}
{% block title %}{% trans 'Comunity' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}

{% block content %}
<br><br><br>
<main id="content" role="main">
    <!-- Login Form -->
    <div class="container space-2">
        <form class="js-validate w-md-75 w-lg-50 mx-md-auto" novalidate="novalidate">
            <!-- Title -->
            <div class="mb-7">
                <h2 class="h3 text-primary font-weight-normal mb-0">{% blocktrans %} Welcome <span
                        class="font-weight-semi-bold">to Community</span>{% endblocktrans %}</h2>
                <p>{% trans 'Login to manage your account.' %}</p>
            </div>
            <!-- End Title -->

            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="form-label" for="signinSrEmail">{% trans 'Email address' %}</label>
                <input type="email" class="form-control" name="email" id="signinSrEmail" placeholder="{% trans 'Email address' %}"
                    aria-label="Email address" required="" data-msg="{% trans 'Please enter a valid email address.%}"
                    data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
            <!-- End Form Group -->

            <!-- Form Group -->
            <div class="js-form-message form-group">
                <label class="form-label" for="signinSrPassword">
                    <span class="d-flex justify-content-between align-items-center">
                        {% trans 'Password' %}
                        <a class="link-muted text-capitalize font-weight-normal"
                            href="recover-account-simple.html">{% trans 'Forgot Password?' %}</a>
                    </span>
                </label>
                <input type="password" class="form-control" name="password" id="signinSrPassword" placeholder="********"
                    aria-label="********" required="" data-msg="{% trans 'Your password is invalid. Please try again.' %}'"
                    data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
            <!-- End Form Group -->

            <!-- Button -->
            <div class="row align-items-center mb-5">
                <div class="col-6">
                    <span class="small text-muted">{% trans 'Don't have an account?'%}</span>
                    <a class="small" href="signup-simple.html">{% trans 'Signup' %}</a>
                </div>

                <div class="col-6 text-right">
                    <button type="submit" class="btn btn-primary transition-3d-hover">{% trans 'Login' %}</button>
                </div>
            </div>
            <!-- End Button -->
        </form>
    </div>
    <!-- End Login Form -->
</main>

{% endblock %}