{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{%load destinations_tags%}
{% block title %}{% trans 'Comunity' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}

{% block content %}
<br><br><br>
<main id="content" role="main">
    <!-- Login Form -->
    <div class="container space-2">
        <form class="js-validate w-md-75 w-lg-50 mx-md-auto" novalidate="novalidate" method="POST">{% csrf_token %}
            <!-- Title -->
            <div class="mb-7">
                <h2 class="h3 text-primary font-weight-normal mb-0">{% blocktrans %} Welcome <span class="font-weight-semi-bold">to
                        Community</span>{% endblocktrans %}</h2>
                <p>{% trans 'Login to manage your account.' %}</p>
            </div>
            <!-- End Title -->

            {% for field in form %}
                <!-- Form Group-->
                <div class="js-form-message form-group">
                    {{ field }}
                    <span class="small u-has-error text-danger">{{ field.errors }}</span>
                    <span class="small u-has-success">{{ field.help_text }}</span>
                </div>
                <!-- End Form Group -->
            {% endfor%}



            <!-- End Form Group -->

            <!-- Checkbox -->
            <div class="js-form-message mb-5">
                <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                    <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox"
                        required="" data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error"
                        data-success-class="u-has-success">
                    <label class="custom-control-label" for="termsCheckbox">
                        <small>
                            {% trans 'I agree to the'%}
                            <a class="link-muted" href="/policy/">{% trans 'Terms and Conditions'%}</a>
                        </small>
                    </label>
                </div>
            </div>
            <!-- End Checkbox -->

            <!-- Button -->
            <div class="row align-items-center mb-5">
                <div class="col-5 col-sm-6">
                    <span class="small text-muted">{% trans 'Already have an account?'%}</span>
                    <a class="small" href="{% url 'login-community' %}">{% trans 'Login' %}</a>
                </div>

                <div class="col-7 col-sm-6 text-right">
                    <button type="submit" class="btn btn-primary transition-3d-hover">{% trans 'Get Started' %}</button>
                </div>
            </div>
            <!-- End Button -->
        </form>
    </div>
    <!-- End Login Form -->
</main>

{% endblock %}