.navbar-static-top {
    position: relative;
    max-height: 120px;
    z-index: 1030;
    -webkit-box-shadow: 5px 0 10px rgba(0,0,0,0.5);
    box-shadow: 5px 0 10px rgba(0,0,0,0.5);
}

.tarvelsolutions-skin .minimalize-styl-2 {
  margin: 14px 5px 5px 30px;
}
.tarvelsolutions-skin .navbar-top-links li:last-child {
  margin-right: 30px;
}
.tarvelsolutions-skin.fixed-nav .minimalize-styl-2 {
  margin: 14px 5px 5px 15px;
}
.tarvelsolutions-skin .spin-icon {
  background: #0e9aef !important;
}
.tarvelsolutions-skin .nav-header {
  background-color: #377dff !important;
  background-image: url('patterns/header-profile-tarvelsolutions-skin.png');
}
.tarvelsolutions-skin.mini-navbar .nav-second-level {
  background: #3e495f;
}
.tarvelsolutions-skin .breadcrumb {
  background: transparent;
}
.tarvelsolutions-skin .page-heading {
  border: none;
}
.tarvelsolutions-skin .nav > li.active {
  background: #3a4459;
}
.tarvelsolutions-skin .nav > li > a {
  color: #9ea6b9;
}
.tarvelsolutions-skin ul.nav-second-level {
  background-color: inherit;
}
.tarvelsolutions-skin .nav > li.active > a {
  color: #fff;
}
.tarvelsolutions-skin .navbar-minimalize {
  background-color: #377dff !important;
  border-color: #377dff;
}
body.tarvelsolutions-skin {
  background: #3e495f;
}
.tarvelsolutions-skin .navbar-static-top {
  background: #ffffff;
}
.tarvelsolutions-skin .dashboard-header {
  background: transparent;
  border-bottom: none !important;
  border-top: none;
  padding: 20px 30px 10px 30px;
}
.fixed-nav.tarvelsolutions-skin .navbar-fixed-top {
  background: #fff;
}
.tarvelsolutions-skin .wrapper-content {
  padding: 30px 15px;
}
.tarvelsolutions-skin #page-wrapper {
  background: #f4f6fa;
}
.tarvelsolutions-skin .ibox-title,
.tarvelsolutions-skin .ibox-content {
  border-width: 1px;
}
.tarvelsolutions-skin .ibox-content:last-child {
  border-style: solid solid solid solid;
}
.tarvelsolutions-skin .nav > li.active {
  border: none;
}
.tarvelsolutions-skin .nav-header {
  padding: 35px 25px 25px 25px;
}
.tarvelsolutions-skin .nav-header a.dropdown-toggle {
  color: #fff;
  margin-top: 10px;
}
.tarvelsolutions-skin .nav-header a.dropdown-toggle .text-muted {
  color: #fff;
  opacity: 0.8;
}
.tarvelsolutions-skin .profile-element {
  text-align: center;
}
.tarvelsolutions-skin .img-circle {
  border-radius: 5px;
}
.tarvelsolutions-skin .navbar-default .nav > li > a:hover,
.tarvelsolutions-skin .navbar-default .nav > li > a:focus {
  background: #3a4459;
  color: #fff;
}
.tarvelsolutions-skin .nav.nav-tabs > li.active > a {
  color: #555;
}
.tarvelsolutions-skin .nav.nav-tabs > li.active {
  background: transparent;
}

.ibox-travel-tools {
    display: block;
    float: none;
    margin-top: -32px;
    position: relative;
    padding-bottom: 0px;
    text-align: right;
}