.wizard > .content > .body ul {
    list-style: none !important;
}

.wizard > .content > .body input {
    border: none;
}

.wizard > .content > .body {
    float: left;
    position: unset;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    z-index: 3051;
}

.product-input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    padding: 5px 10px;
    text-align: center;
}

.product-input-group-addon {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.product-input-group-addon{
    display: table-cell;
}


.mw-wrap {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 80%;
    min-width: 500px;
    margin-bottom: 10px;
    display: contents;
    overflow: hidden;
}

.pac-container {
    z-index: 2050;

}
