.wizard > .content > .body ul {
    list-style: none !important;
}

.wizard > .content > .body input {
    border: none;
}

.wizard > .content > .body {
    float: left;
    position: unset;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
