{%load i18n destinations_tags staticfiles mptt_tags landing_extra mathfilters %}
<div class="container-fluid" style="background: #eeeeee;">
    <div class="row">
        <div class="col">
            <!-- Cubeportfolio Section -->
            <div class="">
                <!-- Content -->
                <div class="cbp "
                    data-controls="#cubeFilter"
                    data-x-gap="16"
                    data-y-gap="16"
                    data-media-queries='[
                    {"width": 1500, "cols": 4},
                    {"width": 1100, "cols": 4},
                    {"width": 800, "cols": 3},
                    {"width": 480, "cols": 2},
                    {"width": 300, "cols": 1}
                    ]'>
                    <!-- Item -->
                    <div class="card-sm-columns card-sm-2-count card-lg-3-count">
                        <!-- from here-->
                        {% for plan in plans %}
                        <div class="cbp-item ">
                            <div class="">
                                <!-- Pricing -->
                                <div class="card text-center mb-5 mb-md-0">
                                    <!-- Header -->
                                    

                                    <header class="card-header p-5">
                                        <h4 class="h6 text-success">{{ plan }}</h4>
                                        {% for price in plan.price.all %}
                                            <div class="{% ifequal price.type.type  'Anual' %}anual{% else %}mensual{% endifequal %}">
                                                {% if not price.value %}
                                                    {% trans "This plan is only for yearly subscription" %}
                                                {% else %}
                                                    {% if price.type.type == 'Mensual' %}
                                                        <span class="h1 text-dark font-weight-medium">
                                                            <span class="align-top font-size-3">
                                                                {{ price.value}}
                                                            </span>
                                                        </span>
                                                        <span class="text-secondary">
                                                            {% trans "Monthly"  as name %}
                                                            {{name}}
                                                        </span><br>
                                                        {% trans "Select Anual contract and save:" %}<br>
                                                        <span class="text-warning">
                                                            {{ plan.price.all.1.value|mul:12|sub:plan.price.all.0.value }}
                                                        </span>
                                                        <div class="card-body p-5">
                                                            <center>
                                                                <button type="button" class="btn btn-xs btn-soft-danger btn-pill mb-2 text-center" data-toggle="modal" data-target="#theModal-{{plan.pk}}">{% trans 'See plan details' %}</button>
                                                            </center>
                                                            <a type="submit" id="test-with-is" class="btn btn-sm btn-block btn-success transition-3d-hover" href="{% url 'accounts:register2' valor=name int=plan.id %}">{% trans 'Register' %}</a>
                                                        </div>
                                                    {% elif price.type.type == 'Anual' %}
                                                        <span class="h1 text-dark font-weight-medium">
                                                            <span class="align-top font-size-3">
                                                                {{ price.value}}
                                                            </span>
                                                        </span>
                                                        <span class="text-secondary">
                                                            {% trans "Yearly" as name %}
                                                            {{ name }}
                                                        </span><br>
                                                        {% if  plan.name != 'Fremium' and plan.name != 'Publi365' %}
                                                        <span class="h3 text-success">
                                                            {{ price.value|div:12}} {% trans "/ month" %}
                                                        </span><br>
                                                            <span class="text-secondary font-size-8 ml-4 text-success">
                                                                {% trans "You save:" %}
                                                            </span>
                                                            <del>
                                                                {{ plan.price.all.1.value|mul:12|sub:plan.price.all.0.value }}
                                                            </del>
                                                            <div class="card-body p-5">
                                                                <center>
                                                                    <button type="button" class="btn btn-xs btn-soft-danger btn-pill mb-2 text-center" data-toggle="modal" data-target="#theModal-{{plan.pk}}">{% trans 'See plan details' %}</button>
                                                                </center>
                                                                <a type="submit" id="test-with-is" class="btn btn-sm btn-block btn-success transition-3d-hover" href="{% url 'accounts:register2' valor=name int=plan.id %}">{% trans 'Register' %}</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}

                                            </div>

                                        {% endfor %}
                                    </header>
                                    <!-- End Header -->
                                </div>
                                <!-- End Pricing -->
                            </div>
                        </div>
                        {% endfor %}
                        <!-- hasta aquí-->
                    </div>
                    <!-- End Item -->
                </div>
                <!-- End Content -->
            </div>
            <!-- End Cubeportfolio Section -->
        </div>
        <div class="col-3 d-none d-sm-block">
            <!-- Pricing -->
            <div class="card transition-3d-hover mt-1">
                <!-- Header -->
                <header class="card-header text-center ">
                    <span class="d-block">
                    <span class="h3 text-dark font-weight-normal">
                    {% trans 'Contact Us' %}
                    </span>
                    <span class="d-block text-secondary font-size-1">{% trans "Limitless" %}</span>
                    </span>
                </header>
                <!-- End Header -->
                <!-- Content -->
                <div class="card-body ">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                        <path class="fill-primary" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                            C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                            c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                            C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z">
                        </path>
                    </svg>
                    </br>
                    <p>
                        {% blocktrans %}
                        if what you see doesn't appeal to you because you want to create a plan tailored to your needs,
                        contact us and we'll work that out together.
                        {% endblocktrans %}
                    </p>
                    <a type="button" class="btn btn-sm btn-block btn-success transition-3d-hover"
                       href="mailto:hamburgo@travelposting.com" tabindex="0">{% trans 'Contact Us' %}</a>
                </div>
                <!-- End Content -->
                <!-- End Pricing -->
            </div>
        </div>
    </div>
</div>
<!-- Modal -->



<!--New Modal-->
{% for plan in plans %}

<!--Modal: modalPush-->
<div class="modal fade" id="theModal-{{plan.pk}}" tabindex="-1" role="dialog" aria-labelledby="TestModal{{plan.pk}}Label"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info modal-lg" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">{{ plan }}</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-info-circle fa-4x animated rotateIn mb-4"></i>

        <ul class=" list-group list-group-flush list-group-borderless mb-4">
                {% with features=plan|show_features %}
                {% for node in features %}
                    {% if node.is_leaf_node %}
                    <li id="detail-{{ plan.id }}" class="">{{ node }}</li>
                    {% else %}
                    <li id="detail-{{ plan.id }}" class=" ">
                        {{ node }}
                        <ul class="list-group list-group-flush list-group-borderless mb-4">
                            {% for child in node|get_children_plan:plan %}
                            <li class="">
                                {{ child }}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
                {% endwith %}
                </span>
            </ul>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a type="button" class="btn btn-sm btn-danger transition-3d-hover"
           data-dismiss="modal" title="{% trans 'Close' %}">{% trans 'Close' %}</a>
        <a href="/es/accounts/register/{{ plan.id }}"
           class="btn btn-sm btn-primary transition-3d-hover"
           title="{% trans 'Register' %}">{% trans 'Register' %}</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalPush--> 
{% endfor%}
