{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{% load mathfilters %}
{% load destinations_tags%}
{% block title %}{% trans 'Change password' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}
{% block extracss %}
<style>
    .read_at {
        color: #b71c1c;
    }
</style>
{% endblock extracss %}
{% block content %}
<br><br><br><br>
<main id="content" role="main">
    {% include 'community/dashboard/breadcrumb.html' %}
    <!-- Content Section -->
    <div class="bg-light">
        <div class="container space-2">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">{% trans "Error!" %} </h4>
                    {% for field in form %}
                    {% if field.errors %}
                    <p class="alert-text" style="font-size: 12px;">{{ field.errors|striptags }}</p>
                    {% endif %}
                    {% endfor %}
                </div>                
            {% endif %}
            {% if msg %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">{% trans "Well done!" %} </h4>
                <p class="alert-text">{{ msg }}</p>
                <hr />
            </div>
            {% endif %}

            <form id="changePasswordForm" class="js-validate" novalidate="novalidate" method="post">
                {%csrf_token%}
                <!-- Input -->
                <div class="js-form-message mb-6">
                    <label class="form-label">
                        {% trans "Current password" %}
                    </label>

                    <div class="form-group">
                        <input type="password" class="form-control" name="old_password"
                            placeholder="{% trans 'Enter your current password' %}" aria-label="{% trans 'Enter your current password' %}"
                            required="" data-msg="{% trans 'Password does not match.' %}" data-error-class="u-has-error"
                            data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="mb-6">
                    <div class="js-form-message u-has-error">
                        <label class="form-label">
                            {% trans 'New password' %}
                        </label>

                        <div class="form-group">
                            <input id="newPassword" type="password" class="form-control" name="new_password1"
                                placeholder="{% trans 'Enter your password' %}" aria-label="{% trans 'Enter your password' %}" required=""
                                data-msg="{% trans 'Please enter your password.' %}'" data-error-class="u-has-error"
                                data-success-class="u-has-success" data-pwstrength-container="#changePasswordForm"
                                data-pwstrength-progress="#passwordStrengthProgress"
                                data-pwstrength-verdict="#passwordStrengthVerdict"
                                data-pwstrength-progress-extra-classes="bg-white height-4" aria-invalid="true"
                                aria-describedby="newPassword-error">
                        </div>
                        <div id="newPassword-error" class="invalid-feedback" style="display: block;">{% trans "Please enter your password." %}</div>
                    </div>
                </div>
                <!-- End Input -->

                <!-- Input -->
                <div class="js-form-message mb-6">
                    <label class="form-label">
                        {% trans "Confirm password" %}
                    </label>

                    <div class="form-group">
                        <input type="password" class="form-control" name="new_password2"
                            placeholder="{% trans 'Confirm your password' %}" aria-label="{% trans 'Confirm your password' %}" required=""
                            data-msg="{% trans 'Password does not match the confirm password.' %}'" data-error-class="u-has-error"
                            data-success-class="u-has-success">
                    </div>
                </div>
                <!-- End Input -->

                <div class="w-lg-50">


                    <!-- Buttons -->
                    <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">{% trans "Save Password" %}</button>
                    <a href="{% url 'dashboard-community' %}" class="btn btn-sm btn-soft-secondary transition-3d-hover"
                       title="{% trans 'Cancel' %}">{% trans "Cancel" %}</a>
                    <!-- End Buttons -->
                </div>
            </form>
        </div>
    </div>
    <!-- End Content Section -->
</main>

{%endblock content %}