{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{% load mathfilters %}
{% load destinations_tags%}
{% block title %}{% trans 'Comunity' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}
{% block content %}
<br><br><br><br>
<main id="content" role="main">
    {% include 'community/dashboard/breadcrumb.html'%}
    <div class="bg-light">
        <div class="container space-2">
            <!-- Search -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-9">
                        <div class="text-center mb-4">
                            <h2 class="h1 font-weight-medium">{% trans "Search Result"%}</h2>
                        </div>
                        <form class="js-validate js-form-message w-lg-85 mx-lg-auto" action="{% url 'search_results' %}"
                            method="get">
                            <div class="input-group input-group-pill">
                                <input type="text" class="form-control" name="q"
                                    placeholder="{% trans 'Search our community members'%}" aria-label="Email address"
                                    aria-describedby="subscribeButton" required="">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary btn-sm-wide" id="subscribeButton"> <i
                                            class="fas fa-search fa-1x"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mb-4">
                            <p>{% trans "You can search by first name, last name or email"%}</p>
                        </div>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
            <!-- End search -->
            <hr>
            <!--result search -->
            <div class="row justify-content-between align-items-center mb-4">
                <!-- Title -->
                <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
                    <h2 class="h6 mb-0">
                        {{ count.count|sub:1 }}
                        {% trans "members found" %}
                    </h2>
                </div>
                <!-- End Title -->
                <!-- Filter -->
                <div class="col-sm-8 col-md-6 text-sm-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-sm btn-soft-primary active" href="{% url 'dashboard-community'%}">
                                <span class="fas fa-th-large"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Filter -->
            </div>

            <!-- user list-->
            {% for u in object_list %}
            <div class="card position-relative mb-5">
                <div class="card-body position-relative p-3">
                    <div class="row align-items-center">
                        <div class="col-sm-7 mb-3 mb-sm-0">
                            <div class="d-flex">
                                <!-- Avatar -->
                                <div class="position-relative u-lg-avatar mr-3">
                                        {% if u.avatar %}
                                        <img src="/main/media/{{ u.avatar }}" class="img-fluid  rounded-circle"/>
                                        {% else %}
                                        <img src="{% static 'img/user.png'%}" width="80" class="img-responsive" alt="Actualize su foto de Perfil" />
                                        {% endif %}

                                    <span
                                        class="badge badge-xs badge-outline-primary badge-pos badge-pos--bottom-left rounded-circle"></span>
                                </div>
                                <!-- End Avatar -->

                                <div class="mr-3">
                                    <!-- User Info -->
                                    <div class="mb-2">
                                        <h2 class="h6 mb-0">
                                            <a href="{% url 'profile_detail' u.id %}">{{ u.get_full_name }}</a>
                                        </h2>
                                        <a class="small" href="{% url 'profile_detail' u.id %}">{{ u.email }}</a>
                                    </div>
                                    <!-- End User Info -->

                                    <!-- Social Networks -->
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-0">
                                            <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle" href="{{ u.facebook }}">
                                                <span class="fab fa-facebook-f btn-icon__inner"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle" href="mailto://{{ u.email }}">
                                                <span class="fab fa-google btn-icon__inner"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle" href="{{ u.twitter }}">
                                                <span class="fab fa-twitter btn-icon__inner"></span>
                                            </a>
                                        </li>
                                        <li class="list-inline-item mr-0">
                                            <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle" href="{{ u.instagram }}">
                                                <span class="fab fa-instagram btn-icon__inner"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- End Social Networks -->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-5 align-self-sm-end">
                            <!-- Button -->
                            <div class="text-sm-right">
                                <a class="btn btn-sm btn-soft-primary transition-3d-hover" data-toggle="modal" data-target=".bd-example-modal-lg{{u.id}}">
                                    <span class="far fa-envelope mr-2"></span>
                                    Send a Message
                                </a>
                            </div>
                            <!-- End Button -->
                        </div>
                    </div>

                    <!-- Add to Favorites -->
                    <a class="btn btn-sm btn-icon btn-soft-warning btn-bg-transparent position-absolute top-0 right-0 rounded-circle mt-3 mr-3"
                        href="javascript:;" data-toggle="tooltip" data-placement="top" title="Add to favorites">
                        <span class="far fa-star btn-icon__inner"></span>
                    </a>
                    <!-- End Add to Favorites -->
                </div>
            </div>

            <!-- the modal-->
            <div class="modal fade bd-example-modal-lg{{u.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'send-messages' %}">{% csrf_token %}
                            <input type="hidden" name="recipient" value="{{ u.id}}">
                            <input type="hidden" name="sender" value="{{ request.user.id }}">
                            <div class="modal-header">
                                <h5 class="modal-title">{% trans "Send message to" %} {{ u.get_full_name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">{% trans "Subject" %}:</label>

                                    <input type="text" name="subject" placeholder='{% trans "Subject" %}'
                                        class="form-control input-group-pill mb-2">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">{% trans "Message" %}:</label>
                                    <textarea class="form-control input-group-pill mb-2 " name="message"
                                        id="message-text"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                                <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
                            </div>

                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end user list-->
            <!--end result search-->

        </div>
    </div>

</main>
{% endblock %}