{% load i18n cms_tags menu_tags sekizai_tags staticfiles %}
<header id="header" class="u-header u-header-center-aligned-nav u-header--bg-transparent u-header--white-nav-links-md u-header--sub-menu-dark-bg-md u-header--abs-top"
    data-header-fix-moment="500"
    data-header-fix-effect="slide">
    <div class="u-header__section">
        <div id="logoAndNav" class="container">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
                <!-- White Logo -->
                <img src="{% static 'img/logo-round-0.5x.png' %}" width="30">
                <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white" href="index.html" aria-label="Front">
                <span class="u-header__navbar-brand-text">{% trans 'Travelposting' %}</span>
                </a>
                <!-- End White Logo -->

                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                    <ul class="navbar-nav u-header__navbar-nav">
                        <!-- Home -->
                        {% show_menu 0 100 100 100 "menu/menu.html" %}
                        <!-- End Button -->
                    </ul>
                </div>
                <!-- End Navigation -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>