{% extends "base.html" %}
{% load cms_tags i18n menu_tags sekizai_tags staticfiles%}
{%load destinations_tags%}
{% block title %}{% trans 'Community' %}{% endblock title %}
{% block navbar %}
{% include 'menu/navbar_all.html' %}
{% endblock navbar %}

{% block content %}
<br><br><br><br>
<main id="content" role="main">
    <!-- Breadcrumb Section -->
    {% include 'community/dashboard/breadcrumb.html' %}

    <!-- End Breadcrumb Section -->

    <!-- Content Section -->
    <div class="bg-light">
        <div class="container space-2">
            <div class="row">
                <div class="col-lg-3 mb-7 mb-lg-0">
                    <!-- Profile Card -->
                    <div class="card p-1 mb-4">
                        <div class="card-body text-center">
                            <div class="mb-3">
                                {% if user.avatar %}
                                <img src="/main/media/{{ user.avatar }}" class="u-lg-avatar  rounded-circle"/>
                                {% else %}
                                <img src="{% static 'img/user.png' %}" width="80" class="img-responsive" alt="Actualize su foto de Perfil" />
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <h1 class="h6 font-weight-medium mb-0">{{ members.get_full_name }}</h1>
                            </div>

                            <div class="mb-2">
                                <button class="btn btn-sm btn-soft-primary transition-3d-hover" data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <span class="far fa-envelope mr-2"></span>
                                    {% trans "Send a Message" %}
                                </button>
                            </div>

                            <a class="text-secondary small" href="#">
                                <i class="far fa-flag mr-1"></i> {% trans "Report this user" %}
                            </a>
                        </div>
                    </div>
                    <!-- End Profile Card -->

                    {% if not members.facebook and not members.twitter and not members.instagram and not members.linkedin %}

                    {% else %}
                    <!-- Social Profiles -->
                    <div class="card mb-4">
                        <div class="card-header pt-4 pb-3 px-0 mx-4">
                            <h3 class="h6 mb-0">{% trans 'Social Profiles' %}</h3>
                        </div>

                        <div class="card-body pt-3 pb-4 px-4">
                            <!-- Social Profiles -->
                            {% if members.twitter %}
                            <!-- Social Profiles -->
                            <a class="media mb-4" href="{{ members.twitter }}">
                                <div class="u-sm-avatar mr-3">
                                    <img class="img-fluid" src="{% static 'assets/img/160x160/img19.png' %}"
                                         alt="{% trans 'Image Description' %}">
                                </div>
                                <div class="media-body">
                                    <span class="d-block text-dark">Twitter</span>
                                </div>
                            </a>
                            {% endif %}
                            <!-- End Social Profiles -->
                            {% if members.facebook %}
                            <!-- Social Profiles -->
                            <a class="media" href="{{ members.facebook }}">
                                <div class="u-sm-avatar mr-3">
                                    <img class="img-fluid" src="{% static 'assets/img/160x160/img20.png' %}"
                                         alt="{% trans 'Image Description' %}">
                                </div>
                                <div class="media-body">
                                    <span class="d-block text-dark">Facebook</span>
                                </div>
                            </a>
                            <!-- End Social Profiles -->
                            {% endif %}
                        </div>
                    </div>
                    <!-- End Social Profiles -->
                    {% endif %}
                </div>

                <div class="col-lg-9">
                    <!-- User Details -->
                    <div class="mb-4">
                        <h2 class="h4">{% trans "Hey, I'am " %} {{ members.get_full_name}}</h2>
                    </div>
                    <!-- End User Details -->

                    <!-- Info -->
                    <div class="mb-4">
                        {% if members.about_me == 'None' %}
                        {% else%}
                        <p>{{ members.about_me }}</p>
                        {% endif %}
                    </div>
                    <!-- End Info -->

                    <!-- Collections -->
                    <ul class="list-inline d-flex align-items-center">
                        <li class="list-inline-item mb-3 mb-sm-0 mr-5">
                            <div class="d-flex align-items-center">
                                <img class="mr-2" src="{% static 'assets/svg/illustrations/referral.svg' %}"
                                     alt="{% trans 'Image Description' %}" style="width: 40px;">
                                <div class="text-secondary">
                                    {% trans "+3 Referrals" %}
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mb-3 mb-sm-0">
                            <div class="d-flex align-items-center">
                                <img class="mr-2" src="{% static 'assets/svg/illustrations/verified-user.svg' %}"
                                     alt="{% trans 'Image Description' %}" style="width: 40px;">
                                <div class="text-secondary">
                                    {% trans "Verified" %}
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- End Collections -->

                    <hr class="my-7">

                    <!-- Icon Blocks -->
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <!-- List Group -->
                            <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                                
                                <li class="list-group-item pt-0 pb-4">
                                    <div class="media">
                                        <span class="fas fa-link list-group-icon mr-3"></span>
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block mb-1">{% trans 'Web page:' %}</span>
                                            <a href="#">{% if members.web_site == None %}{% else%}{{members.web_site }}{% endif %}</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item pt-0 pb-4">
                                    <div class="media">
                                        <span class="fas fa-map-marker-alt list-group-icon mr-3"></span>
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block mb-1">{% trans 'Location' %}:</span>
                                            <a href="#">{{ members.country }}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End List Group -->
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <!-- List Group -->
                            <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                                <li class="list-group-item pt-0 pb-4">
                                    <div class="media">
                                        <span class="fas fa-globe list-group-icon mr-3"></span>
                                        <div class="media-body text-lh-sm">
                                            <span class="d-block mb-1">{% trans 'Language' %}:</span>
                                            <span class="d-block text-muted">{% if members.language == 'None' %}{%else%}{{ members.language}}{% endif%}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- End List Group -->
                        </div>
                    </div>
                    <!-- End Icon Blocks -->

                    <hr class="my-7">

                    <!-- Title -->
                    <div id="reviews" class="mb-3">
                        <h3 class="h4 mb-0">{% trans 'Reviews' %}</h3>
                    </div>
                    <!-- End Title -->

                    <!-- Reviews -->
                    {% for comment in reviews %}
                    <div>
                        <!-- Author -->
                        <div class="media mb-3">
                                {% if user.avatar %}
                                <img src="/main/media/{{ user.avatar }}" class="u-avatar rounded-circle mr-3" />
                                {% else %}
                                <img src="{% static 'img/user.png' %}" width="80" class="u-avatar rounded-circle mr-3" alt="Actualize su foto de Perfil" />
                                {% endif %}


                            <div class="media-body align-self-center">
                                <h4 class="d-inline-block mb-1">
                                    <a class="d-block h6 mb-0" href="#">{{ members.get_full_name}}</a>
                                </h4>
                                <ul class="list-inline text-warning small mb-0">
                                    <li class="list-inline-item mx-0">
                                        <span class="fas fa-star"></span> {{ comment.post.name }}
                                    </li>

                                </ul>
                            </div>

                            <div class="media-body text-right">
                                <small class="d-block text-muted">{{ comment.created }}</small>
                            </div>
                        </div>
                        <!-- End Author -->

                        <p>{{ comment.body }}</p>

                        <!-- Likes/Reply -->
                        <ul class="list-inline d-flex">
                            <li class="list-inline-item ml-auto">
                                <a class="text-secondary" href="#">
                                    <span class="far fa-comments mr-1"></span>
                                    {% trans "Reply" %}
                                </a>
                            </li>
                        </ul>
                        <!-- End Likes/Reply -->
                    </div>
                    <hr class="my-7">

                    {% endfor %}
                    <!-- End Reviews -->

        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if reviews.has_previous %}
                <li class="page-item disabled">
                    <a href="?page=1"><span class="page-link">
                            << </span> </a> </li> <li class="page-item disabled">
                                <a href="?page={{ reviews.previous_page_number }}"><span class="page-link">{% trans 'Previous' %}</span></a>
                </li>
                {% endif %}
                {% for num in reviews.paginator.page_range %}
        
                {% if reviews.number == num %}
                <li class="page-item"><a class="page-link">{{ num }}</a></li>
        
                {% elif num > reviews.number|add:'-3' and num < reviews.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
        
                {% endfor %}
        
                {% if reviews.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ reviews.next_page_number }}">{% trans 'Next' %}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ reviews.paginator.num_pages }}">>></a>
                </li>
                {% endif %}
        
            </ul>
        </nav>

                </div>
            </div>
        </div>
    </div>
    <!-- End Content Section -->
</main>


<!-- the modal-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'send-messages' %}">{% csrf_token %}
                <input type="hidden" name="recipient" value="{{ members.id}}">
                <input type="hidden" name="sender" value="{{ request.user.id }}">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Send message to" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">{% trans "Subject" %}:</label>

                    <input type="text" name="subject" placeholder='{% trans "Subject" %}'
                        class="form-control input-group-pill mb-2">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">{% trans "Message" %}:</label>
                    <textarea class="form-control input-group-pill mb-2 " name="message"  id="message-text"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
            </div>
            
        </div>
    </div>
</div>
<!-- end the modal-->
{% endblock content%}
